Repository M-o-a-T/moat: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, pytest-modified

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      # id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.3
    hooks:
      - id: ruff
        args: [--fix, --show-fixes]
      - id: ruff-format
        exclude: "docs/.*"

  - repo: local
    hooks:
    - id: check-yaml
      name: check yaml
      description: checks yaml files (understands MoaT tags)
      entry: pre_commit_hooks/check-yaml
      language: python
      types: [yaml]
      args: [--allow-multiple-documents]

    - id: pytest-modified
      name: pytest on modified modules
      description: runs pytest on test directories for modified moat modules
      entry: pre_commit_hooks/pytest
      language: python
      types: [python]
      pass_filenames: true
      require_serial: true

  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.406
    hooks:
    - id: pyright
      files: "moat/lib/pid|moat/util/path.py|tests/moat_lib_pid|tests/moat_util/test_path.py"
      additional_dependencies:
        - simpleeval
        - pytest
        - anyio
        - numpy

Versioning
  packaging/moat-kv/debian/changelog
  packaging/moat-lib-xknx/debian/changelog
  packaging/moat-link-gate/debian/changelog
  packaging/moat-link-job/debian/changelog
  packaging/moat-link-knx/debian/changelog
  packaging/moat-link-metrics/debian/changelog
  packaging/moat-link-notify/debian/changelog
  packaging/moat-link-schema/debian/changelog
  packaging/moat-link-server/debian/changelog
  packaging/moat-link-wago/debian/changelog
  packaging/moat-link-wago/pyproject.toml
  packaging/moat-link/debian/changelog
  packaging/moat/debian/changelog
  versions.yaml
Due: check-yaml

WAGO: debug me
  moat/link/wago/worker.py
Due: pytest-modified

Build version 26.2.6
  packaging/moat-link-wago/debian/changelog
  packaging/moat-link-wago/pyproject.toml
  versions.yaml
Due: check-yaml

Properly resume timed outputs after restart
  moat/link/wago/worker.py
  tests/moat_link_wago/test_worker.py
Due: pytest-modified

Build version 26.2.7
  packaging/moat-lib-xknx/debian/changelog
  packaging/moat-link-wago/debian/changelog
  packaging/moat-link-wago/pyproject.toml
  versions.yaml
Due: check-yaml

Owch. AIs can be dumb.
  moat/link/wago/task.py
Due: pytest-modified

Improve error message
  moat/link/wago/model.py
Due: pytest-modified

moat.src: prevent next_tag(incr=False) from mutating vers.pkg
  moat/src/_repo.py
Due: pytest-modified

Add migration plan for moat.db.rain (Django rainman → SQLAlchemy)
  docs/moat-db-rain/MIGRATION.md
  docs/moat-db-rain/index.md
  docs/moat-db/index.md
Due: none

Scaffold the moat.db.rain submodule
  docs/index.md
  docs/moat-db-rain/MIGRATION.md
  moat/db/_cfg.yaml
  moat/db/rain/__init__.py
  moat/db/rain/_main.py
  moat/db/rain/cmds/__init__.py
  moat/db/rain/cmds/controller.py
  moat/db/rain/engine.py
  moat/db/rain/model.py
  moat/db/rain/model_.py
  moat/db/rain/monitor.py
  moat/db/rain/range.py
  packaging/moat-db-rain/README.md
  packaging/moat-db-rain/debian/.gitignore
  packaging/moat-db-rain/debian/changelog
  packaging/moat-db-rain/debian/control
  packaging/moat-db-rain/debian/py3dist-overrides
  packaging/moat-db-rain/debian/rules
  packaging/moat-db-rain/debian/source/format
  packaging/moat-db-rain/moat-db-rain@.service
  packaging/moat-db-rain/pyproject.toml
  pyproject.toml
  tests/moat_db_rain/test_smoke.py
Due: check-yaml, pytest-modified

Fixup
  moat/db/rain/_main.py
Due: pytest-modified

Adjust menu doc lines
  moat/db/label/_main.py
  moat/db/thing/_main.py
Due: pytest-modified

Don't annotate click errors, don't replace with RuntimeError
  moat/db/util.py
Due: pytest-modified

The hidden "--help" command was superfluous.
  docs/moat-db-rain/MIGRATION.md
  moat/kv/akumuli/_main.py
  moat/kv/command/job.py
  moat/kv/obj/command.py
  moat/link/knx/_main.py
  moat/link/metrics/_main.py
  moat/link/wago/_main.py
Due: pytest-modified

Implement the moat.db.rain leaf models (Phase 2)
  docs/moat-db-rain/MIGRATION.md
  moat/db/rain/model.py
  moat/db/util.py
  tests/moat_db_rain/test_model.py
Due: pytest-modified

Rename the weather-meter entity to "Sensor"
  docs/moat-db-rain/MIGRATION.md
  moat/db/rain/_main.py
  moat/db/rain/model.py
  tests/moat_db_rain/test_model.py
Due: pytest-modified

Add the moat.db.rain branch models (Phase 3)
  docs/moat-db-rain/MIGRATION.md
  moat/db/rain/model.py
  tests/moat_db_rain/test_branch.py
Due: pytest-modified

Type MoaT-link address columns as moat.lib.path.Path
  docs/moat-db-rain/MIGRATION.md
  moat/db/rain/model.py
  tests/moat_db_rain/test_branch.py
  tests/moat_db_rain/test_model.py
Due: pytest-modified

Drop Site/Controller var, rename Feed.var→flow_monitor, nullable Valve.command
  docs/moat-db-rain/MIGRATION.md
  moat/db/rain/model.py
  tests/moat_db_rain/test_branch.py
  tests/moat_db_rain/test_model.py
Due: pytest-modified

Add rich apply() methods to moat.db.rain (Phase 4, batch 1)
  docs/moat-db-rain/MIGRATION.md
  moat/db/rain/model.py
  moat/db/rain/model_.py
  tests/moat_db_rain/test_apply.py
Due: pytest-modified

Complete the moat.db.rain apply() methods (Phase 4, batch 2)
  moat/db/rain/model.py
  tests/moat_db_rain/test_apply.py
Due: pytest-modified

Add the moat.db.rain Alembic revision (Phase 5)
  docs/moat-db-rain/MIGRATION.md
  moat/db/alembic/versions/9a3f1c7e4b2d.py
  tests/moat_db_rain/test_migration.py
Due: pytest-modified

Add the moat.db.rain CLI: site + controller CRUD (Phase 6, batch 1)
  docs/moat-db-rain/MIGRATION.md
  moat/db/rain/_main.py
  moat/db/rain/cmds/_util.py
  moat/db/rain/cmds/add.py
  moat/db/rain/cmds/controller.py
  moat/db/rain/cmds/delete.py
  moat/db/rain/cmds/set.py
  moat/db/util.py
  tests/moat_db_rain/test_cli.py
Due: pytest-modified

Add feed + sensor CRUD to the moat.db.rain CLI (Phase 6, batch 2)
  docs/moat-db-rain/MIGRATION.md
  moat/db/rain/cmds/feed.py
  moat/db/rain/cmds/sensor.py
  tests/moat_db_rain/test_cli.py
Due: pytest-modified

Add valve and env-group CLI commands for moat.db.rain
  moat/db/rain/cmds/_util.py
  moat/db/rain/cmds/controller.py
  moat/db/rain/cmds/env.py
  moat/db/rain/cmds/feed.py
  moat/db/rain/cmds/sensor.py
  moat/db/rain/cmds/valve.py
  tests/moat_db_rain/test_cli.py
Due: pytest-modified

Add day and day-range CLI commands for moat.db.rain
  moat/db/rain/cmds/_util.py
  moat/db/rain/cmds/day.py
  moat/db/rain/cmds/dayrange.py
  moat/db/rain/cmds/valve.py
  tests/moat_db_rain/test_cli.py
Due: pytest-modified

Add valve-group CLI command for moat.db.rain
  moat/db/rain/cmds/_util.py
  moat/db/rain/cmds/group.py
  tests/moat_db_rain/test_cli.py
Due: pytest-modified

Complete the rain CLI: overrides, schedules, levels, history, logs
  moat/db/rain/cmds/_util.py
  moat/db/rain/cmds/group.py
  moat/db/rain/cmds/history.py
  moat/db/rain/cmds/valve.py
  tests/moat_db_rain/test_cli.py
Due: pytest-modified

Document the completed Phase 6 CLI surface in the migration plan
  docs/moat-db-rain/MIGRATION.md
Due: none

Accept '-' as a dummy site for global rain subcommands
  moat/db/rain/_main.py
  moat/db/rain/cmds/day.py
  moat/db/rain/cmds/dayrange.py
  tests/moat_db_rain/test_cli.py
Due: pytest-modified

Reframe Site.rate as evaporation, stored in mm/second
  docs/moat-db-rain/MIGRATION.md
  moat/db/alembic/versions/9a3f1c7e4b2d.py
  moat/db/rain/_main.py
  moat/db/rain/cmds/_util.py
  moat/db/rain/cmds/add.py
  moat/db/rain/cmds/set.py
  moat/db/rain/model.py
  tests/moat_db_rain/test_cli.py
  tests/moat_db_rain/test_model.py
Due: pytest-modified

Share one SQLite DB across the rain CLI tests, wiping rows per test
  tests/moat_db_rain/test_cli.py
Due: pytest-modified

Extract shared rain test fixtures to conftest.py; seed via ORM
  tests/moat_db_rain/conftest.py
  tests/moat_db_rain/test_apply.py
  tests/moat_db_rain/test_branch.py
  tests/moat_db_rain/test_cli.py
  tests/moat_db_rain/test_model.py
Due: pytest-modified

moat.db.inv: add migration plan from moat.kv.inv
  docs/moat-db-inv/MIGRATION.md
Due: none

moat.db.label: defer fpdf2 import to print time
  moat/db/label/_main.py
Due: pytest-modified

moat.db.inv: lock in migration-plan decisions D1-D6
  docs/moat-db-inv/MIGRATION.md
Due: none

moat.lib.config: skip redundant rebuilds and converge in one redo
  moat/lib/config/_impl.py
  tests/moat_lib_config/test_redo.py
Due: pytest-modified

moat.db.inv: rework model — interface on VLAN, addresses in own table
  docs/moat-db-inv/MIGRATION.md
Due: none

moat.db.inv: don't store MAC-derived link-local; resolve Q6-Q10
  docs/moat-db-inv/MIGRATION.md
Due: none

Port the rain scheduler interval algebra to range.py (Phase 7)
  docs/moat-db-rain/MIGRATION.md
  moat/db/rain/range.py
  tests/moat_db_rain/test_range.py
Due: pytest-modified
