Repository M-o-a-T/moat: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, pytest-modified

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      # id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.3
    hooks:
      - id: ruff
        args: [--fix, --show-fixes]
      - id: ruff-format
        exclude: "docs/.*"

  - repo: local
    hooks:
    - id: check-yaml
      name: check yaml
      description: checks yaml files (understands MoaT tags)
      entry: pre_commit_hooks/check-yaml
      language: python
      types: [yaml]
      args: [--allow-multiple-documents]

    - id: pytest-modified
      name: pytest on modified modules
      description: runs pytest on test directories for modified moat modules
      entry: pre_commit_hooks/pytest
      language: python
      types: [python]
      pass_filenames: true
      require_serial: true

  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.406
    hooks:
    - id: pyright
      files: "moat/lib/pid|moat/util/path.py|tests/moat_lib_pid|tests/moat_util/test_path.py"
      additional_dependencies:
        - simpleeval
        - pytest
        - anyio
        - numpy

Ty-ize moat.util.path
  moat/util/path.py
Due: pytest-modified

bd sync: 2026-01-03 13:40:54
  .beads/issues.jsonl
Due: none

light clarification
  AGENTS.md
Due: none

Makefile: Create venv
  Makefile
Due: none

Fix dependencies
  pyproject.toml
Due: none

Use ty, not pyright
  .pre-commit-config.yaml
Due: check-yaml

Enable ty on moat.lib.priomap
  moat/lib/priomap/_impl.py
  tests/moat_lib_priomap/test_priomap.py
Due: pytest-modified

Missing module for pre-commit
  pyproject.toml
Due: none

Added result types
  moat/lib/priomap/_impl.py
Due: pytest-modified

Document typing guidelines
  AGENTS.md
  uv.lock
Due: none

more typing
  AGENTS.md
Due: none

Add types to moat.lib.broadcast
  moat/lib/broadcast/_impl.py
  pyproject.toml
Due: pytest-modified

formatting
  pyproject.toml
Due: none

annoying warning
  pyproject.toml
Due: none

Add types to moat.lib.micro
  moat/lib/micro/__init__.py
  pyproject.toml
Due: pytest-modified

Clarify Python version requirements for moat.lib.micro
  AGENTS.md
Due: none

Add typed overloads for AC_use function
  moat/lib/micro/__init__.py
Due: pytest-modified

Drop _doc() decorator function
  moat/lib/micro/__init__.py
Due: pytest-modified

Add tests for our async exit stack wrapper
  tests/moat_micro/test_micro.py
Due: pytest-modified

Re-order tests
  .pre-commit-config.yaml
Due: check-yaml

minor doc cleanup
  docs/common/index.md
  docs/index.md
  docs/moat-lib.md
  docs/moat-micro/index.md
  packaging/moat-lib-config/README.md
Due: none

Add ability to import "input"
  moat/lib/repl/__init__.py
  moat/lib/repl/input_.py
  moat/lib/repl/reader.py
Due: pytest-modified

Another AGENTS.md update
  AGENTS.md
Due: none

Ty-clean-d moat.lib.repl
  moat/lib/repl/__init__.py
  moat/lib/repl/_test.py
  moat/lib/repl/commands.py
  moat/lib/repl/console.py
  moat/lib/repl/fancy_termios.py
  moat/lib/repl/historical_reader.py
  moat/lib/repl/reader.py
  moat/lib/repl/readline.py
  moat/lib/repl/rpc.py
  moat/lib/repl/simple_interact.py
  moat/lib/repl/unix_console.py
  moat/lib/repl/utils.py
  moat/lib/stream/base.py
  pyproject.toml
Due: pytest-modified

Tell ty to use 3.13 as its baseline
  pyproject.toml
Due: none

Adjust Windows REPL support to (hopefully) work.
  moat/lib/repl/windows_console.py
  pyproject.toml
Due: pytest-modified

bd sync: 2026-01-04 17:54:58
  .beads/issues.jsonl
Due: none

Add __all__ to modbus.server
  moat/modbus/server.py
Due: pytest-modified

Forgot to fix this import
  moat/lib/repl/historical_reader.py
Due: pytest-modified

Some noise from doc
  moat/bus/server/control/__init__.py
  moat/ems/battery/_base.py
  moat/modbus/client.py
Due: pytest-modified

no pylint
  AGENTS.md
Due: none

Dependency fixups
  pyproject.toml
Due: none

bd sync: 2026-01-04 22:31:14
  .beads/issues.jsonl
Due: none

Nonsense for pymodbus 3.11
  moat/modbus/__init__.py
  moat/modbus/_compat.py
  moat/modbus/client.py
  moat/modbus/dev/server.py
  moat/modbus/server.py
Due: pytest-modified

more dev dependencies
  pyproject.toml
Due: none

Missing dependency
  packaging/moat-lib-mqtt/pyproject.toml
  pyproject.toml
Due: none

Moved gate command handler to ./gate subdir
  moat/link/gate/_main.py
Due: pytest-modified

Moved notify and gate to separate packages
  packaging/moat-link-gate/Makefile
  packaging/moat-link-gate/README.md
  packaging/moat-link-gate/debian/.gitignore
  packaging/moat-link-gate/debian/changelog
  packaging/moat-link-gate/debian/control
  packaging/moat-link-gate/debian/rules
  packaging/moat-link-gate/pyproject.toml
  packaging/moat-link-notify/Makefile
  packaging/moat-link-notify/README.md
  packaging/moat-link-notify/debian/.gitignore
  packaging/moat-link-notify/debian/changelog
  packaging/moat-link-notify/debian/control
  packaging/moat-link-notify/debian/moat-link-notify.service
  packaging/moat-link-notify/debian/rules
  packaging/moat-link-notify/pyproject.toml
  packaging/moat-link-notify/systemd/moat-link-notify.service
Due: none

Moved notify
  moat/link/_cfg.yaml
  moat/link/notify/_cfg.yaml
Due: check-yaml

Fix tag updater
  moat/src/build.py
Due: pytest-modified
