Repository M-o-a-T/moat: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, pytest-modified

check-yaml:
  name: check yaml
  description: checks yaml files (understands MoaT tags)
  entry: pre_commit_hooks/check-yaml
  language: python
  args:
  - --allow-multiple-documents

pytest-modified:
  name: pytest on modified modules
  description: runs pytest on test directories for modified moat modules
  entry: pre_commit_hooks/pytest
  language: python
  pass_filenames: true
  require_serial: true

Add ty type checking to moat.dev packages
  moat/dev/__init__.py
  moat/dev/_main.py
  moat/dev/heat/__init__.py
  moat/dev/heat/_main.py
  moat/dev/heat/kwb.py
  moat/dev/heat/solvis.py
  moat/dev/sew/__init__.py
  moat/dev/sew/_main.py
  moat/dev/sew/control.py
  pyproject.toml
Due: pytest-modified

Fox sync mqtt client setup
  moat/lib/mqtt/sync_client.py
  tests/moat_lib_mqtt/test_sync_client.py
Due: pytest-modified

Race: env.stdout may linger from earlier test
  tests/moat_lib_config/test_notgiven_reload.py
Due: pytest-modified

Use VictoriaMetrics' export function for stringent testing
  moat/link/metrics/backend/victoria/__init__.py
  pyproject.toml
  tests/moat_link_metrics_victoria/test_victoria.py
Due: pytest-modified

Fix µmPy test.
  moat/lib/stream/_console.py
Due: pytest-modified

Fix moat-g69: route js/ sources into moat-nodered Debian packaging
  docs/moat-src/ARCHITECTURE.md
  moat/src/_repo.py
  packaging/moat-nodered/debian/rules
  packaging/moat-src/pkg-map.yaml
Due: check-yaml, pytest-modified

Docs: drop obsolete moat.nodered API page
  docs/moat-nodered/api.rst
  docs/moat-nodered/index.md
Due: none

Add Modbus monitoring code (Sans-IO driver)
  docs/moat-lib-modbus/ARCHITECTURE.md
  moat/lib/modbus/framer.py
  moat/modbus/_main.py
  packaging/moat-lib-modbus/README.md
  tests/moat_lib_modbus/test_monitor.py
  tests/moat_modbus/test_monitor_cli.py
Due: pytest-modified

Fix moat.db.src: register model_/model in schema loader
  moat/db/_cfg.yaml
Due: check-yaml

Fix moat.db.src: seed branch 'updated' from commit date on import
  moat/db/src/_git.py
  tests/moat_db_src/test_import_export.py
Due: pytest-modified

Fix moat.modbus: stop double-buffering in the RTU/TCP readers
  moat/modbus/client.py
  tests/moat_modbus/test_reader_buffering.py
Due: pytest-modified

We rebased.
  versions.yaml
Due: check-yaml

Fix README file name
  packaging/moat-db-box/pyproject.toml
  packaging/moat-db-label/pyproject.toml
  packaging/moat-db-thing/pyproject.toml
  packaging/moat-db/pyproject.toml
  packaging/moat-dev-sew/pyproject.toml
  packaging/moat-dev/pyproject.toml
  packaging/moat-ems-battery/pyproject.toml
  packaging/moat-ems-inv/pyproject.toml
  packaging/moat-ems-victron/pyproject.toml
  packaging/moat-kv-akumuli/pyproject.toml
  packaging/moat-kv-cal/pyproject.toml
  packaging/moat-kv-gpio/pyproject.toml
  packaging/moat-kv-ha/pyproject.toml
  packaging/moat-kv-inv/pyproject.toml
  packaging/moat-kv-knx/pyproject.toml
  packaging/moat-kv-ow/pyproject.toml
  packaging/moat-kv-wago/pyproject.toml
  packaging/moat-kv/pyproject.toml
  packaging/moat-lib-codec/pyproject.toml
  packaging/moat-lib-gpio/pyproject.toml
  packaging/moat-lib-modbus/pyproject.toml
  packaging/moat-lib-mqtt/pyproject.toml
  packaging/moat-link-server/pyproject.toml
  packaging/moat-link/pyproject.toml
  packaging/moat-micro/pyproject.toml
  packaging/moat-modbus/pyproject.toml
  packaging/moat-mqtt/pyproject.toml
  packaging/moat-src/pyproject.toml
  packaging/moat-util/pyproject.toml
Due: none

*sigh*
  packaging/moat-nodered/.gitignore
Due: none

Build version 26.2.13
  packaging/moat-lib-modbus/debian/.gitignore
  packaging/moat-lib-modbus/debian/control
  packaging/moat-lib-modbus/debian/rules
  packaging/moat-lib-modbus/pyproject.toml
  versions.yaml
Due: check-yaml

moat.src.build: add prune_for_gtag to trim repeated release stanzas
  moat/src/build.py
  tests/moat_src/test_prune.py
Due: pytest-modified

Use current µPy branch
  versions.yaml
Due: check-yaml

Dep update
  versions.yaml
Due: check-yaml

Build version 26.3.2
  packaging/moat-db-box/pyproject.toml
  packaging/moat-db-label/pyproject.toml
  packaging/moat-db-rain/pyproject.toml
  packaging/moat-db-thing/pyproject.toml
  packaging/moat-db/pyproject.toml
  packaging/moat-lib-modbus/debian/changelog
  packaging/moat-link-job/pyproject.toml
  packaging/moat-link-knx/pyproject.toml
  packaging/moat-link-ow/pyproject.toml
  packaging/moat-link-wago/pyproject.toml
  packaging/moat-mcp/pyproject.toml
  packaging/moat-src/debian/changelog
  packaging/moat-src/pyproject.toml
  versions.yaml
Due: check-yaml

feat(moat-link-server): -L/--local option, don't volunteer as leader
  moat/link/server/_cfg.yaml
  moat/link/server/_main.py
  moat/link/server/_server.py
  packaging/moat-link-server/README.md
  tests/moat_link_server/test_local_mode.py
Due: check-yaml, pytest-modified

fix(test): activate config context for local-mode default check
  moat/link/server/_main.py
  moat/link/server/_server.py
  tests/moat_link_server/test_local_mode.py
Due: pytest-modified

Build version 26.3.3
  packaging/moat-db-box/debian/changelog
  packaging/moat-db-label/debian/changelog
  packaging/moat-db-rain/debian/changelog
  packaging/moat-db-thing/debian/changelog
  packaging/moat-db/debian/changelog
  packaging/moat-link-job/debian/changelog
  packaging/moat-link-knx/debian/changelog
  packaging/moat-link-ow/debian/changelog
  packaging/moat-link-server/debian/changelog
  packaging/moat-link-server/pyproject.toml
  packaging/moat-link-wago/debian/changelog
  packaging/moat-mcp/debian/changelog
  packaging/moat-src/debian/changelog
  versions.yaml
Due: check-yaml

KNX: register as a service
  moat/link/knx/_main.py
Due: pytest-modified

feat(moat-link): -L/--local option restricting clients to the local socket
  moat/link/_cfg.yaml
  moat/link/_main.py
  moat/link/client.py
  tests/moat_link_server/test_local_mode.py
Due: check-yaml, pytest-modified

test: client-side local_only must not deter server-to-server sync
  tests/moat_link_server/test_local_mode.py
Due: pytest-modified

moat link host list :: don't triple-print services that go down
  moat/link/cmd/host.py
Due: pytest-modified

rpc: fully construct StreamError subclasses
  moat/lib/rpc/errors.py
Due: pytest-modified

Fix moat-vou: PID.__call__ must not use a subclass's integrate()
  moat/lib/pid/_impl.py
  tests/moat_lib_pid/test_pid.py
Due: pytest-modified

link data import: accept the "link data get -r" document stream by default
  moat/link/cmd/data.py
  tests/moat_link/test_cmd_data.py
Due: pytest-modified

moat-7mx: test that a crashed client's WILL leads to its announcements being dropped
  tests/moat_link/test_host.py
Due: pytest-modified

Standard export format must have paths, not naked strings
  moat/link/cmd/data.py
  tests/moat_link/test_cmd_data.py
Due: pytest-modified

moat-7mx: a client's WILL drops its service entries at once
  moat/link/host.py
  tests/moat_link/test_host.py
Due: pytest-modified

moat-1gb: widen test_mon's timing margins
  tests/moat_link/test_host.py
Due: pytest-modified

moat-5bd: test_shared_iter_multi: keep the stream running until the second subscriber joins
  tests/moat_lib_rpc/test_shared_iter.py
Due: pytest-modified

Fix moat-6y8: read a final YAML document without trailing ---
  moat/lib/codec/_base.py
  moat/lib/codec/yaml.py
  moat/util/msg.py
  tests/moat_lib_codec/test_codec_yaml.py
  tests/moat_util/test_msgreader_eof.py
Due: pytest-modified

moat-1uo: the MQTT client no longer reconnects
  moat/lib/mqtt/__init__.py
  moat/lib/mqtt/_exceptions.py
  moat/lib/mqtt/async_client.py
  tests/moat_lib_mqtt/test_async_client.py
  tests/moat_link/test_client.py
  tests/moat_link/test_host.py
Due: pytest-modified

Fix moat-96q: _flush_deleted crashes when the tree changes mid-sweep
  moat/link/server/_server.py
  tests/moat_link_server/test_flushtree.py
Due: pytest-modified

moat-1uo: a lost server connection ends the Link client
  moat/link/_test.py
  moat/link/client.py
  moat/link/exceptions.py
  tests/moat_link/test_client.py
  tests/moat_link_server/test_sync.py
Due: pytest-modified

Don't swallow errors indefinitely
  moat/link/server/_server.py
Due: pytest-modified

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  pytest-modified: any of: \.py$
