Repository M-o-a-T/moat: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, pytest-modified

check-yaml:
  name: check yaml
  description: checks yaml files (understands MoaT tags)
  entry: pre_commit_hooks/check-yaml
  language: python
  args:
  - --allow-multiple-documents

pytest-modified:
  name: pytest on modified modules
  description: runs pytest on test directories for modified moat modules
  entry: pre_commit_hooks/pytest
  language: python
  pass_filenames: true
  require_serial: true

doc
  moat/lib/rpc/msg.py
Due: pytest-modified

Allow passint wait arg to wait_ready
  moat/lib/rpc/stream/cmdmsg.py
Due: pytest-modified

fix readiness check
  moat/micro/app/link.py
Due: pytest-modified

dead commented-out code
  moat/micro/part/pid.py
Due: pytest-modified

Add min+max bounds
  moat/micro/part/pwm.py
Due: pytest-modified

error when input is out of bounds
  moat/micro/part/pwm.py
Due: pytest-modified

fix type
  moat/micro/part/pwm.py
Due: pytest-modified

typing
  moat/micro/part/pwm.py
Due: pytest-modified

Add ability to read the current value directly
  moat/micro/part/pwm.py
Due: pytest-modified

Add a data watch stream function.
  moat/link/client.py
Due: pytest-modified

Add a "keep" flag to designate a channel as output only
  moat/micro/part/transfer.py
Due: pytest-modified

Tuples vs. lists
  moat/lib/path/_impl.py
  moat/micro/part/transfer.py
Due: pytest-modified

No self.p argument!
  moat/micro/part/transfer.py
Due: pytest-modified

stupid errors
  moat/micro/part/transfer.py
Due: pytest-modified

Add access to link.client.stream_watch
  moat/micro/app/link.py
Due: pytest-modified

docstr
  moat/link/client.py
Due: pytest-modified

ruff'd
  moat/micro/_embed/manifest.py
  tests/conftest.py
Due: pytest-modified

minor doc
  docs/moat-micro/api.rst
Due: none

Oops
  moat/micro/part/serial.py
Due: pytest-modified

wait_ready only if L
  moat/lib/rpc/cmd/_base.py
  moat/lib/rpc/stream/cmdmsg.py
  moat/micro/app/link.py
  moat/micro/part/pwm.py
Due: pytest-modified

Handle config updates that append to a list
  moat/micro/app/cfg.py
  moat/util/part.py
Due: pytest-modified

Recurse on config updates
  moat/lib/rpc/cmd/_base.py
Due: pytest-modified

drop empty file
  moat/micro/_embed/lib/app/_sys_.py
  moat/micro/app/_sys.py
  moat/micro/app/_sys_.py
Due: pytest-modified

Default to error shielding
  moat/micro/_embed/boards/esp32/config.yaml
Due: check-yaml

Handle config updates
  moat/lib/pid/_impl.py
  moat/micro/part/pid.py
Due: pytest-modified

ty-clean-ing
  moat/lib/path/_impl.py
  moat/lib/repl/console.py
Due: pytest-modified

Cleaned up; add "make docs"
  Makefile
Due: none

typo
  moat/micro/part/pwm.py
Due: pytest-modified

ty unfreeze
  .pre-commit-config.yaml
Due: check-yaml

doc build fix
  docs/conf.py
  moat/lib/rpc/msg.py
Due: pytest-modified

Disable sphinx build test
  .pre-commit-config.yaml
Due: check-yaml

ty: work on moat.lib.ring
  moat/lib/ring/_impl.py
  moat/lib/ring/aio.py
  pyproject.toml
Due: pytest-modified

fix comments
  pre_commit_hooks/sphinx-build
Due: none

Fix tag number updating
  moat/src/_repo.py
Due: pytest-modified

mt src tag -q: Report main version
  moat/src/_main.py
Due: pytest-modified

Move data processing callback to the hook struct
  moat/api/bosch/bmv080.py
  tests/moat_api_bosch/test_bmv080.py
  versions.yaml
Due: check-yaml, pytest-modified

Move processing hook setup to `open`
  moat/api/bosch/bmv080.py
Due: pytest-modified

Fix packaging (we hope)
  packaging/moat-api-bosch/LICENSE.APACHE2
  packaging/moat-api-bosch/LICENSE.txt
  packaging/moat-api-bosch/MANIFEST.in
  packaging/moat-api-bosch/Makefile
  packaging/moat-api-bosch/newsfragments/.gitkeep
  packaging/moat-api-bosch/pyproject.toml
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  pytest-modified: any of: \.py$
