Repository M-o-a-T/moat: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, pytest-modified

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      # id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.3
    hooks:
      - id: ruff
        args: [--fix, --show-fixes]
      - id: ruff-format
        exclude: "docs/.*"

  - repo: local
    hooks:
    - id: check-yaml
      name: check yaml
      description: checks yaml files (understands MoaT tags)
      entry: pre_commit_hooks/check-yaml
      language: python
      types: [yaml]
      args: [--allow-multiple-documents]

    - id: pytest-modified
      name: pytest on modified modules
      description: runs pytest on test directories for modified moat modules
      entry: pre_commit_hooks/pytest
      language: python
      types: [python]
      pass_filenames: true
      require_serial: true

  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.406
    hooks:
    - id: pyright
      files: "moat/lib/pid|moat/util/path.py|tests/moat_lib_pid|tests/moat_util/test_path.py"
      additional_dependencies:
        - simpleeval
        - pytest
        - anyio
        - numpy

Add Akumuli test for link metrics
  moat/link/metrics/task.py
  tests/moat_link_metrics_akumuli/__init__.py
  tests/moat_link_metrics_akumuli/test_akumuli.py
Due: pytest-modified

Reduce timeouts
  tests/moat_link_metrics_akumuli/test_akumuli.py
Due: pytest-modified

Use the real config
  tests/moat_link_metrics_akumuli/test_akumuli.py
Due: pytest-modified

moat-link-metrics: add timestamp to MetricPoint, simplify backends
  moat/link/metrics/backend/_base.py
  moat/link/metrics/backend/akumuli/__init__.py
  moat/link/metrics/backend/victoria/__init__.py
  moat/link/metrics/model.py
Due: pytest-modified

Fix Sphinx doc warnings
  docs/conf.py
  moat/util/__init__.py
  moat/util/systemd.py
Due: pytest-modified

No more delta thingies
  moat/link/metrics/_cfg.yaml
Due: check-yaml

Removed pyright config
  pyproject.toml
Due: none

Improve PWM resync
  moat/micro/part/pwm.py
  tests/moat_micro/test_pwm.py
Due: pytest-modified

Add victoriametrics test.
  tests/moat_link_metrics_victoria/__init__.py
  tests/moat_link_metrics_victoria/test_victoria.py
Due: pytest-modified

Drop `mplex` option
  moat/micro/_test.py
  tests/moat_micro/test_average.py
  tests/moat_micro/test_cfg.py
  tests/moat_micro/test_connect_remote.py
  tests/moat_micro/test_console.py
  tests/moat_micro/test_err.py
  tests/moat_micro/test_fs.py
  tests/moat_micro/test_fs_direct.py
  tests/moat_micro/test_fs_mp.py
  tests/moat_micro/test_micro.py
  tests/moat_micro/test_mplex.py
  tests/moat_micro/test_pid.py
  tests/moat_micro/test_ping.py
  tests/moat_micro/test_rtc.py
  tests/moat_micro/test_stack.py
  tests/moat_micro/test_transfer.py
  tests/moat_micro/test_wdt.py
Due: pytest-modified

Add versioned ty to pre-commit
  .pre-commit-config.yaml
Due: check-yaml

*sigh*
  .pre-commit-config.yaml
Due: check-yaml

ty update
  moat/lib/repl/console.py
Due: pytest-modified

Broken update by claude
  moat/lib/codec/_cbor.py
Due: pytest-modified

µPy bug: DUPTERM blocks writing to stderr
  moat/micro/_embed/boards/unix/test/mpconfigvariant.h
Due: none

restore local ty
  .pre-commit-config.yaml
Due: check-yaml

Use a separate dupterm-enabled myicropython for console testing
  moat/micro/_embed/boards/unix/test_dup/manifest.py
  moat/micro/_embed/boards/unix/test_dup/mpconfigvariant.h
  moat/micro/_embed/boards/unix/test_dup/mpconfigvariant.mk
  moat/micro/_test.py
  moat/util/part.py
  tests/moat_micro/__init__.py
  tests/moat_micro/test_console.py
Due: pytest-modified

Typing error
  moat/micro/_test.py
Due: pytest-modified

discover cbor codec snag
  tests/moat_util/test_codec_cbor.py
Due: pytest-modified

may not be a dict
  moat/micro/_embed/lib/moat/micro/main.py
Due: pytest-modified

Test shield
  tests/moat_link_metrics_victoria/test_victoria.py
Due: pytest-modified

Fix moat-src: find previous changelog commit when walking back build history
  moat/src/build.py
Due: pytest-modified

Fix moat-src: use next() to stop changelog commit iterator after first result
  moat/src/build.py
Due: pytest-modified

Build version 26.0.1
  packaging/moat-link-metrics/debian/changelog
  packaging/moat-link-metrics/pyproject.toml
  packaging/moat-micro/pyproject.toml
  packaging/moat-src/debian/changelog
  packaging/moat-src/pyproject.toml
  versions.yaml
Due: check-yaml

Add moat-micro: end-to-end PWM tests via mpy_stack
  tests/moat_micro/test_pwm.py
Due: pytest-modified

Add timer check
  tests/moat_micro/test_pwm.py
Due: pytest-modified

Doc moat-micro: document in-process testing with mpy_stack
  docs/moat-micro/testing.md
Due: none

Add dupterm caution
  docs/moat-micro/testing.md
Due: none

Fix moat-micro: move sync_path resolution out of _load(); add e2e resync tests
  moat/micro/part/pwm.py
  tests/moat_micro/test_pwm.py
Due: pytest-modified

AGENTS update
  AGENTS.md
Due: none

Use a task for PWM resync
  moat/micro/part/pwm.py
  tests/moat_micro/test_pwm.py
Due: pytest-modified

Obsolete and redundant doc
  moat/micro/part/pwm.py
Due: pytest-modified

more AGENTS
  AGENTS.md
Due: none

Protocol things
  moat/lib/micro/__init__.py
Due: pytest-modified

Fix moat.lib.priomap typing for ty
  moat/lib/priomap/_impl.py
Due: pytest-modified

Tidy moat.lib.priomap Comparable typing
  docs/conf.py
  moat/lib/priomap/_impl.py
  pyproject.toml
Due: pytest-modified

Type moat.lib.micro public wrappers
  moat/lib/micro/__init__.py
Due: pytest-modified
