Repository M-o-a-T/moat: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, pytest-modified

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      # id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.3
    hooks:
      - id: ruff
        args: [--fix, --show-fixes]
      - id: ruff-format
        exclude: "docs/.*"

  - repo: local
    hooks:
    - id: check-yaml
      name: check yaml
      description: checks yaml files (understands MoaT tags)
      entry: pre_commit_hooks/check-yaml
      language: python
      types: [yaml]
      args: [--allow-multiple-documents]

    - id: pytest-modified
      name: pytest on modified modules
      description: runs pytest on test directories for modified moat modules
      entry: pre_commit_hooks/pytest
      language: python
      types: [python]
      pass_filenames: true
      require_serial: true

  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.406
    hooks:
    - id: pyright
      files: "moat/lib/pid|moat/util/path.py|tests/moat_lib_pid|tests/moat_util/test_path.py"
      additional_dependencies:
        - simpleeval
        - pytest
        - anyio
        - numpy

Clean up / regularize arg naming
  moat/link/client.py
  moat/link/cmd/data.py
  versions.yaml
Due: check-yaml, pytest-modified

Oops
  moat/link/client.py
Due: pytest-modified

Export Watcher object (for documentation)
  docs/conf.py
  moat/link/client.py
Due: pytest-modified

Remove over-broad cast
  moat/link/metrics/task.py
Due: pytest-modified

Want Python 3.13
  pyproject.toml
Due: none

moat-link-gate: Implement incoming speed limit
  moat/link/gate/__init__.py
  moat/link/gate/mqtt.py
  tests/moat_link/test_gate_types.py
  tests/moat_link_server/test_gate.py
Due: pytest-modified

Fix help texts reliably
  moat/link/cmd/data.py
  moat/link/metrics/_main.py
  moat/util/__init__.py
  moat/util/_main.py
  moat/util/help.py
Due: pytest-modified

Wrong subcommand path
  moat/cad/_main.py
Due: pytest-modified

Pass arbitrary envvars to CAD program
  moat/cad/_cfg.yaml
  moat/cad/_main.py
Due: check-yaml, pytest-modified

Fix overloads for PrioMap.pop()
  moat/lib/priomap/_impl.py
  moat/link/gate/__init__.py
Due: pytest-modified

Config access cleanup
  moat/cad/_main.py
Due: pytest-modified

simplified
  moat/link/gate/mqtt.py
Due: pytest-modified

Gate: use separate backend (default: MQTT) when cfg.backend is set
  moat/link/gate/__init__.py
  moat/link/gate/mqtt.py
  packaging/moat-link-gate/README.md
  tests/moat_link/test_gate_types.py
  tests/moat_link_server/test_gate.py
Due: pytest-modified

may be None
  moat/link/meta.py
Due: pytest-modified

Log data for error
  moat/link/gate/__init__.py
Due: pytest-modified

Fix moat-link-server: recursive delete skips subtree when root node has no value
  moat/link/server/_server.py
  tests/moat_link_server/test_basic.py
Due: pytest-modified

Add path to recursce data dump
  moat/link/_data.py
Due: pytest-modified

Fix moat-util: MsgWriter races duplicating buffered bytes under concurrent use
  moat/util/msg.py
  tests/moat_link_server/test_roundtrip_probe.py
  tests/moat_util/test_msgwriter_race.py
Due: pytest-modified

Build version 26.1.15
  packaging/moat-cad/pyproject.toml
  packaging/moat-ems-battery/pyproject.toml
  packaging/moat-kv-akumuli/debian/changelog
  packaging/moat-kv-akumuli/pyproject.toml
  packaging/moat-kv/debian/changelog
  packaging/moat-lib-priomap/debian/changelog
  packaging/moat-lib-priomap/pyproject.toml
  packaging/moat-link-gate/debian/changelog
  packaging/moat-link-gate/pyproject.toml
  packaging/moat-link-metrics/debian/changelog
  packaging/moat-link-metrics/pyproject.toml
  packaging/moat-link-server/debian/changelog
  packaging/moat-link-server/pyproject.toml
  packaging/moat-link/debian/changelog
  packaging/moat-link/pyproject.toml
  packaging/moat-micro/debian/changelog
  packaging/moat-micro/pyproject.toml
  packaging/moat-modbus/debian/changelog
  packaging/moat-util/debian/changelog
  packaging/moat-util/pyproject.toml
  versions.yaml
Due: check-yaml

doc: ignore this typevar
  docs/conf.py
Due: pytest-modified

moat-link: add 'sub' option to data delete for child-only recursive deletion
  moat/link/cmd/data.py
  moat/link/server/_server.py
  tests/moat_link_server/test_basic.py
Due: pytest-modified

Build version 26.1.16
  packaging/moat-kv-akumuli/debian/changelog
  packaging/moat-kv/pyproject.toml
  packaging/moat-lib-priomap/debian/changelog
  packaging/moat-link-gate/debian/changelog
  packaging/moat-link-gate/pyproject.toml
  packaging/moat-link-metrics/debian/changelog
  packaging/moat-link-metrics/pyproject.toml
  packaging/moat-link-notify/pyproject.toml
  packaging/moat-link-schema/pyproject.toml
  packaging/moat-link-server/debian/changelog
  packaging/moat-link-server/pyproject.toml
  packaging/moat-link/debian/changelog
  packaging/moat-link/pyproject.toml
  packaging/moat-micro/debian/changelog
  packaging/moat-util/debian/changelog
  packaging/moat/pyproject.toml
  versions.yaml
Due: check-yaml

Fix moat-link: host monitor must surface per-path DOWN on host removal
  moat/link/cmd/host.py
  moat/link/host.py
  tests/moat_link/test_host_down_signal.py
Due: pytest-modified

Build version 26.1.17
  packaging/moat-kv/debian/changelog
  packaging/moat-link-gate/debian/changelog
  packaging/moat-link-metrics/debian/changelog
  packaging/moat-link-notify/debian/changelog
  packaging/moat-link-schema/debian/changelog
  packaging/moat-link-server/debian/changelog
  packaging/moat-link/debian/changelog
  packaging/moat-link/pyproject.toml
  packaging/moat/debian/changelog
  versions.yaml
Due: check-yaml

Fix moat-util: prevent YAML from wrapping long tagged scalars (!P paths)
  moat/util/yaml.py
Due: pytest-modified

Report complete path
  moat/link/_data.py
  moat/link/cmd/data.py
  tests/moat_link/test_cmd_data.py
Due: pytest-modified

Fix moat-link: host list shows hostname for already-running services on startup
  moat/link/cmd/host.py
Due: pytest-modified

Fix moat-link: list available drivers in 'gate set --help'
  moat/link/gate/_main.py
Due: pytest-modified

Fix moat-link: show driver-specific params in 'gate set --driver X --help'
  moat/link/gate/_main.py
  moat/link/gate/kv.py
  moat/link/gate/link.py
  moat/link/gate/mqtt.py
Due: pytest-modified

Add moat-link Venus gateway driver
  moat/link/gate/venus.py
  pyproject.toml
  tests/moat_link/test_gate_types.py
Due: pytest-modified

Fix moat-link Venus gateway: completion echo, suppress-republish, default speed
  moat/link/gate/venus.py
  tests/moat_link/test_gate_types.py
Due: pytest-modified

Fix moat-link Venus gateway: send keep-alive ID and verify completion echo
  moat/link/gate/venus.py
  tests/moat_link/test_gate_types.py
Due: pytest-modified

Fix moat-link Venus gateway: completion echo carries the ID under 'full-publish-completed-echo'
  moat/link/gate/venus.py
Due: pytest-modified

Add end-to-end Venus gateway test; drop non-UTF8 str payloads safely
  moat/link/backend/mqtt.py
  moat/link/gate/venus.py
  tests/moat_link/test_venus_gate_e2e.py
Due: pytest-modified

Add null codec; gate drivers silently drop items routed to it
  moat/lib/codec/null.py
  moat/link/gate/mqtt.py
  moat/link/gate/venus.py
  tests/moat_lib_codec/test_codec_basic.py
  tests/moat_link/test_venus_gate_e2e.py
Due: pytest-modified

Generic null-codec drop hook in base Gate
  moat/lib/codec/null.py
  moat/link/gate/__init__.py
  moat/link/gate/mqtt.py
  moat/link/gate/venus.py
Due: pytest-modified

Import and pseudo-vendor-ize xknx
  .gitmodules
  TODO/bus/python/distkv_ext/moatbus/mock.py
  moat/kv/knx/_main.py
  moat/kv/knx/mock.py
  moat/kv/knx/model.py
  moat/kv/knx/task.py
  tests/moat_kv_knx/conftest.py
  tests/moat_kv_knx/test_knx.py
  tests/moat_kv_knx/test_knx_act.py
  tests/moat_kv_knx/test_knx_device.py
Due: pytest-modified

Fix XKNX import
  TODO/bus/python/distkv_ext/moatbus/mock.py
  moat/kv/knx/mock.py
  moat/kv/knx/model.py
  moat/kv/knx/task.py
  moat/lib/xknx
  pyproject.toml
  tests/moat_kv_knx/conftest.py
  tests/moat_kv_knx/test_knx.py
  tests/moat_kv_knx/test_knx_act.py
  tests/moat_kv_knx/test_knx_device.py
Due: pytest-modified

xknx lib packaging
  packaging/moat-lib-xknx/Makefile
  packaging/moat-lib-xknx/debian/changelog
  packaging/moat-lib-xknx/debian/control
  packaging/moat-lib-xknx/debian/rules
  packaging/moat-lib-xknx/pyproject.toml
  pyproject.toml
  versions.yaml
Due: check-yaml

Rudimentary command line doc
  docs/moat/cmdline.md
Due: none
