Repository M-o-a-T/moat: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, pytest-modified

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      # id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.3
    hooks:
      - id: ruff
        args: [--fix, --show-fixes]
      - id: ruff-format
        exclude: "docs/.*"

  - repo: local
    hooks:
    - id: check-yaml
      name: check yaml
      description: checks yaml files (understands MoaT tags)
      entry: pre_commit_hooks/check-yaml
      language: python
      types: [yaml]
      args: [--allow-multiple-documents]

    - id: pytest-modified
      name: pytest on modified modules
      description: runs pytest on test directories for modified moat modules
      entry: pre_commit_hooks/pytest
      language: python
      types: [python]
      pass_filenames: true
      require_serial: true

  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.406
    hooks:
    - id: pyright
      files: "moat/lib/pid|moat/util/path.py|tests/moat_lib_pid|tests/moat_util/test_path.py"
      additional_dependencies:
        - simpleeval
        - pytest
        - anyio
        - numpy

more arg docs
  docs/moat/cmdline.md
Due: none

Allow listing the root
  moat/kv/akumuli/_main.py
Due: pytest-modified

Move code from code.exec to just code
  moat/link/code/__init__.py
  moat/link/code/_main.py
  tests/moat_link/test_code_cmd.py
  tests/moat_link/test_code_run.py
Due: pytest-modified

Renamed lookup commands
  moat/link/flow/_main.py
  moat/link/schema/_main.py
Due: pytest-modified

Fix wording
  moat/kv/akumuli/_main.py
  moat/kv/obj/command.py
Due: pytest-modified

Fix moat.link.metrics: mirror './mt kv akumuli' command tree
  moat/link/metrics/_main.py
  tests/moat_link_metrics/test_cli.py
Due: pytest-modified

Refine moat.link.metrics command
  moat/link/metrics/_main.py
  tests/moat_link_metrics/test_cli.py
Due: pytest-modified

Cleanup: the backend is not part of the server spec
  moat/link/metrics/_cfg.yaml
  moat/link/metrics/_main.py
  moat/link/metrics/backend/_base.py
  moat/link/metrics/backend/akumuli/__init__.py
  moat/link/metrics/backend/victoria/__init__.py
  moat/link/metrics/task.py
  tests/moat_link_metrics/test_cli.py
Due: check-yaml, pytest-modified

Add 'mt link data PATH import' for MoaT-KV dumps
  moat/link/cmd/data.py
  tests/moat_link/test_cmd_data.py
Due: pytest-modified

Fix moat.link.metrics: resolve backend via merged cfg
  moat/link/metrics/task.py
  tests/moat_link_metrics_akumuli/test_akumuli.py
Due: pytest-modified

Add moat.link.knx: KNX bus connector for MoaT-Link
  docs/index.md
  docs/moat-link-knx/api.rst
  docs/moat-link-knx/index.md
  docs/moat-link/index.md
  moat/link/knx/__init__.py
  moat/link/knx/_cfg.yaml
  moat/link/knx/_main.py
  moat/link/knx/model.py
  moat/link/knx/task.py
  moat/link/knx/worker.py
  packaging/moat-link-knx/Makefile
  packaging/moat-link-knx/README.md
  packaging/moat-link-knx/debian/changelog
  packaging/moat-link-knx/debian/control
  packaging/moat-link-knx/debian/rules
  packaging/moat-link-knx/pyproject.toml
  packaging/moat-link-knx/systemd/moat-link-knx@.service
  tests/moat_link_knx/__init__.py
  tests/moat_link_knx/test_cli.py
  tests/moat_link_knx/test_model.py
Due: check-yaml, pytest-modified

Use moat.src.test.run() to test command line handling
  moat/link/_test.py
  moat/src/test.py
  tests/moat_link_knx/test_cli.py
  tests/moat_link_metrics/test_cli.py
Due: pytest-modified

moat.link.knx: suppress stale outgoing commands via optional 'state' path
  docs/moat-link-knx/index.md
  moat/link/knx/_main.py
  moat/link/knx/model.py
  moat/link/knx/worker.py
  tests/moat_link_knx/test_model.py
  tests/moat_link_knx/test_worker.py
Due: pytest-modified

moat.link.knx: only check 'state' during initial replay
  moat/link/knx/worker.py
  tests/moat_link_knx/test_worker.py
Due: pytest-modified

fix doc
  moat/link/knx/worker.py
Due: pytest-modified

Speed up tests
  tests/moat_link_knx/test_worker.py
Due: pytest-modified

Default initial KNX r/w to True for inputs
  moat/link/knx/task.py
Due: pytest-modified

Faster tests please
  tests/moat_kv_knx/test_knx.py
  versions.yaml
Due: check-yaml, pytest-modified

ignore existing
  moat/src/_repo.py
Due: pytest-modified

make executable
  packaging/moat-lib-xknx/debian/rules
Due: none

ignore build files
  packaging/moat-lib-xknx/debian/.gitignore
  packaging/moat-link-knx/debian/.gitignore
Due: none

Build version 26.1.18
  packaging/moat-kv-akumuli/debian/changelog
  packaging/moat-kv-akumuli/pyproject.toml
  packaging/moat-kv-knx/debian/changelog
  packaging/moat-kv-knx/pyproject.toml
  packaging/moat-kv/debian/changelog
  packaging/moat-kv/pyproject.toml
  packaging/moat-lib-codec/debian/changelog
  packaging/moat-lib-codec/pyproject.toml
  packaging/moat-lib-xknx/debian/changelog
  packaging/moat-link-gate/debian/changelog
  packaging/moat-link-gate/pyproject.toml
  packaging/moat-link-knx/debian/changelog
  packaging/moat-link-knx/pyproject.toml
  packaging/moat-link-metrics-backend-akumuli/debian/changelog
  packaging/moat-link-metrics-backend-akumuli/pyproject.toml
  packaging/moat-link-metrics-backend-victoria/debian/changelog
  packaging/moat-link-metrics-backend-victoria/pyproject.toml
  packaging/moat-link-metrics/debian/changelog
  packaging/moat-link-metrics/pyproject.toml
  packaging/moat-link-notify/pyproject.toml
  packaging/moat-link-schema/debian/changelog
  packaging/moat-link-schema/pyproject.toml
  packaging/moat-link-server/pyproject.toml
  packaging/moat-link/debian/changelog
  packaging/moat-link/pyproject.toml
  packaging/moat-src/debian/changelog
  packaging/moat-src/pyproject.toml
  packaging/moat-util/debian/changelog
  packaging/moat-util/pyproject.toml
  packaging/moat/pyproject.toml
  versions.yaml
Due: check-yaml

Fix setting with -s/--set
  moat/link/knx/_main.py
  moat/link/metrics/_main.py
Due: pytest-modified

Fix moat-link-knx: align run_out tests with initial-only state suppression
  moat/link/knx/worker.py
  tests/moat_link_knx/test_worker.py
Due: pytest-modified

Build version 26.1.19
  packaging/moat-kv-akumuli/debian/changelog
  packaging/moat-kv-knx/debian/changelog
  packaging/moat-kv/debian/changelog
  packaging/moat-lib-codec/debian/changelog
  packaging/moat-link-gate/debian/changelog
  packaging/moat-link-knx/pyproject.toml
  packaging/moat-link-metrics-backend-akumuli/debian/changelog
  packaging/moat-link-metrics-backend-victoria/debian/changelog
  packaging/moat-link-metrics/debian/changelog
  packaging/moat-link-metrics/pyproject.toml
  packaging/moat-link-notify/debian/changelog
  packaging/moat-link-schema/debian/changelog
  packaging/moat-link-server/debian/changelog
  packaging/moat-link/debian/changelog
  packaging/moat-src/debian/changelog
  packaging/moat-util/debian/changelog
  packaging/moat/debian/changelog
  versions.yaml
Due: check-yaml

Packaging fix
  packaging/moat-lib-xknx/debian/changelog
  packaging/moat-lib-xknx/pyproject.toml
  packaging/moat-link-knx/debian/changelog
  packaging/moat-link-knx/debian/py3dist-overrides
  packaging/moat-link-metrics/debian/changelog
  versions.yaml
Due: check-yaml

Build version 26.2.0
  packaging/moat-link-knx/debian/changelog
  versions.yaml
Due: check-yaml

*sigh*
  packaging/moat-link-knx/debian/control
Due: none

Build version 26.2.1
  packaging/moat-lib-xknx/debian/changelog
  packaging/moat-link-knx/debian/changelog
  versions.yaml
Due: check-yaml

AGENTS update
  AGENTS.md
Due: none

Add moat.link.job: background job runner for MoaT-Link
  docs/moat-link/index.md
  docs/moat-link/job.md
  moat/link/client.py
  moat/link/job/__init__.py
  moat/link/job/_cfg.yaml
  moat/link/job/_main.py
  moat/link/job/actor.py
  moat/link/job/runner.py
  packaging/moat-link/pyproject.toml
  tests/moat_link/test_job.py
Due: check-yaml, pytest-modified

Add packaging/moat-link-job and docs/moat-link-job
  docs/conf.py
  docs/index.md
  docs/moat-link-job/api.rst
  docs/moat-link-job/index.md
  docs/moat-link/index.md
  docs/moat-link/job.md
  packaging/moat-link-job/Makefile
  packaging/moat-link-job/README.md
  packaging/moat-link-job/debian/.gitignore
  packaging/moat-link-job/debian/changelog
  packaging/moat-link-job/debian/control
  packaging/moat-link-job/debian/moat-link-job.service
  packaging/moat-link-job/debian/rules
  packaging/moat-link-job/pyproject.toml
  packaging/moat-link-job/systemd/moat-link-job.service
Due: pytest-modified

Add comprehensive end-to-end tests for moat.link.job
  moat/link/job/__init__.py
  moat/link/job/_main.py
  moat/link/job/runner.py
  tests/moat_link/test_job.py
  tests/moat_link_job/__init__.py
  tests/moat_link_job/test_cli.py
  tests/moat_link_job/test_runner.py
Due: pytest-modified

Cancel running jobs when state.node is changed or cleared
  moat/link/job/runner.py
  tests/moat_link_job/test_runner.py
Due: pytest-modified

Test the runner's error-channel handling
  tests/moat_link_job/test_runner.py
Due: pytest-modified

Add 'moat link job at PATH debug' command
  docs/moat-link-job/index.md
  moat/link/job/_main.py
  moat/link/job/runner.py
  tests/moat_link_job/test_cli.py
Due: pytest-modified

Liveness-check anonymous owners in 'link job debug'
  moat/link/job/runner.py
  tests/moat_link_job/test_cli.py
Due: pytest-modified

Move client liveness check to LinkSender.is_client_alive
  docs/moat-link-job/index.md
  moat/link/client.py
  moat/link/job/runner.py
  tests/moat_link_job/test_cli.py
Due: pytest-modified

needs attrdict
  moat/link/gate/__init__.py
Due: pytest-modified

"bms" was renamed to "ems"
  TODO/bus/python/scripts/bms
  moat/ems/sched/_main.py
  moat/ems/sched/mode/__init__.py
  packaging/moat-ems-battery/scripts/bms
Due: pytest-modified
