Repository M-o-a-T/moat: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, pytest-modified

check-yaml:
  name: check yaml
  description: checks yaml files (understands MoaT tags)
  entry: pre_commit_hooks/check-yaml
  language: python
  args:
  - --allow-multiple-documents

pytest-modified:
  name: pytest on modified modules
  description: runs pytest on test directories for modified moat modules
  entry: pre_commit_hooks/pytest
  language: python
  pass_filenames: true
  require_serial: true

simplified
  packaging/moat/moat.yaml
Due: check-yaml

no longer uses attrs
  packaging/moat-lib-broadcast/pyproject.toml
Due: none

option to add a config file
  moat/lib/config/_impl.py
Due: pytest-modified

really don't use attrs *sigh*
  packaging/moat-lib-broadcast/debian/control
Due: none

Wrong name
  packaging/moat-link-metrics/debian/rules
Due: none

Build version 26.0.3
  packaging/moat-kv-akumuli/debian/changelog
  packaging/moat-kv-gpio/debian/changelog
  packaging/moat-kv-ha/debian/changelog
  packaging/moat-kv-knx/debian/changelog
  packaging/moat-kv-ow/debian/changelog
  packaging/moat-kv-wago/debian/changelog
  packaging/moat-kv/debian/changelog
  packaging/moat-lib-broadcast/debian/changelog
  packaging/moat-lib-codec/debian/changelog
  packaging/moat-lib-config/debian/changelog
  packaging/moat-lib-pid/debian/changelog
  packaging/moat-lib-priomap/debian/changelog
  packaging/moat-lib-proxy/debian/changelog
  packaging/moat-lib-ring/debian/changelog
  packaging/moat-lib-rpc/debian/changelog
  packaging/moat-lib-run/debian/changelog
  packaging/moat-lib-stream/debian/changelog
  packaging/moat-link-metrics/debian/changelog
  packaging/moat-link-server/debian/changelog
  packaging/moat-link/debian/changelog
  packaging/moat-micro/debian/changelog
  packaging/moat-mqtt/debian/changelog
  packaging/moat-src/debian/changelog
  packaging/moat-util/debian/changelog
  packaging/moat/debian/changelog
  versions.yaml
Due: check-yaml

Allow : + :R.…
  moat/lib/path/_impl.py
Due: pytest-modified

A same-value root update ended up clearing the root instead
  moat/lib/path/_impl.py
Due: pytest-modified

Ugh that seems not to be picked up?
  packaging/moat-lib-rpc/debian/control
Due: none

Build version 26.0.4
  packaging/moat-lib-rpc/debian/changelog
  versions.yaml
Due: check-yaml

Build version 26.0.5
  packaging/moat-lib-path/debian/changelog
  packaging/moat-lib-path/pyproject.toml
  versions.yaml
Due: check-yaml

Force packaging version to zero on uptick
  moat/src/_main.py
  moat/src/_repo.py
Due: pytest-modified

The main version doesn't have packaging.
  moat/src/_repo.py
  versions.yaml
Due: check-yaml, pytest-modified

Don't uptick on patch versions
  moat/src/build.py
Due: pytest-modified

ignore temp nonsense
  packaging/moat/debian/.gitignore
Due: none

Fix build# autoupdate
  moat/src/_main.py
Due: pytest-modified

More version stuff
  moat/src/_repo.py
Due: pytest-modified

var rename
  moat/src/build.py
  packaging/moat-api-bosch/debian/changelog
  packaging/moat-lib-path/debian/changelog
  packaging/moat-lib-pid/debian/changelog
  packaging/moat-link-metrics/debian/changelog
  packaging/moat-src/debian/changelog
  packaging/moat-src/pyproject.toml
  packaging/moat/debian/changelog
  packaging/moat/pyproject.toml
  versions.yaml
Due: check-yaml, pytest-modified

cleanup
  packaging/moat/debian/control
Due: none

More tagging woes
  moat/src/build.py
Due: pytest-modified

Build version 26.0.6
  packaging/moat-lib-path/debian/changelog
  packaging/moat-src/debian/changelog
  packaging/moat-src/pyproject.toml
  packaging/moat/debian/changelog
  versions.yaml
Due: check-yaml

var name collision
  moat/src/build.py
Due: pytest-modified

Build version 26.0.7
  packaging/moat-lib-path/debian/changelog
  packaging/moat-src/debian/changelog
  packaging/moat-src/pyproject.toml
  packaging/moat/debian/changelog
  versions.yaml
Due: check-yaml

Fix config retrieval
  moat/util/_main.py
  packaging/moat-kv-akumuli/USAGE.md
  packaging/moat-kv-wago/USAGE.md
  packaging/moat-kv/scripts/init
  packaging/moat-kv/scripts/run
  packaging/moat-micro/scripts/install
Due: pytest-modified

Build version 26.0.8
  packaging/moat-kv-akumuli/debian/changelog
  packaging/moat-kv-wago/debian/changelog
  packaging/moat-kv/debian/changelog
  packaging/moat-lib-path/debian/changelog
  packaging/moat-micro/debian/changelog
  packaging/moat-src/debian/changelog
  packaging/moat-util/debian/changelog
  packaging/moat-util/pyproject.toml
  packaging/moat/debian/changelog
  versions.yaml
Due: check-yaml

Add option to watch a no-act version of `moat host mon -m`.
  moat/link/cmd/host.py
  moat/link/host.py
Due: pytest-modified

kv runner subentries must be paths.
  moat/kv/_cfg.yaml
Due: check-yaml

Fix moat-link: unescape service path
  moat/link/announce.py
Due: pytest-modified

moat-link doesn't hard depend on moat-link-server
  packaging/moat-link-server/pyproject.toml
  packaging/moat-link/debian/control
  packaging/moat-link/pyproject.toml
Due: none

Build version 26.0.9
  packaging/moat-kv/debian/changelog
  packaging/moat-kv/pyproject.toml
  packaging/moat-lib-path/debian/changelog
  packaging/moat-link-server/debian/changelog
  packaging/moat-link/debian/changelog
  packaging/moat-link/pyproject.toml
  packaging/moat-util/debian/changelog
  packaging/moat/debian/changelog
  versions.yaml
Due: check-yaml

Even less dependencies
  packaging/moat-link/debian/control
  packaging/moat-link/pyproject.toml
Due: none

Build version 26.0.10
  packaging/moat-kv/debian/changelog
  packaging/moat-lib-path/debian/changelog
  packaging/moat-link/debian/changelog
  packaging/moat/debian/changelog
  versions.yaml
Due: check-yaml

Also remove dependencies
  moat/src/dep-update.py
Due: pytest-modified

Fix moat-src: add implicit parent package dependency
  moat/src/dep-update.py
Due: pytest-modified

Drop unused docs/*/conf.py files
  docs/moat-kv/conf.py
  docs/moat-lib-diffiehellman/conf.py
  docs/moat-lib-gpio/conf.py
  docs/moat-mqtt/conf.py
Due: pytest-modified

Fix moat-util: preserve formatting in path help
  moat/util/_main.py
Due: pytest-modified

Add moat-link search wildcard tests
  tests/moat_link/test_node.py
Due: pytest-modified

Add range wildcard support to moat-link search
  moat/link/node/__init__.py
  tests/moat_link/test_node.py
Due: pytest-modified

Use path literal syntax in moat-link wildcard tests
  tests/moat_link/test_node.py
Due: pytest-modified

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  pytest-modified: any of: \.py$
