Repository M-o-a-T/moat: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, pytest-modified

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      # id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.3
    hooks:
      - id: ruff
        args: [--fix, --show-fixes]
      - id: ruff-format
        exclude: "docs/.*"

  - repo: local
    hooks:
    - id: check-yaml
      name: check yaml
      description: checks yaml files (understands MoaT tags)
      entry: pre_commit_hooks/check-yaml
      language: python
      types: [yaml]
      args: [--allow-multiple-documents]

    - id: pytest-modified
      name: pytest on modified modules
      description: runs pytest on test directories for modified moat modules
      entry: pre_commit_hooks/pytest
      language: python
      types: [python]
      pass_filenames: true
      require_serial: true

  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.406
    hooks:
    - id: pyright
      files: "moat/lib/pid|moat/util/path.py|tests/moat_lib_pid|tests/moat_util/test_path.py"
      additional_dependencies:
        - simpleeval
        - pytest
        - anyio
        - numpy

bd sync: 2026-02-10 07:51:31
  .beads/issues.jsonl
Due: none

Bump moat-modbus version to 0.9.0
  docs/moat-modbus/dev-poll.md
  versions.yaml
Due: check-yaml

AGENTS update
  AGENTS.md
Due: none

Fix documentation warnings
  docs/conf.py
  docs/moat-lib-rpc/messages.md
  docs/moat-micro/index.md
  moat/micro/app/__init__.py
  moat/micro/app/i2c.py
  moat/micro/app/spi.py
Due: pytest-modified

Change bug tracker branch
  .beads/config.yaml
Due: check-yaml

Re-add beads config file
  .beads/config.yaml
Due: check-yaml

Fix moat-kv-akumuli: five bugs in task, model, and CLI
  moat/kv/akumuli/_main.py
  moat/kv/akumuli/model.py
  moat/kv/akumuli/task.py
  tests/moat_kv_akumuli/test_fixes.py
Due: pytest-modified

bd sync: 2026-02-10 12:03:03
  .beads/metadata.json
  .beads/sync_base.jsonl
Due: none

Fix moat-kv-akumuli: rewrite tests as behavioral checks
  tests/moat_kv_akumuli/test_fixes.py
Due: pytest-modified

Add moat-link-akumuli: migrate Akumuli connector from moat.kv to moat.link
  docs/conf.py
  docs/index.md
  docs/moat-link-akumuli/api.rst
  docs/moat-link-akumuli/index.md
  docs/moat-link/index.md
  docs/moat-link/kv-migration-guide.md
  moat/link/akumuli/__init__.py
  moat/link/akumuli/_cfg.yaml
  moat/link/akumuli/_main.py
  moat/link/akumuli/model.py
  moat/link/akumuli/task.py
  moat/link/akumuli/worker.py
  moat/link/node/__init__.py
  packaging/moat-kv-akumuli/README.md
  packaging/moat-link-akumuli/Makefile
  packaging/moat-link-akumuli/README.md
  packaging/moat-link-akumuli/debian/changelog
  packaging/moat-link-akumuli/debian/control
  packaging/moat-link-akumuli/debian/rules
  packaging/moat-link-akumuli/pyproject.toml
  packaging/moat-link-akumuli/systemd/moat-link-akumuli@.service
  tests/moat_link_akumuli/__init__.py
  tests/moat_link_akumuli/test_akumuli.py
Due: check-yaml, pytest-modified

bd sync: 2026-02-10 13:11:11
  .beads/sync_base.jsonl
Due: none

Update config before starting work
  moat/link/client.py
Due: pytest-modified

Slaves are units now
  moat/modbus/server.py
Due: pytest-modified

missing deps
  packaging/moat-lib-rpc/pyproject.toml
  packaging/moat-lib-run/pyproject.toml
Due: none

Modernize location
  docs/moat-link-akumuli/index.md
  moat/link/akumuli/_cfg.yaml
Due: check-yaml

Test methodology
  AGENTS.md
Due: none

moat.modbus: implement age-based refresh on server requests
  moat/modbus/dev/poll.py
  moat/modbus/dev/server_unit.py
  tests/moat_modbus/test_dev_server.py
Due: pytest-modified

moat.modbus: support on-demand reads for unslotted registers
  moat/modbus/dev/poll.py
  moat/modbus/dev/server_unit.py
Due: pytest-modified

moat.modbus: add test for forward=true with unconfigured registers
  moat/modbus/dev/server_unit.py
  tests/moat_modbus/test_dev_server.py
Due: pytest-modified

Be nicer when there are no tag changes.
  moat/src/_repo.py
Due: pytest-modified

Rename moat.link.akumuli to moat.link.metrics with backend abstraction
  docs/moat-link-akumuli/api.rst
  docs/moat-link-metrics/api.rst
  docs/moat-link-metrics/index.md
  docs/moat-link/kv-migration-guide.md
  moat/link/metrics/__init__.py
  moat/link/metrics/_cfg.yaml
  moat/link/metrics/_main.py
  moat/link/metrics/backend/__init__.py
  moat/link/metrics/backend/akumuli.py
  moat/link/metrics/model.py
  moat/link/metrics/task.py
  moat/link/metrics/worker.py
  packaging/moat-link-akumuli/README.md
  packaging/moat-link-akumuli/debian/changelog
  packaging/moat-link-metrics/Makefile
  packaging/moat-link-metrics/README.md
  packaging/moat-link-metrics/debian/changelog
  packaging/moat-link-metrics/debian/control
  packaging/moat-link-metrics/debian/rules
  packaging/moat-link-metrics/pyproject.toml
  packaging/moat-link-metrics/systemd/moat-link-metrics@.service
  tests/moat_link_metrics/__init__.py
  tests/moat_link_metrics/test_akumuli.py
Due: check-yaml, pytest-modified

Add moat-link-metrics-backend-akumuli separate packaging
  docs/index.md
  docs/moat-link-metrics-backend-akumuli/api.rst
  docs/moat-link-metrics-backend-akumuli/index.md
  docs/moat-link-metrics/api.rst
  docs/moat-link-metrics/index.md
  docs/moat-link/index.md
  moat/link/metrics/_main.py
  moat/link/metrics/backend/__init__.py
  moat/link/metrics/backend/akumuli.py
  moat/link/metrics/model.py
  moat/link/metrics/worker.py
  packaging/moat-link-metrics-backend-akumuli/Makefile
  packaging/moat-link-metrics-backend-akumuli/README.md
  packaging/moat-link-metrics-backend-akumuli/debian/changelog
  packaging/moat-link-metrics-backend-akumuli/debian/control
  packaging/moat-link-metrics-backend-akumuli/debian/rules
  packaging/moat-link-metrics-backend-akumuli/pyproject.toml
  tests/moat_link_metrics/test_akumuli.py
Due: pytest-modified

No using rebase!
  AGENTS.md
Due: none

Add VictoriaMetrics backend for metrics
  docs/moat-link-metrics-backend-victoria/api.rst
  docs/moat-link-metrics-backend-victoria/index.md
  docs/moat-link-metrics/index.md
  moat/link/metrics/backend/victoria.py
  packaging/moat-link-metrics-backend-victoria/Makefile
  packaging/moat-link-metrics-backend-victoria/README.md
  packaging/moat-link-metrics-backend-victoria/debian/changelog
  packaging/moat-link-metrics-backend-victoria/debian/control
  packaging/moat-link-metrics-backend-victoria/debian/rules
  packaging/moat-link-metrics-backend-victoria/pyproject.toml
Due: pytest-modified

bd sync: 2026-02-11 07:24:20
  .beads/sync_base.jsonl
Due: none

bd sync: 2026-02-11 08:02:53
  .beads/sync_base.jsonl
Due: none

Add ty type checking to moat.lib.codec (moat-loy.2)
  moat/lib/codec/_base.py
  moat/lib/codec/_cbor.py
  moat/lib/codec/_moat_msgpack.py
  moat/lib/codec/cbor.py
  moat/lib/codec/errors.py
  moat/lib/codec/json.py
  moat/lib/codec/msgpack.py
  moat/lib/codec/yaml.py
  pyproject.toml
Due: pytest-modified

bd sync: 2026-02-11 08:16:42
  .beads/sync_base.jsonl
Due: none

no pylint
  AGENTS.md
Due: none

moat-916: Add type annotations to spawn.py
  moat/util/spawn.py
Due: pytest-modified

Forgot to list asyncvictoria
  pyproject.toml
Due: none

moat-916: Add type annotations to sig.py
  moat/util/sig.py
Due: pytest-modified

moat-916: Add type annotations to pp.py
  moat/util/pp.py
Due: pytest-modified

moat-916: Add type annotations to outcome.py
  moat/util/outcome.py
Due: pytest-modified

moat-916: Add type annotations to part.py
  moat/util/part.py
Due: pytest-modified

moat-916: Add type annotations to random.py
  moat/util/random.py
Due: pytest-modified

moat-916: Add type annotations to inexact.py
  moat/util/inexact.py
Due: pytest-modified

moat-916: Add type annotations to event.py
  moat/util/event.py
Due: pytest-modified

moat-916: Add type annotations to liner.py
  moat/util/liner.py
Due: pytest-modified

moat-916: Add type annotations to systemd.py
  moat/util/systemd.py
Due: pytest-modified
