Repository M-o-a-T/moat: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, pytest-modified

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      # id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.3
    hooks:
      - id: ruff
        args: [--fix, --show-fixes]
      - id: ruff-format
        exclude: "docs/.*"

  - repo: local
    hooks:
    - id: check-yaml
      name: check yaml
      description: checks yaml files (understands MoaT tags)
      entry: pre_commit_hooks/check-yaml
      language: python
      types: [yaml]
      args: [--allow-multiple-documents]

    - id: pytest-modified
      name: pytest on modified modules
      description: runs pytest on test directories for modified moat modules
      entry: pre_commit_hooks/pytest
      language: python
      types: [python]
      pass_filenames: true
      require_serial: true

  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.406
    hooks:
    - id: pyright
      files: "moat/lib/pid|moat/util/path.py|tests/moat_lib_pid|tests/moat_util/test_path.py"
      additional_dependencies:
        - simpleeval
        - pytest
        - anyio
        - numpy

Doc: update error timeout reference from restart.error to ping.down
  docs/moat-link/tracking.md
Due: none

Add shared iterator multiplexing to BaseCmdMsg
  docs/moat-lib-rpc/ARCHITECTURE.md
  moat/lib/rpc/__init__.py
  moat/lib/rpc/cmd/msg.py
  tests/moat_lib_rpc/test_shared_iter.py
Due: pytest-modified

Replace bespoke SharedIter with moat.lib.broadcast.Broadcaster
  docs/moat-lib-rpc/ARCHITECTURE.md
  moat/lib/rpc/__init__.py
  moat/lib/rpc/cmd/msg.py
Due: pytest-modified

Refactor password auth: use AuthFailed exception, fix docs example
  docs/moat-lib-rpc/auth.md
  moat/lib/rpc/auth/password.py
  tests/moat_lib_rpc/test_auth_password.py
Due: pytest-modified

feat: migrate DH password shielding to cryptography package
  docs/conf.py
  docs/moat-lib-rpc/auth.md
  moat/lib/rpc/auth/password.py
  tests/moat_lib_rpc/test_auth_password.py
Due: pytest-modified

Add comprehensive auth password tests
  tests/moat_lib_rpc/test_auth_password.py
Due: pytest-modified

Restore skipped e2e tests removed in previous commit
  tests/moat_lib_rpc/test_auth_password.py
Due: pytest-modified

Add Triac control part for moat.micro
  docs/moat-micro/parts.md
  moat/micro/_embed/lib/moat/micro/part/triac.py
  moat/micro/app/part.py
  tests/moat_micro/test_triac.py
Due: pytest-modified

Add WebSocket subprotocol negotiation to moat.lib.stream
  moat/lib/rpc/app/net/ws/linkin.py
  moat/lib/rpc/app/net/ws/port.py
  moat/lib/rpc/conn/ws.py
  moat/lib/stream/ws.py
  tests/moat_lib_rpc/test_ws_transport.py
Due: pytest-modified

feat: golden vectors, interop scaffolding, CI workflow for @moat/lib-rpc
  .github/workflows/ts-moat-lib-rpc.yml
  ts/moat-lib-rpc/scripts/golden-gen.py
  ts/moat-lib-rpc/scripts/interop-server.py
  ts/moat-lib-rpc/test/fixtures/golden.json
  ts/moat-lib-rpc/test/golden/golden.test.ts
  ts/moat-lib-rpc/test/golden/helpers.ts
  ts/moat-lib-rpc/test/interop/interop.test.ts
Due: check-yaml, pytest-modified

feat: golden vectors, interop scaffolding, CI workflow for @moat/lib-rpc
  ts/moat-lib-rpc/test/fixtures/golden.json
Due: none

docs: add IMPL_NOTES.md for @moat/lib-rpc TS port
  ts/moat-lib-rpc/IMPL_NOTES.md
Due: none

fix: add 'minified-build' Makefile target per task acceptance criteria
  ts/moat-lib-rpc/Makefile
Due: none

feat: comprehensive sans-IO RPC core tests with Python golden vectors
  pyproject.toml
  ts/moat-lib-rpc/scripts/golden-gen.py
  ts/moat-lib-rpc/src/core/msg.ts
  ts/moat-lib-rpc/test/fixtures/golden.json
  ts/moat-lib-rpc/test/golden/golden.test.ts
  ts/moat-lib-rpc/test/unit/id-pool.test.ts
  ts/moat-lib-rpc/test/unit/message-framing.test.ts
  ts/moat-lib-rpc/test/unit/state-machine.test.ts
Due: pytest-modified

revert: use bitwise shifts instead of Math.floor for header packing
  ts/moat-lib-rpc/IMPL_NOTES.md
  ts/moat-lib-rpc/PLAN.md
  ts/moat-lib-rpc/README.md
  ts/moat-lib-rpc/scripts/golden-gen.py
  ts/moat-lib-rpc/src/wire.ts
  ts/moat-lib-rpc/test/golden/golden.test.ts
  ts/moat-lib-rpc/test/unit/id-pool.test.ts
  ts/moat-lib-rpc/test/unit/wire.test.ts
Due: pytest-modified

feat: add pre-commit hook for TS tests and 'make jstest' target
  .pre-commit-config.yaml
  Makefile
  pre_commit_hooks/jstest
Due: check-yaml

Fix broken calling conventions
  ts/moat-lib-rpc/scripts/interop-server.py
Due: pytest-modified

Fix moat-lib-rpc: eliminate double CBOR decode on TCP/pipe transports
  ts/moat-lib-rpc/src/async/adapter.ts
  ts/moat-lib-rpc/src/rpc.ts
  ts/moat-lib-rpc/src/transport/framing.ts
  ts/moat-lib-rpc/src/transport/pipe.ts
  ts/moat-lib-rpc/src/transport/tcp.ts
  ts/moat-lib-rpc/src/transport/ws.ts
  ts/moat-lib-rpc/test/interop/interop.test.ts
  ts/moat-lib-rpc/test/loopback/loopback.test.ts
Due: none

Wire interop tests into the JS test gates
  .pre-commit-config.yaml
  Makefile
  pre_commit_hooks/jstest
  ts/moat-lib-rpc/Makefile
  ts/moat-lib-rpc/PLAN.md
  ts/moat-lib-rpc/_envprobe.mjs
  ts/moat-lib-rpc/package.json
Due: check-yaml

feat: JS fixes
  ts/moat-lib-rpc/examples/server.ts
  ts/moat-lib-rpc/src/async/adapter.ts
  ts/moat-lib-rpc/src/dispatch/handler.ts
  ts/moat-lib-rpc/test/interop/interop.test.ts
  ts/moat-lib-rpc/test/loopback/loopback.test.ts
Due: none

Split rpc.ts into client.ts and server.ts, expand test coverage
  ts/moat-lib-rpc/examples/client.ts
  ts/moat-lib-rpc/examples/server.ts
  ts/moat-lib-rpc/src/client.ts
  ts/moat-lib-rpc/src/index.ts
  ts/moat-lib-rpc/src/rpc.ts
  ts/moat-lib-rpc/src/server.ts
  ts/moat-lib-rpc/src/transport/pipe.ts
  ts/moat-lib-rpc/test/interop/interop.test.ts
  ts/moat-lib-rpc/test/loopback/loopback.test.ts
Due: none

test: comprehensive test suite incl. Python interop
  ts/moat-lib-rpc/Makefile
  ts/moat-lib-rpc/package.json
  ts/moat-lib-rpc/scripts/interop-client.py
  ts/moat-lib-rpc/scripts/interop-server.py
  ts/moat-lib-rpc/src/core/handler.ts
  ts/moat-lib-rpc/test/interop/interop.test.ts
  ts/moat-lib-rpc/test/loopback/integration.test.ts
  ts/moat-lib-rpc/test/property/fuzz.test.ts
  ts/moat-lib-rpc/test/unit/edge-cases.test.ts
  ts/moat-lib-rpc/test/unit/id-pool.test.ts
Due: pytest-modified

Add MPlex multiplexed I/O part for moat.micro
  docs/moat-micro/parts.md
  moat/micro/_embed/lib/moat/micro/part/mplex.py
  moat/micro/app/part.py
Due: pytest-modified

Add test plan for MPlex part
  TODO/micro/test_mplex.md
Due: none

Add CPython unit tests for MPlex part; fix inv rebinding bug
  moat/micro/_embed/lib/moat/micro/part/mplex.py
  tests/test_part_mplex.py
Due: pytest-modified

Remove obsolete test plan (strategy 1 implemented and tested)
  TODO/micro/test_mplex.md
Due: none

Beads log
  .beads/interactions.jsonl
Due: none

Drop beads, we're going to do this globally
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/metadata.json
Due: check-yaml

feat(rpc): attach auth to CmdStream via rpc_on_rpc
  docs/moat-lib-rpc/auth.md
  moat/lib/rpc/nest.py
  tests/moat_lib_rpc/test_nest_auth.py
Due: pytest-modified

fix(rpc): address review defects in auth-enabled CmdStream
  moat/lib/rpc/nest.py
Due: pytest-modified

feat(notify): mirror errors to notify via dynamic notify_vecs subtree
  docs/moat-link/errors.md
  moat/link/notify/__init__.py
  moat/link/notify/_cfg.yaml
  moat/link/notify/_main.py
  packaging/moat-link-notify/README.md
  packaging/moat-link-notify/systemd/moat-link-notify-mirror.service
  tests/moat_link/test_notify_mirror.py
Due: check-yaml, pytest-modified

Add type annotations to moat.signal, add to ty.src.include
  moat/signal/api.py
  pyproject.toml
Due: pytest-modified

Add type annotations to moat.cad and enable ty checking
  moat/cad/_main.py
  moat/cad/export.py
  moat/cad/gridbox.py
  moat/cad/lib.py
  moat/cad/math.py
  moat/cad/misc.py
  moat/cad/things.py
  moat/cad/thread.py
  pyproject.toml
Due: pytest-modified

Add type annotations to moat.pdb, add to ty.src.include
  moat/pdb/__init__.py
  moat/pdb/_main.py
  pyproject.toml
Due: pytest-modified

Add ty type checking to moat.ems packages
  moat/ems/battery/_base.py
  moat/ems/battery/_main.py
  moat/ems/battery/conv/steinhart.py
  moat/ems/battery/diy_serial/cell.py
  moat/ems/battery/diy_serial/comm.py
  moat/ems/battery/diy_serial/packet.py
  moat/ems/inv/__init__.py
  moat/ems/inv/remote.py
  moat/ems/sched/control.py
  moat/ems/sched/mode/awattar.py
  moat/ems/sched/mode/fore_solar.py
  moat/ems/victron/dbus/__init__.py
  moat/ems/victron/dbus/monitor.py
  moat/lib/rpc/cmd/array.py
  pyproject.toml
Due: pytest-modified

Refactor attrdict to drop dict compatibility
  moat/kv/auth/__init__.py
  moat/kv/client.py
  moat/kv/server.py
  moat/kv/types.py
  moat/lib/codec/_cbor.py
  moat/lib/codec/_moat_msgpack.py
  moat/lib/codec/msgpack.py
  moat/lib/config/_impl.py
  moat/lib/rpc/cmd/tree/dir.py
  moat/lib/run/__init__.py
  moat/link/client.py
  moat/mcp/__init__.py
  moat/micro/_embed/lib/moat/micro/main.py
  moat/modbus/dev/device.py
  moat/modbus/dev/poll.py
  moat/util/dict.py
  moat/util/misc.py
  moat/util/part.py
  moat/util/pp.py
  moat/util/server.py
Due: pytest-modified

Fix relay cmd_r to use SDP and protect SDP from bypassing delays
  moat/micro/part/relay.py
Due: pytest-modified

Add comprehensive pin and relay tests
  tests/moat_micro/test_fakepin.py
  tests/moat_micro/test_pin.py
  tests/moat_micro/test_relay.py
Due: pytest-modified
