Repository M-o-a-T/moat: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, pytest-modified

check-yaml:
  name: check yaml
  description: checks yaml files (understands MoaT tags)
  entry: pre_commit_hooks/check-yaml
  language: python
  args:
  - --allow-multiple-documents

pytest-modified:
  name: pytest on modified modules
  description: runs pytest on test directories for modified moat modules
  entry: pre_commit_hooks/pytest
  language: python
  pass_filenames: true
  require_serial: true

moat-916: Add type annotations to module.py
  moat/util/module.py
Due: pytest-modified

moat-916: Add type annotations to server.py
  moat/util/server.py
Due: pytest-modified

moat-916: Add type annotations to __init__.py
  moat/util/__init__.py
Due: pytest-modified

Improve typing
  moat/util/spawn.py
Due: pytest-modified

moat-916: Add type annotations to impl.py
  moat/util/impl.py
Due: pytest-modified

moat-916: Add type annotations to _trio.py
  moat/util/_trio.py
Due: pytest-modified

moat-916: Complete type annotations in exec.py
  moat/util/exec.py
Due: pytest-modified

moat-916: Add type annotations to exc.py
  moat/util/exc.py
Due: pytest-modified

moat-916: Add type annotations to dict.py
  moat/util/dict.py
Due: pytest-modified

moat-916: Add type annotations to ctx.py
  moat/util/ctx.py
Due: pytest-modified

moat-916: Add type annotations to msg.py
  moat/util/msg.py
Due: pytest-modified

moat-916: Add type annotations to queue.py
  moat/util/queue.py
Due: pytest-modified

moat-916: Add type annotations to times.py
  moat/util/times.py
Due: pytest-modified

moat-916: Add type annotations to yaml.py
  moat/util/yaml.py
Due: pytest-modified

moat-916: Add type: ignore annotations to _main.py for CLI-specific patterns
  moat/util/_main.py
Due: pytest-modified

moat-916: Add moat/util/ to ty.src.include list
  pyproject.toml
Due: none

bd sync: 2026-02-11 12:47:37
  .beads/sync_base.jsonl
Due: none

bd sync: 2026-02-11 12:55:15
  .beads/sync_base.jsonl
Due: none

Drop moat-src build dep
  packaging/moat-kv/debian/control
  packaging/moat-link-gate/debian/control
  packaging/moat-link-metrics-backend-akumuli/debian/control
  packaging/moat-link-metrics-backend-victoria/debian/control
  packaging/moat-link-metrics/debian/control
  packaging/moat-link-notify/debian/control
  packaging/moat-link-server/debian/control
  packaging/moat-micro/debian/control
  packaging/moat-mqtt/debian/control
Due: none

broken initial version
  packaging/moat-link-metrics-backend-akumuli/debian/changelog
  packaging/moat-link-metrics-backend-victoria/debian/changelog
  packaging/moat-link-metrics/debian/changelog
Due: none

Ignore .bv subdir
  .gitignore
Due: none

Add .gitignore files to moat-link-metrics Debian packaging directories
  packaging/moat-kv-akumuli/debian/changelog
  packaging/moat-kv-gpio/debian/changelog
  packaging/moat-kv-ha/debian/changelog
  packaging/moat-kv-knx/debian/changelog
  packaging/moat-kv-ow/debian/changelog
  packaging/moat-kv-wago/debian/changelog
  packaging/moat-kv/debian/changelog
  packaging/moat-lib-broadcast/debian/changelog
  packaging/moat-lib-codec/debian/changelog
  packaging/moat-lib-config/debian/changelog
  packaging/moat-lib-micro/debian/changelog
  packaging/moat-lib-pid/debian/changelog
  packaging/moat-lib-proxy/debian/changelog
  packaging/moat-lib-rpc/debian/changelog
  packaging/moat-lib-run/debian/changelog
  packaging/moat-lib-stream/debian/changelog
  packaging/moat-link-gate/debian/changelog
  packaging/moat-link-metrics-backend-akumuli/debian/.gitignore
  packaging/moat-link-metrics-backend-akumuli/debian/changelog
  packaging/moat-link-metrics-backend-victoria/debian/.gitignore
  packaging/moat-link-metrics-backend-victoria/debian/changelog
  packaging/moat-link-metrics/debian/.gitignore
  packaging/moat-link-notify/debian/changelog
  packaging/moat-link-server/debian/changelog
  packaging/moat-link/debian/changelog
  packaging/moat-micro/debian/changelog
  packaging/moat-modbus/debian/changelog
  packaging/moat-mqtt/debian/changelog
  packaging/moat-src/debian/changelog
  packaging/moat-util/debian/changelog
  packaging/moat/debian/changelog
  versions.yaml
Due: check-yaml

Import from ruamel.yaml if ruyaml is not available
  moat/ems/inv/_main.py
  moat/lib/codec/cbor.py
  moat/link/meta.py
  moat/util/_main.py
  moat/util/dict.py
  moat/util/yaml.py
Due: pytest-modified

Add fallback imports to ruamel.yaml if ruyaml unavailable
  moat/ems/inv/_main.py
  moat/lib/codec/cbor.py
  moat/link/meta.py
  moat/util/_main.py
  moat/util/yaml.py
  pyproject.toml
Due: pytest-modified

Fix some ty errors
  moat/util/_main.py
  moat/util/dict.py
  moat/util/yaml.py
Due: pytest-modified

Fix import problems
  moat/link/metrics/backend/__init__.py
  moat/link/metrics/backend/_base.py
  moat/link/metrics/backend/akumuli/__init__.py
  moat/link/metrics/backend/victoria/__init__.py
Due: pytest-modified

Missing import fix
  tests/conftest.py
Due: pytest-modified

Fix typing "fix" nonsense
  moat/lib/codec/_cbor.py
Due: pytest-modified

Optional deps for metrics
  packaging/moat-link-metrics/pyproject.toml
Due: none

Import nonsense
  moat/util/liner.py
  moat/util/outcome.py
  moat/util/part.py
  moat/util/pp.py
Due: pytest-modified

ruff check
  moat/lib/rpc/cmd/tree/_dir.py
Due: pytest-modified

This is not actually specific to akumuli
  tests/moat_link_metrics/test_basic.py
Due: pytest-modified

Update pre-commit
  .pre-commit-config.yaml
Due: check-yaml

Remove duplicate/unused stuff
  TODO/bus/python/micro/README.md
  TODO/bus/python/micro/boot.py
  TODO/bus/python/micro/lib/asyncio/queues.py
  TODO/bus/python/micro/lib/collections/__init__.py
  TODO/bus/python/micro/lib/collections/deque.py
  TODO/bus/python/micro/lib/contextlib.py
  TODO/bus/python/micro/lib/functools.py
  TODO/bus/python/micro/lib/moat/__init__.py
  TODO/bus/python/micro/lib/moat/app/__init__.py
  TODO/bus/python/micro/lib/moat/app/bms.py
  TODO/bus/python/micro/lib/moat/app/fs.py
  TODO/bus/python/micro/lib/moat/app/serial.py
  TODO/bus/python/micro/lib/moat/base.py
  TODO/bus/python/micro/lib/moat/cmd.py
  TODO/bus/python/micro/lib/moat/compat.py
  TODO/bus/python/micro/lib/moat/main.py
  TODO/bus/python/micro/lib/moat/patch.py
  TODO/bus/python/micro/lib/moat/proto/__init__.py
  TODO/bus/python/micro/lib/moat/proto/reliable.py
  TODO/bus/python/micro/lib/moat/proto/stream.py
  TODO/bus/python/micro/lib/moat/queue.py
  TODO/bus/python/micro/lib/moat/setup.py
  TODO/bus/python/micro/lib/moat/stacks/__init__.py
  TODO/bus/python/micro/lib/moat/stacks/net.py
  TODO/bus/python/micro/lib/msgpack.py
  TODO/bus/python/micro/lib/pprint.py
  TODO/bus/python/micro/lib/serialpacker.py
  TODO/bus/python/micro/lib/ucontextlib.py
  TODO/bus/python/micro/main.py
Due: pytest-modified

Typechecking fixups for ty 0.17
  moat/lib/repl/console.py
  moat/util/part.py
  pyproject.toml
Due: pytest-modified

Handle no-subtree case
  moat/link/cmd/data.py
Due: pytest-modified

update venv versions
  OFF/patch_uasyncio.py
  uv.lock
Due: pytest-modified

required dep
  packaging/moat-link-server/debian/control
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  pytest-modified: any of: \.py$
