Repository M-o-a-T/moat: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, pytest-modified

check-yaml:
  name: check yaml
  description: checks yaml files (understands MoaT tags)
  entry: pre_commit_hooks/check-yaml
  language: python
  args:
  - --allow-multiple-documents

pytest-modified:
  name: pytest on modified modules
  description: runs pytest on test directories for modified moat modules
  entry: pre_commit_hooks/pytest
  language: python
  pass_filenames: true
  require_serial: true

moat.db.inv: add IP/MAC address types (step 1)
  moat/db/inv/__init__.py
  moat/db/inv/ip.py
  pyproject.toml
  tests/moat_db_inv/test_ip.py
Due: pytest-modified

Document the moat.ems.sched repair plan (refs moat-iov)
  examples/moat-ems-sched/WORK.md
Due: none

Reference the ty-gate blocker (moat-swd) in the sched repair plan
  examples/moat-ems-sched/WORK.md
Due: none

bd init: initialize beads issue tracking
  .agents/skills/beads/SKILL.md
  .agents/skills/beads/agents/openai.yaml
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/interactions.jsonl
  .beads/issues.jsonl
  .beads/metadata.json
  .claude/settings.json
  .codex/config.toml
  .codex/hooks.json
  .gitignore
  AGENTS.md
  CLAUDE.md
Due: check-yaml

bd: update sync.remote
  .beads/config.yaml
Due: check-yaml

Port the rain scheduler engine: generation, recalculation, *_range() (Phase 8)
  docs/moat-db-rain/MIGRATION.md
  moat/db/rain/cmds/_util.py
  moat/db/rain/cmds/gen.py
  moat/db/rain/cmds/recalc.py
  moat/db/rain/engine.py
  moat/db/rain/model.py
  tests/moat_db_rain/conftest.py
  tests/moat_db_rain/test_cli.py
  tests/moat_db_rain/test_engine.py
Due: pytest-modified

typing: ty 0.0.55
  moat/lib/config/base.py
  moat/lib/micro/__init__.py
  moat/lib/rpc/stream/base.py
  moat/lib/run/__init__.py
  moat/link/backend/__init__.py
  moat/link/backend/mqtt.py
  moat/link/client.py
  moat/link/gate/_main.py
  moat/link/server/_server.py
  moat/micro/part/control.py
  moat/util/ctx.py
  moat/util/yaml.py
  pyproject.toml
Due: pytest-modified

Async-ize the repl pager
  moat/lib/repl/commands.py
  moat/lib/repl/pager.py
Due: pytest-modified

don't scan the repo
  AGENTS.md
Due: none

Fix vars for code / jobs
  moat/link/code/_main.py
  moat/link/code/run.py
  moat/link/job/runner.py
  tests/moat_link/test_code_cmd.py
  tests/moat_link/test_code_run.py
  tests/moat_link_job/test_cli.py
  tests/moat_link_job/test_runner.py
Due: pytest-modified

Autogenerated ARCHITECTURE.md files
  ARCHITECTURE.md
  docs/conf.py
  docs/moat-api/ARCHITECTURE.md
  docs/moat-bus/ARCHITECTURE.md
  docs/moat-cad/ARCHITECTURE.md
  docs/moat-db/ARCHITECTURE.md
  docs/moat-dev/ARCHITECTURE.md
  docs/moat-ems/ARCHITECTURE.md
  docs/moat-kv/ARCHITECTURE.md
  docs/moat-lib-broadcast/ARCHITECTURE.md
  docs/moat-lib-codec/ARCHITECTURE.md
  docs/moat-lib-config/ARCHITECTURE.md
  docs/moat-lib-diffiehellman/ARCHITECTURE.md
  docs/moat-lib-gpio/ARCHITECTURE.md
  docs/moat-lib-micro/ARCHITECTURE.md
  docs/moat-lib-mqtt/ARCHITECTURE.md
  docs/moat-lib-path/ARCHITECTURE.md
  docs/moat-lib-pid/ARCHITECTURE.md
  docs/moat-lib-priomap/ARCHITECTURE.md
  docs/moat-lib-proxy/ARCHITECTURE.md
  docs/moat-lib-repl/ARCHITECTURE.md
  docs/moat-lib-ring/ARCHITECTURE.md
  docs/moat-lib-rpc/ARCHITECTURE.md
  docs/moat-lib-run/ARCHITECTURE.md
  docs/moat-lib-stream/ARCHITECTURE.md
  docs/moat-link/ARCHITECTURE.md
  docs/moat-mcp/ARCHITECTURE.md
  docs/moat-micro/ARCHITECTURE.md
  docs/moat-modbus/ARCHITECTURE.md
  docs/moat-mqtt/ARCHITECTURE.md
  docs/moat-nodered/ARCHITECTURE.md
  docs/moat-pdb/ARCHITECTURE.md
  docs/moat-signal/ARCHITECTURE.md
  docs/moat-src/ARCHITECTURE.md
  docs/moat-util/ARCHITECTURE.md
Due: pytest-modified

missing colon
  moat/lib/rpc/base.py
Due: pytest-modified

Default to Markdown for building, not HTML
  Makefile
  docs/conf.py
  pre_commit_hooks/sphinx-build
Due: pytest-modified

Add Debian packaging for moat-db and its box/label/thing sub-packages
  packaging/moat-db-box/debian/.gitignore
  packaging/moat-db-box/debian/changelog
  packaging/moat-db-box/debian/control
  packaging/moat-db-box/debian/py3dist-overrides
  packaging/moat-db-box/debian/rules
  packaging/moat-db-box/debian/source/format
  packaging/moat-db-box/pyproject.toml
  packaging/moat-db-label/debian/.gitignore
  packaging/moat-db-label/debian/changelog
  packaging/moat-db-label/debian/control
  packaging/moat-db-label/debian/py3dist-overrides
  packaging/moat-db-label/debian/rules
  packaging/moat-db-label/debian/source/format
  packaging/moat-db-label/pyproject.toml
  packaging/moat-db-thing/debian/.gitignore
  packaging/moat-db-thing/debian/changelog
  packaging/moat-db-thing/debian/control
  packaging/moat-db-thing/debian/py3dist-overrides
  packaging/moat-db-thing/debian/rules
  packaging/moat-db-thing/debian/source/format
  packaging/moat-db-thing/pyproject.toml
  packaging/moat-db/debian/.gitignore
  packaging/moat-db/debian/changelog
  packaging/moat-db/debian/control
  packaging/moat-db/debian/py3dist-overrides
  packaging/moat-db/debian/rules
  packaging/moat-db/debian/source/format
  packaging/moat-db/pyproject.toml
Due: none

Minimal modbus fix
  moat/modbus/types.py
Due: pytest-modified

Use python3, not python
  Makefile
Due: none

Setup: install dev deps
  Makefile
Due: none

dev: install asyncwago
  pyproject.toml
Due: none

Also install doc stuff
  Makefile
  pyproject.toml
Due: none

Text only in markdown
  docs/conf.py
Due: pytest-modified

moat.modbus refactoring: see moat-9wf
  moat/modbus/PLAN.md
Due: none

moat-modbus: add RTU inter-frame timeout handling to migration plan
  moat/modbus/PLAN.md
Due: none

AGENTS update
  AGENTS.md
Due: none

reduce default timeout
  moat/lib/stream/tcp.py
Due: pytest-modified

Push all
  moat/src/submodule.py
Due: pytest-modified

Move externals
  .gitignore
  .gitmodules
  Makefile
  versions.yaml
Due: check-yaml

Rely on ext/ from Makefile, commit+upload when building.
  Makefile
  moat/src/build.py
  moat/src/submodule.py
Due: pytest-modified

missing sphinx module
  pyproject.toml
Due: none

Check submodules for cleanliness
  moat/src/build.py
  moat/src/submodule.py
Due: pytest-modified

Add a no-dirty flag
  moat/src/submodule.py
Due: pytest-modified

some ty-ping
  moat/src/build.py
  pyproject.toml
Due: pytest-modified

ty on moat.src
  moat/src/_main.py
  moat/src/_repo.py
  moat/src/_toml.py
  moat/src/api/__init__.py
  moat/src/api/_common.py
  moat/src/api/forgejo.py
  moat/src/api/github.py
  moat/src/api/localgit.py
  moat/src/api/radicle.py
  moat/src/inspect.py
  moat/src/move.py
  moat/src/test.py
  moat/src/worktree.py
  pyproject.toml
Due: pytest-modified

More Stiebel things
  moat/modbus/dev/_data/heating/Stiebel.yaml
Due: check-yaml

pseudo-Submodule mangling
  moat/src/submodule.py
  tests/moat_src/test_basic.py
Due: pytest-modified

don't need that
  .beads/interactions.jsonl
Due: none

don't include the ext/ symlink
  .gitignore
Due: none

Add link-sync docs
  docs/moat-link-server/index.md
  docs/moat-link-server/link-sync.md
Due: none

Improve error reporting
  moat/modbus/server.py
Due: pytest-modified

Log data on error
  moat/modbus/dev/device.py
Due: pytest-modified

Add detailed workflow instructions.
  AGENTS.md
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  pytest-modified: any of: \.py$
