Repository M-o-a-T/moat: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, pytest-modified

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      # id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.3
    hooks:
      - id: ruff
        args: [--fix, --show-fixes]
      - id: ruff-format
        exclude: "docs/.*"

  - repo: local
    hooks:
    - id: check-yaml
      name: check yaml
      description: checks yaml files (understands MoaT tags)
      entry: pre_commit_hooks/check-yaml
      language: python
      types: [yaml]
      args: [--allow-multiple-documents]

    - id: pytest-modified
      name: pytest on modified modules
      description: runs pytest on test directories for modified moat modules
      entry: pre_commit_hooks/pytest
      language: python
      types: [python]
      pass_filenames: true
      require_serial: true

  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.406
    hooks:
    - id: pyright
      files: "moat/lib/pid|moat/util/path.py|tests/moat_lib_pid|tests/moat_util/test_path.py"
      additional_dependencies:
        - simpleeval
        - pytest
        - anyio
        - numpy

Run Sphinx on checkin
  .pre-commit-config.yaml
  pre_commit_hooks/sphinx-build
Due: check-yaml

bd sync: 2026-01-09 15:40:41
  .beads/issues.jsonl
Due: none

Fixup
  .beads/issues.jsonl
Due: none

bd sync: 2026-01-09 15:53:24
  .beads/issues.jsonl
Due: none

bd sync: 2026-01-09 15:53:25
  .beads/issues.jsonl
Due: none

bd sync: 2026-01-09 15:53:48
  .beads/issues.jsonl
Due: none

bd sync: 2026-01-09 15:53:49
  .beads/issues.jsonl
Due: none

bd sync: 2026-01-09 15:55:29
  .beads/issues.jsonl
Due: none

bd sync: 2026-01-09 16:03:35
  .beads/issues.jsonl
  .beads/metadata.json
Due: none

bd sync: 2026-01-09 16:03:36
  .beads/issues.jsonl
Due: none

bd sync: 2026-01-09 16:03:41
  .beads/issues.jsonl
  .beads/metadata.json
Due: none

bd sync: 2026-01-09 16:07:23
  .beads/issues.jsonl
Due: none

bd sync: 2026-01-09 16:07:24
  .beads/issues.jsonl
Due: none

ruff'd
  moat/lib/mqtt/_exceptions.py
Due: pytest-modified

Agent nonsense update
  AGENTS.md
Due: none

Another doc update
  README.md
  docs/Makefile
  docs/conf.py
  docs/index.md
  docs/moat-util/api.rst
Due: pytest-modified

Enable ^C on pseudo-sync tasks to actually work.
  moat/micro/_embed/lib/moat/micro/console.py
Due: pytest-modified

Code cleanup
  moat/lib/path/_impl.py
Due: pytest-modified

docstr
  moat/util/misc.py
Due: pytest-modified

De-bang command resolution in favor of "here" intermediate
  moat/micro/cmd/array.py
  moat/micro/cmd/tree/layer.py
  tests/moat_micro/test_connect.py
  tests/moat_micro/test_connect_remote.py
Due: pytest-modified

doc
  moat/micro/cmd/stream/cmdmsg.py
Due: pytest-modified

Use a common handler
  moat/lib/rpc/base.py
  moat/micro/cmd/base.py
  moat/micro/cmd/tree/_dir.py
Due: pytest-modified

Refactor: moat/micro/cmd/base.py -> moat/lib/rpc/cmd.py
  moat/ems/battery/_base.py
  moat/ems/battery/diy_serial/comm.py
  moat/lib/rpc/__init__.py
  moat/lib/rpc/cmd.py
  moat/micro/_embed/lib/app/fs.py
  moat/micro/_embed/lib/app/i2c.py
  moat/micro/_embed/lib/app/romfs.py
  moat/micro/_embed/lib/app/rtc.py
  moat/micro/_embed/lib/app/wdt.py
  moat/micro/_embed/lib/moat/lib/rpc/__init__.py
  moat/micro/_embed/lib/moat/lib/rpc/cmd.py
  moat/micro/_embed/lib/moat/micro/cmd/base.py
  moat/micro/_embed/lib/moat/micro/console.py
  moat/micro/_embed/lib/moat/micro/part/adc.py
  moat/micro/alert.py
  moat/micro/app/_base.py
  moat/micro/app/_sys_.py
  moat/micro/app/_test.py
  moat/micro/app/_test_.py
  moat/micro/app/bms/_test/__init__.py
  moat/micro/app/cfg.py
  moat/micro/app/i2c.py
  moat/micro/app/link.py
  moat/micro/app/ping.py
  moat/micro/app/remote.py
  moat/micro/cmd/stream/cmdbbm.py
  moat/micro/cmd/stream/cmdmsg.py
  moat/micro/cmd/tree/_dir.py
  moat/micro/cmd/util/valtask.py
  moat/micro/part/average.py
  moat/micro/part/fake.py
  moat/micro/part/pid.py
  moat/micro/part/pin.py
  moat/micro/part/pwm.py
  moat/micro/part/relay.py
  moat/micro/part/transfer.py
Due: pytest-modified

Typing fixes
  moat/link/_test.py
  moat/link/client.py
Due: pytest-modified

Don't require a config argument
  moat/lib/stream/base.py
Due: pytest-modified

Oops: return the __aenter__ result
  moat/lib/stream/base.py
Due: pytest-modified

Refactor 2
  moat/lib/rpc/cmd.py
Due: pytest-modified

Path might be empty
  moat/micro/app/link.py
Due: pytest-modified

Properties shouldn't raise exceptions on MicroPython.
  moat/lib/rpc/base.py
Due: pytest-modified

Inheritance fix.
  moat/lib/rpc/base.py
Due: pytest-modified

Move dir_ and rdy_ to the MsgHandler base.
  moat/lib/rpc/base.py
  moat/lib/rpc/cmd.py
Due: pytest-modified

Another large-ish doc fixup
  docs/conf.py
  docs/moat-micro/api-app.rst
  docs/moat-micro/api-cmd.rst
  docs/moat-micro/api-part.rst
  docs/moat-micro/api-stacks.rst
  docs/moat-micro/index.md
  moat/lib/rpc/base.py
  moat/lib/rpc/cmd.py
  moat/lib/rpc/stream.py
  moat/link/announce.py
  moat/link/client.py
  moat/link/common.py
  moat/link/hello.py
  moat/link/server/_server.py
  moat/micro/app/_base.py
  moat/micro/app/link.py
  moat/micro/app/remote.py
  moat/micro/app/wdt.py
  moat/micro/cmd/array.py
  moat/micro/cmd/stream/cmdbbm.py
  moat/micro/cmd/stream/cmdmsg.py
  moat/micro/cmd/tree/_dir.py
  moat/micro/cmd/tree/layer.py
  moat/micro/cmd/tree/listen.py
  moat/micro/direct.py
  moat/micro/files.py
  moat/micro/fuse.py
  moat/micro/part/pwm.py
  moat/micro/stacks/console.py
  pyproject.toml
  tests/moat_lib_rpc/test_forward.py
Due: pytest-modified

Dead data
  tests/moat_micro/test_basic.py
  tests/moat_micro/test_ping.py
Due: pytest-modified

Allow FOO.app in addition to separate "apps" section
  moat/micro/_embed/lib/moat/micro/main.py
  moat/micro/_main.py
  moat/micro/cmd/tree/_dir.py
  tests/moat_micro/test_ping.py
Due: pytest-modified

Allow specifying the YAML mode to use
  moat/util/yaml.py
Due: pytest-modified

Move FS app to be available on Linux
  moat/micro/_embed/lib/app/fs.py
  moat/micro/app/fs.py
Due: pytest-modified

2 moved arraycmd
  moat/ems/battery/_base.py
  moat/lib/rpc/__init__.py
  moat/lib/rpc/cmd/array.py
  moat/lib/rpc/cmd/base.py
  moat/micro/_embed/lib/moat/lib/rpc/cmd.py
  moat/micro/_embed/lib/moat/lib/rpc/cmd/__init__.py
  moat/micro/_embed/lib/moat/lib/rpc/cmd/array.py
  moat/micro/_embed/lib/moat/lib/rpc/cmd/base.py
  moat/micro/app/sub.py
Due: pytest-modified

3: move cmd.tree
  docs/conf.py
  docs/moat-lib-rpc/messages.md
  docs/moat-micro/api-cmd.rst
  examples/moat-micro/pid-calibrator.py
  moat/ems/battery/_main.py
  moat/lib/rpc/__init__.py
  moat/lib/rpc/base.py
  moat/lib/rpc/cmd/__init__.py
  moat/lib/rpc/cmd/base.py
  moat/lib/rpc/cmd/tree/__init__.py
  moat/lib/rpc/cmd/tree/_dir.py
  moat/lib/rpc/cmd/tree/dir.py
  moat/lib/rpc/cmd/tree/layer.py
  moat/lib/rpc/cmd/tree/listen.py
  moat/micro/_embed/lib/moat/lib/rpc/cmd/tree/__init__.py
  moat/micro/_embed/lib/moat/lib/rpc/cmd/tree/dir.py
  moat/micro/_embed/lib/moat/lib/rpc/cmd/tree/layer.py
  moat/micro/_embed/lib/moat/lib/rpc/cmd/tree/listen.py
  moat/micro/_embed/lib/moat/micro/cmd/tree/__init__.py
  moat/micro/_embed/lib/moat/micro/cmd/tree/dir.py
  moat/micro/_embed/lib/moat/micro/cmd/tree/layer.py
  moat/micro/_embed/lib/moat/micro/cmd/tree/listen.py
  moat/micro/_embed/lib/moat/micro/main.py
  moat/micro/_main.py
  moat/micro/_test.py
  moat/micro/app/net/tcp.py
  moat/micro/app/net/unix.py
  moat/micro/app/sub.py
  moat/micro/setup.py
Due: pytest-modified
