Repository M-o-a-T/moat: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, pytest-modified

check-yaml:
  name: check yaml
  description: checks yaml files (understands MoaT tags)
  entry: pre_commit_hooks/check-yaml
  language: python
  args:
  - --allow-multiple-documents

pytest-modified:
  name: pytest on modified modules
  description: runs pytest on test directories for modified moat modules
  entry: pre_commit_hooks/pytest
  language: python
  pass_filenames: true
  require_serial: true

Simplify moat-link host tracking state machine
  docs/moat-link/tracking.md
  moat/link/_cfg.yaml
  moat/link/host.py
  packaging/moat-link/debian/control
  packaging/moat-link/pyproject.toml
  tests/moat_link/test_host.py
Due: check-yaml, pytest-modified

Don't log schema errors
  moat/lib/rpc/msg.py
Due: pytest-modified

Un-ignore .beads
  .beads/.gitignore
  .beads/issues.jsonl
  .beads/metadata.json
  .gitignore
Due: none

Back to beads
  .beads/issues.jsonl
  AGENTS.md
Due: none

Use a "bugs" branch for beads
  .beads/config.yaml
Due: check-yaml

No, µPy's deque() doesn't like keyword args.
  moat/micro/_embed/lib/async_queue.py
  pyproject.toml
Due: pytest-modified

Time margin. Sigh.
  tests/moat_micro/test_pwm.py
Due: pytest-modified

Reorder arguments
  moat/lib/rpc/cmd/tree/listen.py
  moat/lib/rpc/stream/cmdmsg.py
  moat/micro/app/net/tcp/link.py
  moat/micro/app/net/unix/link.py
Due: pytest-modified

Initial check-in for auth stuff
  .beads/issues.jsonl
  docs/moat-lib-rpc/auth.md
  moat/lib/rpc/auth/_base.py
  moat/lib/rpc/base.py
Due: pytest-modified

slight additions
  AGENTS.md
Due: none

dead code (we assume)
  moat/lib/rpc/stream/cmdmsg.py
Due: pytest-modified

Split processing
  moat/lib/rpc/stream/cmdmsg.py
Due: pytest-modified

Factor out readiness interception
  moat/lib/rpc/base.py
  moat/lib/rpc/stream/cmdmsg.py
  moat/micro/app/link.py
Due: pytest-modified

Prepare for auth
  docs/moat-lib-rpc/auth.md
  moat/lib/rpc/__init__.py
  moat/lib/rpc/auth/_base.py
  moat/lib/rpc/stream/cmdmsg.py
Due: pytest-modified

Can't run bd in a sandbox
  AGENTS.md
Due: none

Moved stack setup test to moat.lib.rpc
  docs/moat-micro/testing.md
  moat/lib/rpc/_test.py
  moat/lib/rpc/loop.py
  moat/micro/_embed/lib/moat/lib/rpc/loop.py
  moat/micro/_test.py
  moat/micro/app/_test/loopcmd.py
  moat/micro/app/_test/loopmsg.py
  moat/micro/app/remote/fwd.py
  tests/moat_ems_battery/test_diy_serial.py
  tests/moat_ems_battery/test_fake_batt.py
  tests/moat_lib_rpc/scaffold.py
  tests/moat_lib_rpc/test_loop.py
  tests/moat_micro/test_alert.py
  tests/moat_micro/test_array.py
  tests/moat_micro/test_average.py
  tests/moat_micro/test_cfg.py
  tests/moat_micro/test_connect.py
  tests/moat_micro/test_connect_remote.py
  tests/moat_micro/test_console.py
  tests/moat_micro/test_err.py
  tests/moat_micro/test_fake.py
  tests/moat_micro/test_fs.py
  tests/moat_micro/test_fs_direct.py
  tests/moat_micro/test_fs_mp.py
  tests/moat_micro/test_link.py
  tests/moat_micro/test_log.py
  tests/moat_micro/test_micro.py
  tests/moat_micro/test_mplex.py
  tests/moat_micro/test_pid.py
  tests/moat_micro/test_ping.py
  tests/moat_micro/test_pwm.py
  tests/moat_micro/test_relay.py
  tests/moat_micro/test_reliable.py
  tests/moat_micro/test_rtc.py
  tests/moat_micro/test_stack.py
  tests/moat_micro/test_transfer.py
  tests/moat_micro/test_wdt.py
Due: pytest-modified

More moving to moat.lib.rpc
  moat/lib/rpc/__init__.py
  moat/lib/rpc/cmd/tree/listen.py
  moat/lib/rpc/conn/__init__.py
  moat/lib/rpc/conn/tcp.py
  moat/lib/rpc/conn/unix.py
  moat/lib/rpc/conn/util.py
  moat/micro/_embed/lib/app/stdio.py
  moat/micro/_embed/lib/moat/lib/rpc/conn/__init__.py
  moat/micro/_embed/lib/moat/lib/rpc/conn/file.py
  moat/micro/_embed/lib/moat/lib/rpc/conn/tcp.py
  moat/micro/_embed/lib/moat/lib/rpc/conn/util.py
  moat/micro/_embed/lib/moat/micro/_test.py
  moat/micro/_embed/lib/moat/micro/part/serial.py
  moat/micro/_embed/lib/moat/micro/stacks/util.py
  moat/micro/_main.py
  moat/micro/_util.py
  moat/micro/app/_sys.py
  moat/micro/app/net/tcp/linkin.py
  moat/micro/app/net/tcp/port.py
  moat/micro/app/net/unix/linkin.py
  moat/micro/app/net/unix/port.py
  moat/micro/util.py
Due: pytest-modified

Load apps from multiple locations
  moat/lib/rpc/__init__.py
  moat/lib/rpc/cmd/_base.py
  moat/lib/rpc/cmd/array.py
  moat/micro/__init__.py
Due: pytest-modified

Moved a heap of apps to moat.lib.rpc.app
  moat/micro/_embed/lib/app/_doc.py
  moat/micro/_embed/lib/app/_test.py
  moat/micro/_embed/lib/app/cfg.py
  moat/micro/_embed/lib/app/fs.py
  moat/micro/_embed/lib/app/net/tcp
  moat/micro/_embed/lib/app/ping.py
  moat/micro/_embed/lib/app/remote
  moat/micro/_embed/lib/app/sub
  moat/micro/app/_doc.py
  moat/micro/app/_test_.py
  moat/micro/app/cfg.py
  moat/micro/app/fake.py
  moat/micro/app/fs.py
  moat/micro/app/i2c.py
  moat/micro/app/log.py
  moat/micro/app/ping.py
  moat/micro/app/pipe.py
  moat/micro/app/spi.py
  moat/micro/app/stdio.py
  moat/micro/app/wdt.py
Due: pytest-modified

Moved alert and app/link to moat.lib.rpc
  moat/ems/battery/_base.py
  moat/lib/rpc/__init__.py
  moat/lib/rpc/alert.py
  moat/lib/rpc/app/_link.py
  moat/lib/rpc/app/_test/__init__.py
  moat/lib/rpc/app/_test/loopcmd.py
  moat/lib/rpc/app/_test/looplink.py
  moat/lib/rpc/app/_test/loopmsg.py
  moat/lib/rpc/app/_test/mpycmd.py
  moat/lib/rpc/app/_test/mpyraw.py
  moat/lib/rpc/app/link.py
  moat/micro/_embed/lib/app/link.py
  moat/micro/_embed/lib/moat/lib/rpc/alert.py
  moat/micro/_embed/lib/moat/micro/alert.py
  tests/moat_lib_rpc/test_alert.py
  tests/moat_lib_rpc/test_connect.py
  tests/moat_lib_rpc/test_log.py
  tests/moat_lib_rpc/test_reliable.py
Due: pytest-modified

Fix docs after moat.micro rpc moves
  docs/moat-lib-rpc/index.md
  docs/moat-micro/api-app.rst
  docs/moat-micro/api-stacks.rst
  docs/moat-micro/api.rst
  docs/moat-micro/testing.md
  moat/micro/app/_doc.py
  moat/micro/app/_test_.py
  moat/micro/app/cfg.py
  moat/micro/app/fake.py
  moat/micro/app/fs.py
  moat/micro/app/i2c.py
  moat/micro/app/log.py
  moat/micro/app/ping.py
  moat/micro/app/pipe.py
  moat/micro/app/spi.py
  moat/micro/app/stdio.py
  moat/micro/app/wdt.py
Due: pytest-modified

Move rpc app API docs to moat-lib-rpc
  docs/moat-lib-rpc/api-app.rst
  docs/moat-lib-rpc/index.md
  docs/moat-micro/api-app.rst
Due: none

Update stream and rpc docs references
  docs/moat-lib-rpc/messages.md
  docs/moat-lib-stream/details.md
Due: none

Forward auth state to sub-auth handlers
  docs/moat-lib-rpc/auth.md
  moat/lib/rpc/auth/_base.py
  moat/lib/rpc/cmd/tree/listen.py
  moat/lib/rpc/stream/cmdmsg.py
Due: pytest-modified

Oops, need to pass method-specific data
  moat/lib/rpc/auth/_base.py
Due: pytest-modified

Doc fixup
  docs/moat-lib-rpc/auth.md
Due: none

Fix "ok" handling
  moat/lib/rpc/auth/_base.py
Due: pytest-modified

Add helpers
  moat/lib/rpc/auth/_base.py
Due: pytest-modified

Add auth tester and test method
  moat/lib/rpc/auth/test.py
  tests/moat_lib_rpc/test_auth.py
Due: pytest-modified

check_ready needs to be on the parent
  moat/lib/rpc/auth/_base.py
Due: pytest-modified

Test: Log level updates
  tests/logging.cfg
Due: none

Add timeout and logging
  tests/moat_lib_rpc/test_auth.py
Due: pytest-modified

TEMP
  moat/lib/rpc/auth/_base.py
  moat/lib/rpc/auth/test.py
  tests/moat_lib_rpc/test_auth.py
Due: pytest-modified

Add ACM fix
  moat/lib/micro/__init__.py
  moat/lib/rpc/auth/_base.py
  moat/micro/_embed/lib/moat/lib/micro/__init__.py
Due: pytest-modified

More fixups
  moat/lib/rpc/auth/_base.py
Due: pytest-modified

More fixups.
  moat/lib/rpc/auth/_base.py
  moat/lib/rpc/auth/test.py
Due: pytest-modified

Fix docs: clear Sphinx docwarn warnings
  docs/moat-link/tracking.md
  docs/moat-micro/api.rst
  moat/link/__init__.py
  moat/link/client.py
  moat/link/node/__init__.py
Due: pytest-modified

Auth-Plugin for anonymen Login
  moat/lib/rpc/auth/anon.py
Due: pytest-modified

No-op auth manager.
  moat/lib/rpc/auth/noop.py
Due: pytest-modified

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  pytest-modified: any of: \.py$
