Repository M-o-a-T/moat: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, pytest-modified

check-yaml:
  name: check yaml
  description: checks yaml files (understands MoaT tags)
  entry: pre_commit_hooks/check-yaml
  language: python
  args:
  - --allow-multiple-documents

pytest-modified:
  name: pytest on modified modules
  description: runs pytest on test directories for modified moat modules
  entry: pre_commit_hooks/pytest
  language: python
  pass_filenames: true
  require_serial: true

moat-c1j/moat-cj1: add SimulatedBinaryDevice/SensorDevice to mock.py, test Switch↔SimulatedBinaryDevice roundtrip
  moat/kv/knx/mock.py
  tests/moat_kv_knx/test_knx.py
Due: pytest-modified

moat.kv.knx: fix Tester._daemon/run return types
  moat/kv/knx/mock.py
Due: pytest-modified

moat.kv.knx: refactor simulated devices into SimulatedDevice/SimulatedActuatorBase hierarchy, add SimulatedActuator
  moat/kv/knx/mock.py
Due: pytest-modified

moat-hwj: add end-to-end moat-kv-knx binary actuator test
  moat/kv/mock/mqtt.py
  tests/moat_kv_knx/test_knx_act.py
Due: pytest-modified

moat-b0q: test binary roundtrip with moat-kv-knx as device side, xknx Switch as controller
  tests/moat_kv_knx/test_knx_device.py
Due: pytest-modified

moat.kv.knx: shield __aexit__ in XKNX subclass to fix spurious __del__ warning
  moat/kv/knx/task.py
Due: pytest-modified

moat.kv.knx: add SimulatedBinarySensor and binary sensor tests to test_knx_act/device
  moat/kv/knx/mock.py
  tests/moat_kv_knx/test_knx_act.py
  tests/moat_kv_knx/test_knx_device.py
Due: pytest-modified

moat.kv.knx: add 1-byte integer actuator and sensor tests
  tests/moat_kv_knx/test_knx_act.py
  tests/moat_kv_knx/test_knx_device.py
Due: pytest-modified

moat-4bq: issue GroupValueRead at startup in _task_in when initial=True; test startup read
  moat/kv/knx/model.py
  tests/moat_kv_knx/test_knx_act.py
Due: pytest-modified

moat.lib.run: prefer exact command name over prefix matches in AliasedGroup
  moat/lib/run/__init__.py
Due: pytest-modified

Allow overriding the backend
  moat/link/gate/link.py
Due: pytest-modified

docstring
  moat/link/server/_server.py
Due: pytest-modified

Always restart
  packaging/moat-kv/systemd/moat-kv.service
  packaging/moat-link-server/systemd/moat-link-server.service
  packaging/moat-link-server/systemd/moat-link-server@.service
  packaging/moat-link/systemd/moat-link-host.service
  packaging/moat-link/systemd/moat-link-host@.service
Due: none

CAD fixup
  moat/cad/thread.py
Due: pytest-modified

Less verbosity please
  moat/link/backend/mqtt.py
Due: pytest-modified

don't time out the whole connection
  moat/link/client.py
Due: pytest-modified

Modbus ugh
  moat/modbus/types.py
Due: pytest-modified

Drop compatibility conflicts
  packaging/moat-kv/systemd/moat-kv-run-all.service
  packaging/moat-kv/systemd/moat-kv-run-any.service
  packaging/moat-kv/systemd/moat-kv-run-single.service
  packaging/moat-kv/systemd/moat-kv.service
Due: none

Don't require moat-kv
  packaging/moat-kv-akumuli/moat-kv-akumuli@.service
  packaging/moat-kv-knx/systemd/moat-kv-knx@.service
  packaging/moat-kv-ow/moat-kv-ow@.service
  packaging/moat-kv-ow/systemd/moat-kv-ow@.service
  packaging/moat-kv-wago/moat-kv-wago@.service
Due: none

Well apparently it can happen
  moat/kv/errors.py
Due: pytest-modified

Improve docstring
  moat/kv/runner.py
Due: pytest-modified

Build version 26.1.12
  packaging/moat-api-bosch/debian/changelog
  packaging/moat-kv-akumuli/debian/changelog
  packaging/moat-kv-gpio/debian/changelog
  packaging/moat-kv-ha/debian/changelog
  packaging/moat-kv-knx/debian/changelog
  packaging/moat-kv-ow/debian/changelog
  packaging/moat-kv-wago/debian/changelog
  packaging/moat-kv/debian/changelog
  packaging/moat-kv/pyproject.toml
  packaging/moat-lib-broadcast/debian/changelog
  packaging/moat-lib-codec/debian/changelog
  packaging/moat-lib-diffiehellman/debian/changelog
  packaging/moat-lib-gpio/debian/changelog
  packaging/moat-lib-micro/debian/changelog
  packaging/moat-lib-mqtt/debian/changelog
  packaging/moat-lib-path/debian/changelog
  packaging/moat-lib-pid/debian/changelog
  packaging/moat-lib-repl/debian/changelog
  packaging/moat-lib-ring/debian/changelog
  packaging/moat-lib-rpc/debian/changelog
  packaging/moat-lib-stream/debian/changelog
  packaging/moat-link-gate/debian/changelog
  packaging/moat-link-server/debian/changelog
  packaging/moat-link/debian/changelog
  packaging/moat-micro/debian/changelog
  packaging/moat-modbus/debian/changelog
  packaging/moat-mqtt/debian/changelog
  packaging/moat-src/debian/changelog
  packaging/moat-util/debian/changelog
  packaging/moat/debian/changelog
  versions.yaml
Due: check-yaml

AGENTS update
  AGENTS.md
Due: none

CAD threads update
  moat/cad/thread.py
Due: pytest-modified

Don't subclass dict
  moat/modbus/types.py
Due: pytest-modified

Don't recommend moat-kv
  packaging/moat-mqtt/debian/control
Due: none

Lock MoaT users
  packaging/moat-kv/systemd/sysusers
  packaging/moat-link/systemd/sysusers
  packaging/moat-mqtt/systemd/sysusers
  packaging/moat/systemd/sysusers
Due: none

Ungroup the connect error so skipping the Unix link works
  moat/link/client.py
Due: pytest-modified

fixed and simplified
  examples/moat-micro/get
  moat/kv/command/error.py
Due: pytest-modified

private
  examples/moat-micro/get
  examples/moat-micro/get-thermostat.py
Due: pytest-modified

Build version 26.1.14
  packaging/moat-cad/pyproject.toml
  packaging/moat-kv/debian/changelog
  packaging/moat-kv/pyproject.toml
  packaging/moat-link/debian/changelog
  packaging/moat-link/pyproject.toml
  packaging/moat-modbus/debian/changelog
  packaging/moat-modbus/pyproject.toml
  packaging/moat-mqtt/debian/changelog
  packaging/moat/debian/changelog
  versions.yaml
Due: check-yaml

no legacy prefix any more
  examples/moat-micro/get-thermostat.py
Due: pytest-modified

'None' mods the config.
  moat/link/_data.py
Due: pytest-modified

Reflow for clarity
  moat/link/cmd/data.py
Due: pytest-modified

Teach PWM to block the PID while process input is out of bounds
  moat/micro/part/pid.py
  moat/micro/part/pwm.py
Due: pytest-modified

Split the generic control backend part from PWM
  moat/micro/app/part.py
  moat/micro/part/control.py
  moat/micro/part/pwm.py
  tests/moat_micro/test_control.py
  tests/moat_micro/test_pwm.py
  tests/moat_micro/test_pwm_pid.py
Due: pytest-modified

Minor update
  docs/moat-link/kv-migration-guide.md
Due: none

Error mesage instead of backtrace
  moat/kv/akumuli/_main.py
Due: pytest-modified

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  pytest-modified: any of: \.py$
