Repository M-o-a-T/moat: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, pytest-modified

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      # id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.3
    hooks:
      - id: ruff
        args: [--fix, --show-fixes]
      - id: ruff-format
        exclude: "docs/.*"

  - repo: local
    hooks:
    - id: check-yaml
      name: check yaml
      description: checks yaml files (understands MoaT tags)
      entry: pre_commit_hooks/check-yaml
      language: python
      types: [yaml]
      args: [--allow-multiple-documents]

    - id: pytest-modified
      name: pytest on modified modules
      description: runs pytest on test directories for modified moat modules
      entry: pre_commit_hooks/pytest
      language: python
      types: [python]
      pass_filenames: true
      require_serial: true

  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.406
    hooks:
    - id: pyright
      files: "moat/lib/pid|moat/util/path.py|tests/moat_lib_pid|tests/moat_util/test_path.py"
      additional_dependencies:
        - simpleeval
        - pytest
        - anyio
        - numpy

moat.src: add auto-migrate updates and workspace creation
  docs/moat-src/ARCHITECTURE.md
  moat/src/_cfg.yaml
  moat/src/_main.py
  moat/src/move.py
  tests/moat_src/test_move.py
Due: check-yaml, pytest-modified

Fix moat-g8v: add ty typing for moat.link.gate
  moat/link/gate/__init__.py
  moat/link/gate/_main.py
  moat/link/gate/kv.py
  moat/link/gate/link.py
  moat/link/gate/mqtt.py
  moat/link/gate/venus.py
  pyproject.toml
Due: pytest-modified

Fix moat-rh0: is_update early-return pattern, newer_dst None-guard for kv.py and mqtt.py
  moat/link/gate/kv.py
  moat/link/gate/mqtt.py
Due: pytest-modified

feat: client-side cancellation of non-streaming RPC calls
  moat/lib/rpc/base.py
  moat/lib/rpc/msg.py
  tests/moat_lib_rpc/test_cancel.py
Due: pytest-modified

Add ServiceSender: self-refreshing SubDispatcher for MoaT-Link services
  moat/link/client.py
  tests/moat_link/test_service_refresh.py
Due: pytest-modified

Fix ServiceSender.__init__: pass root, not sender, to MsgSender
  moat/link/client.py
Due: pytest-modified

Document error-recovery caveats in ServiceSender docstrings
  moat/link/client.py
Due: pytest-modified

Fix ServiceSender.__call__: delegate to SubMsgSender.__call__
  moat/link/client.py
  tests/moat_link/test_service_refresh.py
Due: pytest-modified

test: add coverage for bus/crc, bus/util, ems/inv/balance, codec, proxy, signal
  tests/moat_bus/__init__.py
  tests/moat_bus/test_crc.py
  tests/moat_bus/test_util.py
  tests/moat_ems_inv/test_balance.py
  tests/moat_lib_codec/test_codec_base.py
  tests/moat_lib_codec/test_codec_bool.py
  tests/moat_lib_codec/test_codec_edge_cases.py
  tests/moat_lib_codec/test_codec_errors.py
  tests/moat_lib_codec/test_codec_jsonvalue.py
  tests/moat_lib_codec/test_codec_moat_cbor.py
  tests/moat_lib_codec/test_codec_moat_kv.py
  tests/moat_lib_codec/test_codec_moat_msgpack.py
  tests/moat_lib_codec/test_codec_yaml.py
  tests/moat_lib_proxy/__init__.py
  tests/moat_lib_proxy/test_proxy.py
  tests/moat_signal/__init__.py
  tests/moat_signal/test_api.py
Due: pytest-modified

Audit isinstance(.., dict) for attrdict config flow
  moat/kv/data.py
  moat/kv/ha/_main.py
  moat/kv/obj/command.py
  moat/lib/stream/serial.py
  moat/link/client.py
  moat/link/gpio/model.py
  moat/link/knx/model.py
  moat/link/metrics/model.py
  moat/link/ow/model.py
  moat/link/wago/model.py
  moat/micro/app/_sys.py
  moat/mqtt/client.py
  moat/src/_main.py
  moat/src/_repo.py
Due: pytest-modified

Drop remnants of mqttproto merge
  .github/workflows/publish.yml
  .github/workflows/test.yml
  .github/workflows/ts-moat-lib-rpc.yml
  .readthedocs.yaml
  .readthedocs.yml
Due: check-yaml

Drop Beads from "make setup"
  .beads/interactions.jsonl
  Makefile
Due: none

Add beads-name column
  docs/moat-db-src/PLAN.md
Due: none

Add moat.db.src: source-package archive tracking models
  docs/moat-db-src/PLAN.md
  moat/db/_cfg.yaml
  moat/db/src/__init__.py
  moat/db/src/model.py
  moat/db/src/model_.py
Due: check-yaml, pytest-modified

Add moat.db.src schema + seed migrations
  moat/db/alembic/versions/281c516acf3a_add_src_tracking.py
  moat/db/alembic/versions/f33c4c0319f0_seed_src_roles.py
  moat/db/src/_seed.yml
Due: check-yaml, pytest-modified

Add moat.db.src CLI + local-git import/export
  moat/db/src/_git.py
  moat/db/src/_main.py
Due: pytest-modified

Add moat.db.src tests; route CLI output via the live env stdout
  moat/db/src/_main.py
  moat/db/src/model_.py
  tests/moat_db_src/conftest.py
  tests/moat_db_src/test_archive.py
  tests/moat_db_src/test_branch.py
  tests/moat_db_src/test_import_export.py
  tests/moat_db_src/test_roles.py
  tests/moat_db_src/test_smoke.py
  tests/moat_db_src/test_spkg.py
Due: pytest-modified

moat.db.src: human-readable SPKG detail view
  moat/db/src/_main.py
  tests/moat_db_src/test_spkg.py
Due: pytest-modified

moat.db.src: import reads the SPKG prefix from beads.prefix git config
  moat/db/src/_git.py
  moat/db/src/_main.py
  tests/moat_db_src/test_import_export.py
Due: pytest-modified

Renamed due to pytest getting confubbled
  tests/moat_db_src/test_sbranch.py
  tests/moat_db_src/test_ssmoke.py
Due: pytest-modified

Don't sphinxify PLAN files
  docs/conf.py
Due: pytest-modified

Fix RPC end-of-file testcase
  moat/lib/rpc/msg.py
  moat/lib/rpc/nest.py
Due: pytest-modified

Don't use keyword on `__import__`.
  moat/lib/stream/serial.py
  moat/micro/app/serial/_util.py
Due: pytest-modified

Flexibly build stream stacks (moat-oom)
  moat/lib/stream/__init__.py
  moat/lib/stream/_layers.py
  moat/lib/stream/base.py
  moat/lib/stream/serial.py
  moat/lib/stream/ws.py
  moat/micro/_embed/lib/moat/lib/stream/__init__.py
  moat/micro/_embed/lib/moat/lib/stream/_layers.py
  tests/moat_lib_stream/__init__.py
  tests/moat_lib_stream/test_build_stack.py
Due: pytest-modified

test(moat.db.rain): add full daemon-lifecycle tests for monitor.py
  tests/moat_db_rain/test_monitor.py
Due: pytest-modified

Register moat-link-gpio in versions.yaml; deprecate moat-kv-gpio
  packaging/moat-kv-gpio/README.md
  versions.yaml
Due: check-yaml

Document WebSocket subprotocol negotiation in moat.lib.stream
  docs/moat-lib-stream/ARCHITECTURE.md
Due: none

Move moat/nodered to js/, switch to cbor2 and @moat scope
  js/moat-meta-codec/.gitignore
  js/moat-meta-codec/.prettierrc
  js/moat-meta-codec/Makefile
  js/moat-meta-codec/README.md
  js/moat-meta-codec/eslint.config.js
  js/moat-meta-codec/lib/codec.cjs
  js/moat-meta-codec/lib/codec.d.ts
  js/moat-meta-codec/lib/codec.js
  js/moat-meta-codec/moat-meta-codec.html
  js/moat-meta-codec/package.json
  js/moat-meta-codec/test/codec.nodered.test.js
  js/moat-meta-codec/test/codec.test.js
  moat/nodered/moat-meta-codec/lib/codec.d.ts
  moat/nodered/moat-meta-codec/lib/codec.js
  moat/nodered/moat-meta-codec/package.json
  moat/nodered/moat-meta-codec/test/codec.js
  moat/nodered/moat-meta-codec/test/manual.js
Due: none

Fix moat-p5m: update stale nodered->js path/doc refs
  docs/moat-nodered/ARCHITECTURE.md
  ts/moat-lib-rpc/PLAN.md
Due: none

Add moat.db.inv: database-backed network inventory
  docs/moat-db-inv/api.rst
  docs/moat-db-inv/index.md
  docs/moat-db/index.md
  moat/db/_cfg.yaml
  moat/db/alembic/versions/b7c2d9e1f4a3.py
  moat/db/inv/_main.py
  moat/db/inv/model.py
  moat/db/inv/model_.py
  packaging/moat-db-inv/README.md
  packaging/moat-db-inv/pyproject.toml
  versions.yaml
Due: check-yaml, pytest-modified

Fix moat.micro: use port=0 + readback in test_connect_remote
  docs/moat-micro/api.rst
  moat/lib/rpc/__init__.py
  moat/lib/rpc/cmd/tree/listen.py
  moat/lib/rpc/conn/__init__.py
  moat/lib/rpc/conn/util.py
  moat/lib/stream/reliable.py
  tests/moat_micro/test_connect_remote.py
Due: pytest-modified

moat.lib.config: add safe_reload with fallback (refs moat-u8q)
  docs/moat-lib-config/ARCHITECTURE.md
  docs/moat-lib-config/index.md
  moat/lib/config/_impl.py
  moat/lib/rpc/app/cfg.py
  moat/lib/rpc/cmd/_base.py
  moat/lib/rpc/cmd/tree/_dir.py
  tests/moat_lib_config/test_notgiven_reload.py
  tests/moat_lib_config/test_safe_reload.py
Due: pytest-modified

refactor(moat.db.rain): remove mandatory SITE arg, use 'at SITE' for site-specific subcommands
  docs/moat-db-rain/index.md
  moat/db/rain/_main.py
  moat/db/rain/cmds/at/__init__.py
  moat/db/rain/cmds/at/add.py
  moat/db/rain/cmds/at/controller.py
  moat/db/rain/cmds/at/delete.py
  moat/db/rain/cmds/at/env.py
  moat/db/rain/cmds/at/feed.py
  moat/db/rain/cmds/at/gen.py
  moat/db/rain/cmds/at/group.py
  moat/db/rain/cmds/at/history.py
  moat/db/rain/cmds/at/monitor.py
  moat/db/rain/cmds/at/recalc.py
  moat/db/rain/cmds/at/sensor.py
  moat/db/rain/cmds/at/set.py
  moat/db/rain/cmds/at/valve.py
  moat/db/rain/cmds/day.py
  moat/db/rain/cmds/dayrange.py
  moat/db/rain/monitor.py
  packaging/moat-db-rain/README.md
  packaging/moat-db-rain/moat-db-rain@.service
  tests/moat_db_rain/test_cli.py
  tests/moat_db_rain/test_smoke.py
Due: pytest-modified

feat: streaming read/write for fs.Cmd and ty fixes
  moat/lib/rpc/app/fs.py
  tests/moat_micro/test_fs_direct.py
Due: pytest-modified

feat(fs): streaming rd/wr via fs.Cmd
  moat/lib/rpc/app/fs.py
  tests/moat_micro/test_fs_direct.py
Due: pytest-modified

Report missing migrations sanely
  moat/db/_main.py
Due: pytest-modified

fixed config access
  moat/db/label/_main.py
Due: pytest-modified

Allow alliased (i.e. shortened) commands everywhere
  moat/db/_main.py
  moat/db/box/_main.py
  moat/db/inv/_main.py
  moat/db/label/_main.py
  moat/db/rain/cmds/at/controller.py
  moat/db/rain/cmds/at/env.py
  moat/db/rain/cmds/at/feed.py
  moat/db/rain/cmds/at/group.py
  moat/db/rain/cmds/at/history.py
  moat/db/rain/cmds/at/sensor.py
  moat/db/rain/cmds/at/valve.py
  moat/db/rain/cmds/day.py
  moat/db/rain/cmds/dayrange.py
  moat/db/src/_main.py
  moat/db/thing/_main.py
  moat/kv/akumuli/_main.py
  moat/kv/command/auth.py
  moat/kv/command/code.py
  moat/kv/command/job.py
  moat/kv/inv/_main.py
  moat/kv/obj/command.py
  moat/link/job/_main.py
  moat/link/knx/_main.py
  moat/link/metrics/_main.py
  moat/link/ow/_main.py
  moat/link/wago/_main.py
  moat/modbus/_main.py
Due: pytest-modified

Add moat.ems.sched scenario tests from checkme/25 (redo of moat-1nk)
  tests/moat_ems_sched/test_basic.py
Due: pytest-modified

Fix moat-link README: drop trailing period in msgpack URL
  packaging/moat-link/README.md
Due: none
