Repository M-o-a-T/moat: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, pytest-modified

check-yaml:
  name: check yaml
  description: checks yaml files (understands MoaT tags)
  entry: pre_commit_hooks/check-yaml
  language: python
  args:
  - --allow-multiple-documents

pytest-modified:
  name: pytest on modified modules
  description: runs pytest on test directories for modified moat modules
  entry: pre_commit_hooks/pytest
  language: python
  pass_filenames: true
  require_serial: true

moat.link.wago: fix oneshot/pulse handling
  moat/link/wago/worker.py
  packaging/moat-link-wago/pyproject.toml
  pyproject.toml
Due: pytest-modified

Build version 26.2.13
  packaging/moat-link-job/debian/changelog
  packaging/moat-link-job/pyproject.toml
  packaging/moat-link-wago/debian/changelog
  packaging/moat-link-wago/pyproject.toml
  packaging/moat-link/debian/changelog
  versions.yaml
Due: check-yaml

Pull patched enum_tools from M-o-a-T fork bugfix branch
  pyproject.toml
Due: none

Clean up ext/
  Makefile
Due: none

Don't attempt pushing.
  moat/src/submodule.py
Due: pytest-modified

Fix doc build. Again.
  docs/conf.py
Due: pytest-modified

Setup: Clone the Beads database
  Makefile
Due: none

Stop using Trio mode
  tests/moat_kv/conftest.py
  tests/moat_kv_akumuli/conftest.py
  tests/moat_kv_akumuli/test_akumuli.py
  tests/moat_kv_ow/conftest.py
  tests/moat_kv_ow/test_alarm.py
  tests/moat_src/test_basic.py
Due: pytest-modified

Skip tests using knxd if it's not installed
  tests/moat_kv_knx/test_knx.py
  tests/moat_kv_knx/test_knx_act.py
  tests/moat_kv_knx/test_knx_device.py
Due: pytest-modified

need ortools
  README.md
  pyproject.toml
Due: none

Fix path "arithmetic"
  moat/micro/files.py
Due: pytest-modified

missing sync
  tests/moat_link_job/test_cli.py
Due: pytest-modified

Run pytest-modified hook against the project venv
  pre_commit_hooks/pytest
Due: none

Bind flashmq test broker to IPv4 only
  moat/link/_test.py
Due: pytest-modified

Run tests in parallel
  pyproject.toml
Due: none

another missing sync
  tests/moat_link_server/test_gate.py
Due: pytest-modified

Ephemeral port for KV
  moat/kv/mock/mqtt.py
Due: pytest-modified

Use parallel tests, temporarily switch off coverage
  .pre-commit-config.yaml
  pre_commit_hooks/pytest
Due: check-yaml

Sphinx warning
  docs/conf.py
Due: pytest-modified

ty update
  moat/util/systemd.py
  pyproject.toml
Due: pytest-modified

Dropped uv.lock
  uv.lock
Due: none

represent (file) paths as strings
  moat/util/yaml.py
Due: pytest-modified

Timing. Ugh.
  tests/moat_micro/test_console.py
Due: pytest-modified

Don't require a venv.
  Makefile
  pre_commit_hooks/sphinx-build
Due: none

Fix make setup for deep worktrees and document merge re-setup
  AGENTS.md
  Makefile
Due: none

Fix warnings
  moat/mqtt/mqtt/protocol/handler.py
  pyproject.toml
  tests/moat_util/test_yaml_bin.py
Due: pytest-modified

Temporarily silence Queue resource warnings.
  tests/conftest.py
Due: pytest-modified

Use a global sqlalchemy engine
  moat/db/util.py
Due: pytest-modified

Close db engines when testing
  tests/moat_db_inv/test_ip.py
Due: pytest-modified

more holes
  moat/mqtt/plugins/persistence.py
  moat/util/ctx.py
  tests/moat_mqtt/plugins/test_persistence.py
Due: pytest-modified

Silence more leaks
  tests/conftest.py
Due: pytest-modified

more resources
  moat/kv/ow/mock.py
  moat/modbus/client.py
  moat/modbus/server.py
  tests/moat_link_ow/test_integration.py
Due: pytest-modified

All warnings gone nw
  moat/lib/micro/__init__.py
  moat/micro/part/control.py
  moat/micro/part/transfer.py
Due: pytest-modified

More sleep.
  tests/moat_micro/test_console.py
Due: pytest-modified

fix path reprs
  moat/util/yaml.py
  tests/conftest.py
Due: pytest-modified

Use Unix socket for FlashMQ in link tests instead of FreePortFactory
  moat/link/_test.py
  tests/moat_lib_mqtt/conftest.py
  tests/moat_lib_mqtt/test_async_client.py
  tests/moat_lib_mqtt/test_sync_client.py
  tests/moat_link_server/test_gate.py
Due: pytest-modified

Replace FreePortFactory with Unix socket for FlashMQ in tests
  moat/link/_test.py
  moat/link/backend/mqtt.py
  moat/link/node/__init__.py
  moat/mqtt/client.py
  tests/moat_lib_mqtt/conftest.py
  tests/moat_lib_mqtt/test_async_client.py
  tests/moat_lib_mqtt/test_sync_client.py
  tests/moat_link_server/test_gate.py
Due: pytest-modified

Port propagation, again
  tests/moat_link_server/test_gate.py
Due: pytest-modified

Fix intermittent failure due to double-loading of moat/lib/path/_impl.py
  moat/lib/path/_impl.py
Due: pytest-modified

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  pytest-modified: any of: \.py$
