Repository M-o-a-T/moat: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, pytest-modified

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      # id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.3
    hooks:
      - id: ruff
        args: [--fix, --show-fixes]
      - id: ruff-format
        exclude: "docs/.*"

  - repo: local
    hooks:
    - id: check-yaml
      name: check yaml
      description: checks yaml files (understands MoaT tags)
      entry: pre_commit_hooks/check-yaml
      language: python
      types: [yaml]
      args: [--allow-multiple-documents]

    - id: pytest-modified
      name: pytest on modified modules
      description: runs pytest on test directories for modified moat modules
      entry: pre_commit_hooks/pytest
      language: python
      types: [python]
      pass_filenames: true
      require_serial: true

  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.406
    hooks:
    - id: pyright
      files: "moat/lib/pid|moat/util/path.py|tests/moat_lib_pid|tests/moat_util/test_path.py"
      additional_dependencies:
        - simpleeval
        - pytest
        - anyio
        - numpy

The Venus backend requires a JSON codec
  moat/link/gate/venus.py
Due: pytest-modified

Read the serial only, not any other nonsense
  tests/moat_link/test_venus_gate_e2e.py
Due: pytest-modified

Fix moat.link.gate: don't mutate self.cf in setup_
  moat/link/gate/mqtt.py
  moat/link/gate/venus.py
Due: pytest-modified

Add moat link codec command
  moat/link/_cfg.yaml
  moat/link/cmd/codec.py
Due: check-yaml, pytest-modified

Add moat link conv command group
  moat/link/_cfg.yaml
  moat/link/cmd/conv.py
  tests/moat_link/test_cmd_conv.py
Due: check-yaml, pytest-modified

Info text
  moat/link/cmd/cmd.py
Due: pytest-modified

conv list fix: recurse or not
  moat/link/cmd/conv.py
Due: pytest-modified

indent fix
  moat/link/flow/_main.py
Due: pytest-modified

Test fix. Bah.
  tests/moat_link/test_cmd_conv.py
Due: pytest-modified

Report the exception, don't die.
  moat/link/gate/__init__.py
Due: pytest-modified

fix broken formatting
  moat/link/node/__init__.py
Due: pytest-modified

Skip more-specific but empty nodes
  moat/link/node/__init__.py
  tests/moat_link/test_node.py
Due: pytest-modified

util-path flexing
  moat/util/_main.py
Due: pytest-modified

Build version 26.2.2
  packaging/moat-ems-sched/pyproject.toml
  packaging/moat-lib-xknx/debian/changelog
  packaging/moat-link-gate/debian/changelog
  packaging/moat-link-gate/pyproject.toml
  packaging/moat-link/debian/changelog
  packaging/moat-link/pyproject.toml
  packaging/moat-util/debian/changelog
  packaging/moat-util/pyproject.toml
  versions.yaml
Due: check-yaml

misplaced flag
  moat/link/backend/mqtt.py
Due: pytest-modified

Binary YAML: !bina
  moat/util/yaml.py
  tests/moat_util/test_yaml_bin.py
Due: pytest-modified

New: MCP module.
  docs/index.md
  docs/moat-mcp/api.rst
  docs/moat-mcp/index.md
  moat/mcp/__init__.py
  moat/mcp/_cfg.yaml
  moat/mcp/_main.py
  moat/mcp/_server.py
  moat/mcp/_tools.py
  moat/mcp/link.py
  packaging/moat-mcp/Makefile
  packaging/moat-mcp/README.md
  packaging/moat-mcp/debian/.gitignore
  packaging/moat-mcp/debian/changelog
  packaging/moat-mcp/debian/control
  packaging/moat-mcp/debian/rules
  packaging/moat-mcp/pyproject.toml
  pyproject.toml
  tests/moat_mcp/__init__.py
  tests/moat_mcp/conftest.py
  tests/moat_mcp/test_mcp.py
  versions.yaml
Due: check-yaml, pytest-modified

Docs fixup
  docs/conf.py
  docs/moat-mcp/api.rst
Due: pytest-modified

Cleanup: drop moat.mcp._tools
  moat/mcp/_tools.py
  moat/mcp/link.py
  pyproject.toml
Due: pytest-modified

Ignore MCP services with a false-ish config
  moat/mcp/__init__.py
Due: pytest-modified

Error message
  moat/src/build.py
Due: pytest-modified

Simplify
  moat/link/client.py
Due: pytest-modified

Wrong param name, missing defaults. Oops.
  moat/link/client.py
  moat/link/server/_server.py
Due: pytest-modified

Keep the conversion table online
  moat/link/gate/mqtt.py
Due: pytest-modified

Build version 26.2.4
  packaging/moat-lib-xknx/debian/changelog
  packaging/moat-link-gate/debian/changelog
  packaging/moat-link-gate/pyproject.toml
  packaging/moat-link-server/debian/changelog
  packaging/moat-link-server/pyproject.toml
  packaging/moat-link/debian/changelog
  packaging/moat-link/pyproject.toml
  packaging/moat-mcp/debian/changelog
  packaging/moat-src/debian/changelog
  packaging/moat-src/pyproject.toml
  packaging/moat-util/debian/changelog
  versions.yaml
Due: check-yaml

Rename "moat db mig" to "migrate"
  moat/db/_main.py
Due: pytest-modified

Update for current config structure
  moat/db/_main.py
  moat/db/util.py
Due: pytest-modified

list codec names as path
  moat/link/cmd/codec.py
Due: pytest-modified

moat link raw sub: option ignore retained data
  moat/link/cmd/raw.py
Due: pytest-modified

Handle sqlalchemy errors: add the URL
  moat/db/util.py
Due: pytest-modified

Version uptick
  versions.yaml
Due: check-yaml

migration mismatch
  moat/db/alembic/versions/0458af1a64ff.py
  moat/db/alembic/versions/dd1007d00e262b5c.py
Due: pytest-modified

Add moat-link-wago: port legacy moat.kv.wago to moat.link
  docs/moat-link-wago/api.rst
  docs/moat-link-wago/index.md
  docs/moat-link/index.md
  moat/link/wago/__init__.py
  moat/link/wago/_cfg.yaml
  moat/link/wago/_main.py
  moat/link/wago/model.py
  moat/link/wago/task.py
  moat/link/wago/worker.py
  packaging/moat-link-wago/Makefile
  packaging/moat-link-wago/README.md
  packaging/moat-link-wago/debian/changelog
  packaging/moat-link-wago/debian/control
  packaging/moat-link-wago/debian/py3dist-overrides
  packaging/moat-link-wago/debian/rules
  packaging/moat-link-wago/pyproject.toml
  packaging/moat-link-wago/systemd/moat-link-wago@.service
  tests/moat_link_wago/__init__.py
  tests/moat_link_wago/test_cli.py
  tests/moat_link_wago/test_model.py
  tests/moat_link_wago/test_worker.py
Due: check-yaml, pytest-modified

Build version 26.2.5
  packaging/moat-db/pyproject.toml
  packaging/moat-kv/pyproject.toml
  packaging/moat-lib-xknx/debian/changelog
  packaging/moat-link-gate/debian/changelog
  packaging/moat-link-gate/pyproject.toml
  packaging/moat-link-job/pyproject.toml
  packaging/moat-link-knx/pyproject.toml
  packaging/moat-link-metrics/pyproject.toml
  packaging/moat-link-notify/pyproject.toml
  packaging/moat-link-schema/pyproject.toml
  packaging/moat-link-server/debian/changelog
  packaging/moat-link-server/pyproject.toml
  packaging/moat-link-wago/debian/changelog
  packaging/moat-link-wago/pyproject.toml
  packaging/moat-link/debian/changelog
  packaging/moat-link/pyproject.toml
  packaging/moat-src/debian/changelog
  packaging/moat/pyproject.toml
  versions.yaml
Due: check-yaml

needs a taskgroup
  tests/moat_link_wago/test_worker.py
Due: pytest-modified

var rename *sigh*
  moat/link/wago/worker.py
Due: pytest-modified

Use a freakin' taskgroup
  moat/link/wago/worker.py
Due: pytest-modified

Packaging fixup
  packaging/moat-link-wago/debian/.gitignore
  packaging/moat-link-wago/debian/rules
Due: none
