Repository M-o-a-T/moat: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, pytest-modified

check-yaml:
  name: check yaml
  description: checks yaml files (understands MoaT tags)
  entry: pre_commit_hooks/check-yaml
  language: python
  args:
  - --allow-multiple-documents

pytest-modified:
  name: pytest on modified modules
  description: runs pytest on test directories for modified moat modules
  entry: pre_commit_hooks/pytest
  language: python
  pass_filenames: true
  require_serial: true

pre-commit on merge
  .pre-commit-config.yaml
  pyproject.toml
Due: check-yaml

Fix moat-swd: add moat/ems to ty.src.include, exclude dirty modules
  pyproject.toml
Due: none

Implement host monitoring: enable error generation for host issues
  moat/link/_cfg.yaml
  moat/link/host.py
  tests/moat_link/test_host.py
Due: check-yaml, pytest-modified

Migrate cal extension from moat.kv to moat.link
  docs/index.md
  docs/moat-link-cal/api.rst
  docs/moat-link-cal/index.md
  docs/moat-link/index.md
  moat/link/cal/__init__.py
  moat/link/cal/_cfg.yaml
  moat/link/cal/_main.py
  moat/link/cal/util.py
  packaging/moat-link-cal/README.md
  packaging/moat-link-cal/pyproject.toml
  tests/moat_link_cal/__init__.py
  tests/moat_link_cal/test_util.py
Due: check-yaml, pytest-modified

Remove hardcoded calendar name default; require from config
  moat/link/cal/_main.py
Due: pytest-modified

Remove redundant client-side d_ Simple Data handling
  moat/link/client.py
Due: pytest-modified

Fix moat.ems.sched: stale bms refs, propose() crash, file.py codec bugs
  moat/ems/sched/_main.py
  moat/ems/sched/control.py
  moat/ems/sched/mode/__init__.py
  moat/ems/sched/mode/file.py
  tests/moat_ems_sched/__init__.py
  tests/moat_ems_sched/test_basic.py
Due: pytest-modified

Fix moat.bms: 5/7 tests now pass
  moat/ems/battery/_base.py
  moat/ems/battery/diy_serial/cell.py
  moat/ems/battery/diy_serial/comm.py
  moat/ems/battery/diy_serial/packet.py
  moat/lib/rpc/base.py
  moat/micro/app/bms/_test/__init__.py
  moat/micro/app/bms/_test/cell.py
  moat/micro/app/bms/_test/diy_packet.py
  tests/moat_ems_battery/__init__.py
  tests/moat_ems_battery/test_diy_serial.py
  tests/moat_ems_battery/test_fake_batt.py
Due: pytest-modified

Fix remaining moat.bms test failures: ArrayCmd cmd dispatch, balancer config access, all result flattening
  moat/ems/battery/_base.py
  moat/lib/rpc/cmd/array.py
  moat/micro/files.py
  tests/moat_ems_battery/test_diy_serial.py
  tests/moat_ems_battery/test_fake_batt.py
Due: pytest-modified

Fix v_offset: use config key u.offset instead of hardcoded attribute
  moat/ems/battery/diy_serial/cell.py
Due: pytest-modified

Add mpy-cross architecture awareness for native code
  docs/moat-micro/config.md
  moat/micro/_main.py
  moat/micro/files.py
  moat/micro/romfs.py
  moat/micro/setup.py
  moat/micro/util.py
Due: pytest-modified

Extract moat.lib.modbus sans-IO protocol core, drop pymodbus
  docs/moat-lib-modbus/ARCHITECTURE.md
  docs/moat-lib-modbus/api.rst
  docs/moat-lib-modbus/index.md
  docs/moat-lib.md
  docs/moat-modbus/ARCHITECTURE.md
  moat/lib/modbus/__init__.py
  moat/lib/modbus/_crc.py
  moat/lib/modbus/errors.py
  moat/lib/modbus/framer.py
  moat/lib/modbus/pdu.py
  moat/modbus/__init__.py
  moat/modbus/_compat.py
  moat/modbus/_main.py
  moat/modbus/client.py
  moat/modbus/dev/device.py
  moat/modbus/dev/server.py
  moat/modbus/dev/server_unit.py
  moat/modbus/server.py
  moat/modbus/types.py
  packaging/moat-lib-modbus/README.md
  packaging/moat-lib-modbus/debian/control
  packaging/moat-lib-modbus/pyproject.toml
  packaging/moat-modbus/README.md
  packaging/moat-modbus/debian/control
  packaging/moat-modbus/pyproject.toml
  pyproject.toml
  tests/moat_lib_modbus/__init__.py
  tests/moat_lib_modbus/test_crc.py
  tests/moat_lib_modbus/test_errors.py
  tests/moat_lib_modbus/test_framer.py
  tests/moat_lib_modbus/test_inter_frame.py
  tests/moat_lib_modbus/test_pdu.py
Due: pytest-modified

Update MicroPython submodule to moat branch + rp2 ROMFS
  versions.yaml
Due: check-yaml

feat(moat.db.rain): monitor daemon and `moat db rain <SITE> monitor` CLI
  docs/moat-db-rain/MIGRATION.md
  docs/moat-db-rain/api.rst
  docs/moat-db-rain/index.md
  moat/db/rain/cmds/monitor.py
  moat/db/rain/monitor.py
  packaging/moat-db-rain/README.md
  tests/moat_db_rain/test_monitor.py
Due: pytest-modified

Fix Sphinx
  docs/conf.py
  moat/db/rain/engine.py
  moat/db/rain/model.py
  moat/db/rain/monitor.py
Due: pytest-modified

docs(moat.db.rain): flesh out packaging README and docs index
  docs/moat-db-rain/index.md
  packaging/moat-db-rain/README.md
Due: none

feat: add maxsame staleness monitoring to moat.link.flow
  docs/moat-link-server/structure.md
  moat/link/flow/_main.py
  tests/moat_link/test_cmd_flow.py
Due: pytest-modified

Fix flaky maxsame test and convert sames list to set
  moat/link/flow/_main.py
  tests/moat_link/test_cmd_flow.py
Due: pytest-modified

Add type annotations to moat.micro packages
  AGENTS.md
  moat/micro/_main.py
  moat/micro/_util.py
  moat/micro/app/_sys.py
  moat/micro/app/bms/diy_serial.py
  moat/micro/app/ic/__init__.py
  moat/micro/app/ic/hdc2010.py
  moat/micro/app/ic/tmp102.py
  moat/micro/app/part.py
  moat/micro/app/rtc.py
  moat/micro/app/serial/__init__.py
  moat/micro/app/serial/_util.py
  moat/micro/app/serial/link.py
  moat/micro/app/serial/msg.py
  moat/micro/app/serial/raw.py
  moat/micro/cmd/util/valtask.py
  moat/micro/part/average.py
  moat/micro/part/control.py
  moat/micro/part/fake.py
  moat/micro/part/pid.py
  moat/micro/part/pwm.py
  moat/micro/part/relay.py
  moat/micro/part/serial.py
  moat/micro/part/transfer.py
  moat/micro/rtc/__init__.py
  moat/micro/rtc/fs.py
  moat/micro/rtc/link.py
  moat/micro/util.py
Due: pytest-modified

Migrate gpio extension from moat.kv to moat.link
  docs/index.md
  docs/moat-link-gpio/api.rst
  docs/moat-link-gpio/index.md
  docs/moat-link/extend.md
  docs/moat-link/index.md
  moat/link/gpio/__init__.py
  moat/link/gpio/_cfg.yaml
  moat/link/gpio/_main.py
  moat/link/gpio/model.py
  moat/link/gpio/task.py
  moat/link/gpio/worker.py
  packaging/moat-link-gpio/README.md
  packaging/moat-link-gpio/pyproject.toml
  tests/moat_link_gpio/__init__.py
  tests/moat_link_gpio/test_cli.py
  tests/moat_link_gpio/test_model.py
Due: check-yaml, pytest-modified

docs(moat-link-gpio): remove duplicate GPIO Connector section in index
  docs/index.md
Due: none

Migrate ha extension from moat.kv to moat.link
  docs/index.md
  docs/moat-link-ha/api.rst
  docs/moat-link-ha/index.md
  docs/moat-link/index.md
  moat/link/ha/__init__.py
  moat/link/ha/_cfg.yaml
  moat/link/ha/_main.py
  packaging/moat-link-ha/README.md
  packaging/moat-link-ha/pyproject.toml
  tests/moat_link_ha/__init__.py
  tests/moat_link_ha/test_cli.py
Due: check-yaml, pytest-modified

Replace d_walk with d_list for HA type/device listing
  moat/link/client.py
  moat/link/ha/_main.py
  moat/link/server/_server.py
  tests/moat_link_ha/test_cli.py
Due: pytest-modified

Use / operator for path construction in ha commands
  moat/link/ha/_main.py
Due: pytest-modified

Clean up REPL data ferrying
  docs/conf.py
  moat/lib/repl/rpc.py
  moat/micro/_embed/lib/moat/micro/console.py
Due: pytest-modified

Fix stale BMS references in moat.ems.sched example and docs
  docs/moat-ems/ARCHITECTURE.md
  examples/moat-ems-sched/README
  examples/moat-ems-sched/params.yaml
  examples/moat-ems-sched/test.py
  tests/moat_ems_sched/test_basic.py
Due: check-yaml, pytest-modified

Guard propose() against empty data and unchecked solver status
  moat/ems/sched/control.py
  tests/moat_ems_sched/test_basic.py
Due: pytest-modified

Fix moat.ems.sched: results() wrote to the singular result path
  moat/ems/sched/mode/file.py
  tests/moat_ems_sched/test_basic.py
Due: pytest-modified

moat.ems.sched: fix add_piecewise type annotation (list[int,int] -> list[tuple[int,int]])
  moat/ems/sched/control.py
  pyproject.toml
Due: pytest-modified

Add type annotations to moat.bus packages
  moat/bus/backend/__init__.py
  moat/bus/backend/_stream.py
  moat/bus/backend/moat_kv.py
  moat/bus/backend/mqtt.py
  moat/bus/backend/serial.py
  moat/bus/crc.py
  moat/bus/fake/bus.py
  moat/bus/fake/client.py
  moat/bus/fake/recv.py
  moat/bus/fake/send.py
  moat/bus/fake/server.py
  moat/bus/handler.py
  moat/bus/message.py
  moat/bus/serial.py
  moat/bus/server/_main.py
  moat/bus/server/control/addr.py
  moat/bus/server/control/poll.py
  moat/bus/server/obj.py
  moat/bus/util.py
  pyproject.toml
Due: pytest-modified

Add type annotations to remaining moat.bus.server files
  moat/bus/server/control/__init__.py
  moat/bus/server/control/flash.py
  moat/bus/server/gateway.py
  moat/bus/server/obj.py
  moat/bus/server/server.py
Due: pytest-modified

Refactor tests to use port=0 instead of free_tcp_port
  docs/conf.py
  docs/moat-api-bosch/index.md
  docs/moat-kv/code.md
  docs/moat-lib-config/index.md
  docs/moat-lib-path/index.md
  docs/moat-lib-proxy/index.md
  docs/moat-lib-rpc/index.md
  docs/moat-lib-run/index.md
  docs/moat-link-metrics-backend-akumuli/index.md
  docs/moat-link-metrics-backend-victoria/index.md
  docs/moat-link-server/link-sync.md
  docs/moat-link/kv-migration-guide.md
  docs/moat-micro/testing.md
  docs/moat-micro/tutorial.md
  docs/moat-mqtt/references/broker.md
  docs/moat-mqtt/references/mqttclient.md
  moat/dev/heat/HEAT.md
  moat/lib/rpc/cmd/tree/listen.py
  moat/lib/rpc/conn/tcp.py
  moat/lib/rpc/conn/unix.py
  moat/lib/rpc/conn/util.py
  moat/lib/rpc/conn/ws.py
  moat/modbus/dev/poll.py
  tests/conftest.py
  tests/moat_kv_akumuli/test_akumuli.py
  tests/moat_lib_rpc/test_connect.py
  tests/moat_lib_rpc/test_connect_ws.py
  tests/moat_lib_rpc/test_ws_transport.py
  tests/moat_link_metrics_akumuli/test_akumuli.py
  tests/moat_link_metrics_victoria/test_victoria.py
  tests/moat_modbus/test_dev_server.py
  tests/moat_modbus/test_link.py
  tests/moat_mqtt/mqtt/protocol/test_handler.py
Due: pytest-modified

Refactor MQTT broker tests to use port=0 with readback instead of FreePortFactory
  moat/kv/mock/mqtt.py
  moat/mqtt/broker.py
  moat/mqtt/test.py
  tests/moat_mqtt/test_broker.py
  tests/moat_mqtt/test_client.py
  tests/moat_mqtt/test_client_kv.py
Due: pytest-modified

Fix run_server port_cb: add port_cb param, read bound port from /proc for MicroPython
  moat/micro/_embed/lib/moat/lib/micro/__init__.py
Due: pytest-modified

Restore free_tcp_port for MpyRaw tests: BBM has no command tree for port readback
  tests/moat_micro/test_console.py
Due: pytest-modified

feat: auto-generated proxies with weakref release (moat-8sn)
  moat/lib/proxy/_proxy.py
  tests/moat_lib_proxy/test_proxy_weakref.py
  tests/moat_util/test_codec_cbor.py
  tests/moat_util/test_codec_msgpack.py
Due: pytest-modified

Add a LRU cache to the auto-proxy
  moat/lib/proxy/_proxy.py
  tests/moat_lib_proxy/test_proxy_weakref.py
  tests/moat_util/test_codec_cbor.py
  tests/moat_util/test_codec_msgpack.py
Due: pytest-modified

Update proxy consumers for weakref-based lookup
  moat/lib/codec/_moat_msgpack.py
  moat/lib/proxy/__init__.py
  moat/lib/proxy/_impl.py
  moat/micro/_embed/lib/moat/lib/_proxy.py
Due: pytest-modified

Add complete type annotations to moat.src and moat.src.api
  moat/src/_main.py
  moat/src/_repo.py
  moat/src/_util.py
  moat/src/api/__init__.py
  moat/src/api/_common.py
  moat/src/api/github.py
  moat/src/api/localgit.py
  moat/src/api/radicle.py
  moat/src/build.py
  moat/src/dep-update.py
  moat/src/inspect.py
  moat/src/move.py
  moat/src/test.py
Due: pytest-modified

Fix moat-f4m: add ty type checking to moat.api packages
  moat/api/_dll.py
  moat/api/bosch/bmv080.py
  pyproject.toml
Due: pytest-modified

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  pytest-modified: any of: \.py$
