Repository M-o-a-T/moat: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, pytest-modified

check-yaml:
  name: check yaml
  description: checks yaml files (understands MoaT tags)
  entry: pre_commit_hooks/check-yaml
  language: python
  args:
  - --allow-multiple-documents

pytest-modified:
  name: pytest on modified modules
  description: runs pytest on test directories for modified moat modules
  entry: pre_commit_hooks/pytest
  language: python
  pass_filenames: true
  require_serial: true

Fix broken casts
  moat/util/_main.py
Due: pytest-modified

Remove partial fluushing
  moat/util/msg.py
Due: pytest-modified

Build version 26.1.4
  packaging/moat-lib-run/debian/changelog
  packaging/moat-link-server/debian/changelog
  packaging/moat-link-server/pyproject.toml
  packaging/moat-link/debian/changelog
  packaging/moat-link/pyproject.toml
  packaging/moat-util/debian/changelog
  packaging/moat-util/pyproject.toml
  versions.yaml
Due: check-yaml

More leniency when joining paths
  moat/lib/path/_impl.py
  tests/moat_lib_path/test_path.py
Due: pytest-modified

Build version 26.1.5
  packaging/moat-lib-path/debian/changelog
  packaging/moat-lib-path/pyproject.toml
  packaging/moat-lib-run/debian/changelog
  packaging/moat-link-server/debian/changelog
  packaging/moat-link/debian/changelog
  packaging/moat-util/debian/changelog
  versions.yaml
Due: check-yaml

Drop transitions_aio dependency
  moat/_cfg.yaml
  pyproject.toml
  tests/logging.cfg
  uv.lock
Due: check-yaml

Don't die when a savefile can't be renamed/deleted
  moat/link/server/_server.py
Due: pytest-modified

moat-link: Add magic file entry for MoaT savefiles
  packaging/moat-link/Makefile
  packaging/moat-link/moat-link.magic
Due: none

moat-link-server: Add local time option and auto-suffix collision handling
  moat/link/server/_cfg.yaml
  moat/link/server/_server.py
  packaging/moat-link/moat-link.magic
Due: check-yaml, pytest-modified

don't return in a finally:
  moat/lib/stream/reliable.py
Due: pytest-modified

Default to asyncio when using xknx (for now).
  moat/main.py
Due: pytest-modified

Update xknx support
  moat/kv/knx/model.py
  moat/kv/knx/task.py
  packaging/moat-kv-knx/pyproject.toml
  pyproject.toml
Due: pytest-modified

Build version 26.1.7
  packaging/moat-kv-knx/debian/changelog
  packaging/moat-kv-knx/pyproject.toml
  packaging/moat-lib-path/debian/changelog
  packaging/moat-lib-run/debian/changelog
  packaging/moat-lib-stream/debian/changelog
  packaging/moat-lib-stream/pyproject.toml
  packaging/moat-link-server/debian/changelog
  packaging/moat-link-server/pyproject.toml
  packaging/moat-link/debian/changelog
  packaging/moat/debian/changelog
  packaging/moat/pyproject.toml
  versions.yaml
Due: check-yaml

More dependencies
  packaging/moat-kv-inv/pyproject.toml
  pyproject.toml
Due: none

Print help on usage error.
  moat/main.py
Due: pytest-modified

use test wrapper
  tests/moat_lib_mqtt/conftest.py
  tests/moat_lib_mqtt/test_async_client.py
Due: pytest-modified

format paths as if they were strings
  moat/lib/path/_impl.py
Due: pytest-modified

typing owchies
  moat/lib/mqtt/async_client.py
  moat/lib/rpc/cmd/msg.py
  moat/micro/fuse.py
  moat/util/part.py
Due: pytest-modified

drop dead symlinks
  TODO/bus/python/moat/cmd.py
  TODO/bus/python/moat/proto/reliable.py
  TODO/bus/python/moat/proto/stream.py
  TODO/bus/python/moat/stacks/__init__.py
  TODO/bus/python/serialpacker.py
  TODO/micro/micropython-lib
Due: pytest-modified

*sigh*
  uv.lock
Due: none

this is a tuple (by now), not a dict
  moat/link/cmd/error.py
Due: pytest-modified

wrong type
  moat/util/yaml.py
Due: pytest-modified

Add "moat link error list" command
  moat/link/cmd/error.py
Due: pytest-modified

these deps don't look right
  pyproject.toml
Due: none

don't run sync MQTT test
  tests/moat_lib_mqtt/test_sync_client.py
Due: pytest-modified

Fake PathElem type in _embed
  moat/micro/_embed/lib/moat/lib/path.py
Due: pytest-modified

export Walker, for sphinx
  moat/link/client.py
Due: pytest-modified

update the venv when make-ing
  Makefile
Due: none

Limit pymodbus to 3.9
  packaging/moat-modbus/pyproject.toml
  pyproject.toml
Due: none

more deps
  pyproject.toml
Due: none

Less typing
  moat/lib/codec/cbor.py
  moat/link/client.py
  moat/link/meta.py
  moat/util/_main.py
  moat/util/event.py
  moat/util/queue.py
  moat/util/yaml.py
Due: pytest-modified

pymodbus, again
  moat/modbus/types.py
Due: pytest-modified

Use cysystemd if it exists
  moat/util/systemd.py
Due: pytest-modified

Add errors=surrogateescape to utf-8 codecs.
  TODO/bus/python/moat/direct.py
  TODO/bus/python/moat/path.py
  TODO/bus/python/scripts/mqtt
  docs/conf.py
  moat/api/bosch/bmv080.py
  moat/bus/crc.py
  moat/bus/fake/send.py
  moat/bus/serial.py
  moat/ems/victron/dbus/utils.py
  moat/kv/akumuli/task.py
  moat/kv/auth/password.py
  moat/kv/ha/schema.yaml
  moat/lib/codec/_cbor.py
  moat/lib/codec/_moat_msgpack.py
  moat/lib/codec/bool.py
  moat/lib/codec/json.py
  moat/lib/codec/msgpack.py
  moat/lib/codec/utf8.py
  moat/lib/codec/yaml.py
  moat/lib/gpio/_impl.py
  moat/lib/mqtt/_types.py
  moat/lib/rpc/app/_test_.py
  moat/link/client.py
  moat/link/meta.py
  moat/micro/direct.py
  moat/micro/fuse.py
  moat/modbus/types.py
  moat/mqtt/_main.py
  moat/mqtt/codecs.py
  moat/mqtt/mqtt/subscribe.py
  moat/mqtt/mqtt/unsubscribe.py
  moat/mqtt/plugins/sys/broker.py
  moat/src/_main.py
  moat/src/_repo.py
  moat/src/build.py
  moat/util/exec.py
  moat/util/liner.py
  moat/util/yaml.py
  packaging/moat-ems-battery/scripts/mqtt
Due: check-yaml, pytest-modified

dolt sync
  .beads/config.yaml
Due: check-yaml

needs ruff
  pyproject.toml
Due: none

Update beads infrastructure
  .beads/.gitignore
  .beads/README.md
  .beads/metadata.json
  .gitignore
Due: none

Update AGENTS.md
  AGENTS.md
Due: none

moat-c1j: add knx test infrastructure and fix mock.py
  moat/kv/knx/mock.py
  tests/moat_kv_knx/__init__.py
  tests/moat_kv_knx/conftest.py
  tests/moat_kv_knx/test_knx.py
Due: pytest-modified

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  pytest-modified: any of: \.py$
