Repository M-o-a-T/moat: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, pytest-modified

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      # id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.3
    hooks:
      - id: ruff
        args: [--fix, --show-fixes]
      - id: ruff-format
        exclude: "docs/.*"

  - repo: local
    hooks:
    - id: check-yaml
      name: check yaml
      description: checks yaml files (understands MoaT tags)
      entry: pre_commit_hooks/check-yaml
      language: python
      types: [yaml]
      args: [--allow-multiple-documents]

    - id: pytest-modified
      name: pytest on modified modules
      description: runs pytest on test directories for modified moat modules
      entry: pre_commit_hooks/pytest
      language: python
      types: [python]
      pass_filenames: true
      require_serial: true

  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.406
    hooks:
    - id: pyright
      files: "moat/lib/pid|moat/util/path.py|tests/moat_lib_pid|tests/moat_util/test_path.py"
      additional_dependencies:
        - simpleeval
        - pytest
        - anyio
        - numpy

"moat link raw init" creates a new config file
  moat/link/cmd/raw.py
  moat/link/server/_server.py
Due: pytest-modified

Initial data read should not fail if repeated
  moat/link/server/_server.py
Due: pytest-modified

fix path check logic
  moat/link/client.py
Due: pytest-modified

Build version 26.0.17
  packaging/moat-kv/pyproject.toml
  packaging/moat-lib-rpc/debian/changelog
  packaging/moat-lib-rpc/pyproject.toml
  packaging/moat-lib-run/debian/changelog
  packaging/moat-link-gate/pyproject.toml
  packaging/moat-link-metrics/pyproject.toml
  packaging/moat-link-notify/pyproject.toml
  packaging/moat-link-schema/pyproject.toml
  packaging/moat-link-server/debian/changelog
  packaging/moat-link-server/pyproject.toml
  packaging/moat-link/debian/changelog
  packaging/moat-link/pyproject.toml
  packaging/moat/pyproject.toml
  versions.yaml
Due: check-yaml

Delay startup after flashmq and/or link-server are up
  packaging/moat-link/systemd/moat-link-host.service
Due: none

Adjust float mangling
  moat/lib/codec/_cbor.py
  moat/util/yaml.py
Due: pytest-modified

clean up setting the path Root
  moat/link/_main.py
  moat/link/announce.py
  moat/link/client.py
  moat/link/server/_server.py
  moat/micro/rtc/__init__.py
  tests/moat_link/test_host.py
Due: pytest-modified

Build version 26.0.18
  packaging/moat-kv/debian/changelog
  packaging/moat-lib-codec/debian/changelog
  packaging/moat-lib-codec/pyproject.toml
  packaging/moat-lib-rpc/debian/changelog
  packaging/moat-lib-run/debian/changelog
  packaging/moat-link-gate/debian/changelog
  packaging/moat-link-metrics/debian/changelog
  packaging/moat-link-notify/debian/changelog
  packaging/moat-link-schema/debian/changelog
  packaging/moat-link-server/debian/changelog
  packaging/moat-link-server/pyproject.toml
  packaging/moat-link/debian/changelog
  packaging/moat-link/pyproject.toml
  packaging/moat-micro/debian/changelog
  packaging/moat-micro/pyproject.toml
  packaging/moat-util/debian/changelog
  packaging/moat-util/pyproject.toml
  packaging/moat/debian/changelog
  versions.yaml
Due: check-yaml

Typo
  moat/modbus/dev/_data/energy/Eastron/SDM630.yaml
Due: check-yaml

Use installed version when not testing
  moat/modbus/dev/device.py
Due: pytest-modified

Don't be too verbose on timeout error
  moat/modbus/server.py
Due: pytest-modified

New: Orno OR-WE-516/517
  moat/modbus/dev/_data/energy/Orno/OR-WE-517.yaml
Due: check-yaml

Force asyncclick >8.3
  packaging/moat-db-box/pyproject.toml
  packaging/moat-db-label/pyproject.toml
  packaging/moat-db-thing/pyproject.toml
  packaging/moat-db/pyproject.toml
  packaging/moat-ems-inv/requirements.txt
  packaging/moat-kv/debian/control
  packaging/moat-kv/pyproject.toml
  packaging/moat-lib-run/debian/control
  packaging/moat-link-gate/pyproject.toml
  packaging/moat-link-metrics/pyproject.toml
  packaging/moat-link-notify/pyproject.toml
  packaging/moat-link-schema/pyproject.toml
  packaging/moat-link-server/pyproject.toml
  packaging/moat-micro/debian/control
  packaging/moat-src/pyproject.toml
  packaging/moat-util/pyproject.toml
Due: none

Use a cast
  moat/link/gate/__init__.py
Due: pytest-modified

fix host use
  moat/modbus/client.py
  moat/modbus/dev/device.py
  moat/modbus/dev/poll.py
Due: pytest-modified

Change a test to use more than one unit
  tests/moat_modbus/test_basic.py
  tests/moat_modbus/test_dev_server.py
  tests/moat_modbus/test_misc.py
Due: pytest-modified

Build version 26.0.19
  packaging/moat-kv/debian/changelog
  packaging/moat-lib-codec/debian/changelog
  packaging/moat-link-gate/debian/changelog
  packaging/moat-link-gate/pyproject.toml
  packaging/moat-link-metrics/debian/changelog
  packaging/moat-link-notify/debian/changelog
  packaging/moat-link-schema/debian/changelog
  packaging/moat-link-server/debian/changelog
  packaging/moat-link/debian/changelog
  packaging/moat-micro/debian/changelog
  packaging/moat-modbus-dev-_data/debian/changelog
  packaging/moat-modbus/debian/changelog
  packaging/moat-modbus/pyproject.toml
  packaging/moat-src/debian/changelog
  packaging/moat-util/debian/changelog
  tests/moat_modbus/test_misc.py
  versions.yaml
Due: check-yaml, pytest-modified

Add codecs for json .value and stringified .value
  docs/moat-lib-codec/api.rst
  moat/lib/codec/jsonvalstr.py
  moat/lib/codec/jsonvalue.py
Due: pytest-modified

Basic service files for secondary moat-link installation
  packaging/moat-link-server/systemd/moat-link-server@.service
  packaging/moat-link/systemd/moat-link-host@.service
Due: none

Don't require kv to run on the same host
  packaging/moat-kv/systemd/moat-kv-run-all.service
  packaging/moat-kv/systemd/moat-kv-run-all@.service
  packaging/moat-kv/systemd/moat-kv-run-any.service
  packaging/moat-kv/systemd/moat-kv-run-any@.service
  packaging/moat-kv/systemd/moat-kv-run-single.service
  packaging/moat-kv/systemd/moat-kv-run-single@.service
Due: none

Don't crash
  moat/kv/obj/__init__.py
Due: pytest-modified

accept same-prefix concat
  moat/lib/path/_impl.py
Due: pytest-modified

Build version 26.0.20
  packaging/moat-kv/debian/changelog
  packaging/moat-kv/pyproject.toml
  packaging/moat-lib-codec/debian/changelog
  packaging/moat-lib-codec/pyproject.toml
  packaging/moat-lib-path/debian/changelog
  packaging/moat-lib-path/pyproject.toml
  packaging/moat-link-gate/debian/changelog
  packaging/moat-link-server/debian/changelog
  packaging/moat-link/debian/changelog
  packaging/moat-modbus/debian/changelog
  versions.yaml
Due: check-yaml

TEMP check in
  docs/moat-lib-rpc/auth.md
  docs/moat-link-server/messages.md
  docs/moat-link-server/schema.yml
  moat/lib/rpc/__init__.py
  moat/lib/rpc/auth/__init__.py
  moat/lib/rpc/auth/_base.py
  moat/link/auth.py
  moat/link/client.py
  moat/link/cmd/host.py
  moat/link/hello.py
  moat/link/server/_server.py
  tests/moat_link_server/test_basic.py
Due: check-yaml, pytest-modified

Complete removal of legacy Hello/auth protocol
  moat/lib/rpc/auth/_base.py
  moat/lib/rpc/cmd/_base.py
  moat/link/client.py
  moat/link/hello.py
  moat/link/server/_server.py
Due: pytest-modified

Restore AuthNoRemote fallback in AuthCmdIn.task; fix Sphinx warnings
  docs/conf.py
  moat/lib/rpc/auth/_base.py
Due: pytest-modified

Complete removal of legacy Hello/auth protocol
  docs/conf.py
  docs/moat-lib-rpc/auth.md
  docs/moat-link-server/messages.md
  docs/moat-link-server/schema.yml
  moat/lib/rpc/__init__.py
  moat/lib/rpc/auth/__init__.py
  moat/lib/rpc/auth/_base.py
  moat/lib/rpc/cmd/_base.py
  moat/link/auth.py
  moat/link/client.py
  moat/link/cmd/host.py
  moat/link/hello.py
  moat/link/server/_server.py
  tests/moat_link_server/test_basic.py
Due: check-yaml, pytest-modified

AGENTS update
  AGENTS.md
Due: none

Host list fixup
  moat/link/cmd/host.py
Due: pytest-modified

Build version 26.1.1
  packaging/moat-kv/debian/changelog
  packaging/moat-kv/pyproject.toml
  packaging/moat-lib-codec/debian/changelog
  packaging/moat-lib-path/debian/changelog
  packaging/moat-lib-rpc/debian/changelog
  packaging/moat-lib-rpc/pyproject.toml
  packaging/moat-link-gate/pyproject.toml
  packaging/moat-link-metrics/pyproject.toml
  packaging/moat-link-notify/pyproject.toml
  packaging/moat-link-schema/pyproject.toml
  packaging/moat-link-server/debian/changelog
  packaging/moat-link-server/pyproject.toml
  packaging/moat-link/debian/changelog
  packaging/moat-link/pyproject.toml
  packaging/moat/pyproject.toml
  versions.yaml
Due: check-yaml

moat-link-server: clean up old state files per retention policy
  docs/moat-link-server/savefile.md
  moat/link/server/_cfg.yaml
  moat/link/server/_server.py
  moat/util/times.py
  tests/moat_link_server/test_cleanup.py
Due: check-yaml, pytest-modified

moat-link-server: store relative paths in state-file headers
  moat/link/server/_server.py
  tests/moat_link_server/test_cleanup.py
Due: pytest-modified

Build version 26.1.3
  packaging/moat-kv/debian/changelog
  packaging/moat-lib-rpc/debian/changelog
  packaging/moat-link-gate/debian/changelog
  packaging/moat-link-metrics/debian/changelog
  packaging/moat-link-notify/debian/changelog
  packaging/moat-link-schema/debian/changelog
  packaging/moat-link-server/debian/changelog
  packaging/moat-link-server/pyproject.toml
  packaging/moat-link/debian/changelog
  packaging/moat-util/debian/changelog
  packaging/moat-util/pyproject.toml
  packaging/moat/debian/changelog
  versions.yaml
Due: check-yaml

moat-link-server: drop missing files from cleanup list
  moat/link/server/_server.py
  tests/moat_link_server/test_cleanup.py
Due: pytest-modified

moat-link-server: rmdir empty parents after state file deletion
  moat/link/server/_server.py
  tests/moat_link_server/test_cleanup.py
Due: pytest-modified

moat-link-server: connect to peer servers only once per announcement
  moat/link/server/_server.py
Due: pytest-modified

Beads issue backup
  .beads/issues.jsonl
Due: none

more beads ignore
  .beads/.gitignore
Due: none

Fix auth error ("hello" protocol is gone)
  moat/link/client.py
  moat/link/server/_server.py
  tests/moat_link_server/test_basic.py
Due: pytest-modified

Client: add path as first-try option
  moat/link/_cfg.yaml
  moat/link/client.py
  tests/moat_link_server/test_client.py
Due: check-yaml, pytest-modified
