Repository M-o-a-T/moat: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, pytest-modified

check-yaml:
  name: check yaml
  description: checks yaml files (understands MoaT tags)
  entry: pre_commit_hooks/check-yaml
  language: python
  args:
  - --allow-multiple-documents

pytest-modified:
  name: pytest on modified modules
  description: runs pytest on test directories for modified moat modules
  entry: pre_commit_hooks/pytest
  language: python
  pass_filenames: true
  require_serial: true

Superfluous
  moat/link/server/_server.py
Due: pytest-modified

Schema fixup
  docs/moat-link-server/schema.yml
Due: check-yaml

Added example
  moat/link/server/_cfg.yaml
Due: check-yaml

docstr update
  moat/link/server/_server.py
Due: pytest-modified

Move moat-micro Err app to moat-lib-rpc RetryCmd
  moat/lib/rpc/__init__.py
  moat/lib/rpc/cmd/retry.py
  moat/micro/_embed/lib/moat/lib/rpc/cmd/retry.py
  moat/micro/app/sub/err.py
Due: pytest-modified

Refactor moat-util: share help block formatter
  moat/link/cmd/data.py
  moat/util/__init__.py
  moat/util/_main.py
  moat/util/help.py
Due: pytest-modified

Don't backtrace on EPIPE
  moat/link/cmd/data.py
Due: pytest-modified

Change moat-link collect to merge matching branches
  moat/link/node/__init__.py
  tests/moat_link/test_node.py
  tests/moat_link_server/test_basic.py
Due: pytest-modified

Add moat-link data dump/load import support
  moat/link/cmd/data.py
  moat/link/server/_server.py
  tests/moat_link/test_cmd_data.py
Due: pytest-modified

Adjust d_set write result and load retry semantics
  moat/link/client.py
  moat/link/cmd/data.py
  moat/link/server/_server.py
  tests/moat_link/test_cmd_data.py
  tests/moat_link_server/test_client.py
Due: pytest-modified

Use MsgMeta dump/restore in data import/export
  moat/link/cmd/data.py
  tests/moat_link/test_cmd_data.py
Due: pytest-modified

Compact link data dump metadata encoding
  moat/link/cmd/data.py
  tests/moat_link/test_cmd_data.py
Due: pytest-modified

Add dict dump/load format for link data
  moat/link/cmd/data.py
  tests/moat_link/test_cmd_data.py
Due: pytest-modified

Support dump/load without metadata
  moat/link/cmd/data.py
  tests/moat_link/test_cmd_data.py
Due: pytest-modified

Adjust Node.set result semantics for d_set
  moat/link/node/__init__.py
  moat/link/server/_server.py
  tests/moat_link/test_node.py
  tests/moat_link_server/test_client.py
Due: pytest-modified

Add d_search and template fallback for data edit
  moat/link/client.py
  moat/link/cmd/data.py
  moat/link/server/_server.py
  tests/moat_link/test_cmd_data.py
Due: pytest-modified

Add link schema package and get command
  moat/link/cmd/schema.py
  moat/link/schema.py
  moat/link/schema/__init__.py
  tests/moat_link/test_cmd_schema.py
Due: pytest-modified

Add schema verification option to d_set
  moat/link/client.py
  tests/moat_link/test_client.py
Due: pytest-modified

Add schema monitor and check commands
  moat/link/cmd/schema.py
  tests/moat_link/test_cmd_schema.py
Due: pytest-modified

Add moat-link-schema package and docs
  docs/index.md
  docs/moat-link-schema/api.rst
  docs/moat-link-schema/index.md
  docs/moat-link/index.md
  packaging/moat-link-schema/LICENSE.txt
  packaging/moat-link-schema/Makefile
  packaging/moat-link-schema/README.md
  packaging/moat-link-schema/pyproject.toml
Due: none

add basic error handling document
  docs/moat-link/errors.md
  docs/moat-link/index.md
Due: none

Fix moat-link errors page formatting
  docs/moat-link/errors.md
Due: none

Add moat link code command and editor
  moat/link/code/__init__.py
  moat/link/code/_main.py
Due: pytest-modified

Add code_at runner for stored link snippets
  moat/link/client.py
  moat/link/code/run.py
  tests/moat_link_server/test_client.py
Due: pytest-modified

Run code.test checks in link code editor
  moat/link/code/_main.py
  tests/moat_link/test_code_cmd.py
Due: pytest-modified

Link error methods in docs
  docs/moat-link/errors.md
Due: none

Clean up moat.link code handling
  moat/link/client.py
  moat/link/code/__init__.py
  moat/link/code/_main.py
  moat/link/code/run.py
  tests/moat_link/test_code_cmd.py
  tests/moat_link/test_code_run.py
  tests/moat_link_server/test_client.py
Due: pytest-modified

Add watchable async context support to link.code_at
  moat/link/client.py
  moat/link/code/run.py
  tests/moat_link/test_code_run.py
Due: pytest-modified

De-flakey-ize test
  tests/moat_link/test_host.py
Due: pytest-modified

Refactor code_at watcher ownership
  moat/link/client.py
Due: pytest-modified

Use references!
  AGENTS.md
Due: none

Extract shared edit helpers
  moat/link/cmd/data.py
  moat/link/code/_main.py
  moat/util/__init__.py
  moat/util/edit.py
  tests/moat_link/test_cmd_data.py
  tests/moat_link/test_code_cmd.py
Due: pytest-modified

ruff and stuff
  docs/moat-lib-mqtt/snippets/userguide/async_subscribe_multi.py
  docs/moat-lib-mqtt/snippets/userguide/async_subscribe_multitask.py
  docs/moat-lib-mqtt/snippets/userguide/async_subscribe_single.py
  docs/moat-lib-mqtt/snippets/userguide/sync_subscribe_multi.py
  docs/moat-lib-mqtt/snippets/userguide/sync_subscribe_single.py
  examples/moat-cad/brother_singlepage.py
  examples/moat-cad/clickfinity_drills.py
  moat/cad/gridbox.py
  moat/cad/misc.py
  moat/kv/_main.py
  moat/lib/run/__init__.py
  moat/link/hello.py
  moat/micro/_embed/lib/async_queue.py
  moat/micro/part/pwm.py
  moat/micro/romfs.py
  moat/micro/rtc/__init__.py
  moat/mqtt/client.py
  moat/src/_util.py
  moat/util/module.py
  moat/util/server.py
  moat/util/times.py
  pyproject.toml
Due: pytest-modified

Don't send a free-floating Will message
  moat/link/backend/mqtt.py
Due: pytest-modified

more debugging
  moat/link/backend/mqtt.py
Due: pytest-modified

Add a --mqtt option to delete
  moat/link/cmd/data.py
Due: pytest-modified

improve debug output (we hope)
  moat/link/host.py
Due: pytest-modified

improve docs somewhat
  docs/moat-link/tracking.md
Due: none

simplify condition
  moat/link/client.py
Due: pytest-modified

Will topic needs a prefix
  moat/link/backend/mqtt.py
Due: pytest-modified

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  pytest-modified: any of: \.py$
