Repository M-o-a-T/moat: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, pytest-modified

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      # id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.3
    hooks:
      - id: ruff
        args: [--fix, --show-fixes]
      - id: ruff-format
        exclude: "docs/.*"

  - repo: local
    hooks:
    - id: check-yaml
      name: check yaml
      description: checks yaml files (understands MoaT tags)
      entry: pre_commit_hooks/check-yaml
      language: python
      types: [yaml]
      args: [--allow-multiple-documents]

    - id: pytest-modified
      name: pytest on modified modules
      description: runs pytest on test directories for modified moat modules
      entry: pre_commit_hooks/pytest
      language: python
      types: [python]
      pass_filenames: true
      require_serial: true

  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.406
    hooks:
    - id: pyright
      files: "moat/lib/pid|moat/util/path.py|tests/moat_lib_pid|tests/moat_util/test_path.py"
      additional_dependencies:
        - simpleeval
        - pytest
        - anyio
        - numpy

forgotten import update
  moat/db/label/_main.py
  moat/db/label/pdf.py
Due: pytest-modified

Document static server announcement
  docs/moat-link-server/schema.yml
Due: check-yaml

Use installed mpy-cross
  moat/micro/_main.py
Due: pytest-modified

Adjust worktree tests for simplified submodule handling
  moat/src/worktree.py
  tests/moat_src/test_worktree.py
Due: pytest-modified

Add (auth) bridge connector
  docs/moat-lib-rpc/auth.md
  moat/lib/rpc/app/auth.py
  tests/moat_lib_rpc/test_auth_app.py
Due: pytest-modified

Fix moat-2zv: add auth app e2e forwarding coverage
  tests/moat_lib_rpc/test_auth_app.py
Due: pytest-modified

Fix moat-6uu: finish typing moat.link core files
  moat/link/client.py
  moat/link/conn.py
  moat/link/hello.py
  moat/link/server/_server.py
  pyproject.toml
Due: pytest-modified

Fix ty-check batch in moat.link
  moat/link/code/_main.py
  moat/link/common.py
  moat/link/flow/_main.py
  moat/link/gate/__init__.py
  moat/link/gate/mqtt.py
  moat/link/notify/__init__.py
  pyproject.toml
Due: pytest-modified

Drop protocols from Sphinx output
  docs/conf.py
  moat/link/client.py
Due: pytest-modified

Fix worktree pruning+listing
  moat/src/worktree.py
Due: pytest-modified

Align worktree tests with submodule .git checks
  moat/src/worktree.py
  tests/moat_src/test_worktree.py
Due: pytest-modified

Removed brain-dead tests
  moat/src/worktree.py
Due: pytest-modified

Add no-beads mode, symlink .venv
  moat/src/worktree.py
Due: pytest-modified

moat-xdm: Add -s/--server option and i.backend command
  moat/link/_main.py
  moat/link/common.py
  tests/moat_link_server/test_basic.py
Due: pytest-modified

moat-xdm: "only" parameter to Link, to connect to a specific server
  moat/link/client.py
  tests/moat_link_server/test_basic.py
Due: pytest-modified

moat-xdm: Add DelayedGate class for delayed updates
  moat/link/gate/__init__.py
  tests/moat_link_server/test_gate.py
Due: pytest-modified

moat-xdm: Add Link gate for server-to-server synchronization
  moat/link/gate/link.py
Due: pytest-modified

moat.micro typing
  moat/ems/victron/dbus/__init__.py
  moat/lib/gpio/_impl.py
  moat/lib/rpc/alert.py
  moat/lib/rpc/app/_test/looplink.py
  moat/lib/rpc/app/net/tcp/raw.py
  moat/lib/rpc/app/net/unix/raw.py
  moat/lib/rpc/app/remote/raw.py
  moat/lib/rpc/app/spi.py
  moat/lib/rpc/base.py
  moat/lib/rpc/loop.py
  moat/lib/rpc/msg.py
  moat/link/flow/__init__.py
  moat/micro/app/_sys.py
  moat/micro/app/ic/__init__.py
  moat/micro/app/ic/tmp102.py
  moat/micro/app/part.py
  moat/micro/app/rtc.py
  moat/micro/app/serial/__init__.py
  moat/micro/app/serial/_util.py
  moat/micro/app/serial/msg.py
  moat/micro/cmd/util/valtask.py
  moat/micro/conv/steinhart.py
  moat/micro/rtc/__init__.py
  moat/micro/rtc/fs.py
  moat/micro/rtc/link.py
  moat/util/exc.py
  packaging/moat-lib-config/README.md
  pyproject.toml
Due: pytest-modified

Fix moat.micro ty checks for widened scope
  moat/lib/rpc/base.py
  moat/micro/_main.py
  moat/micro/_util.py
  moat/micro/part/average.py
  moat/micro/part/fake.py
  moat/micro/part/pid.py
  moat/micro/part/pwm.py
  moat/micro/part/transfer.py
  moat/micro/setup.py
  moat/micro/util.py
  pyproject.toml
Due: pytest-modified

Fix moat-dkb: ty-clean remaining moat.micro modules
  docs/conf.py
  moat/micro/direct.py
  moat/micro/files.py
  moat/micro/fuse.py
  moat/micro/setup.py
  pyproject.toml
Due: pytest-modified

moat-xdm: Add Link gate integration tests
  moat/link/gate/__init__.py
  tests/moat_link_server/test_gate.py
Due: pytest-modified

AGENTS again
  AGENTS.md
Due: none

Fix moat-dkb: clean gate ty integration regressions
  moat/link/gate/__init__.py
  moat/link/gate/link.py
  moat/link/gate/mqtt.py
  tests/moat_link/test_gate_types.py
Due: pytest-modified

part.pin is µPy-only
  docs/moat-micro/api-part.rst
  moat/micro/_embed/lib/moat/micro/part/pin.py
  moat/micro/part/pin.py
Due: pytest-modified

Don't store beads backup stuff
  .gitignore
Due: none

Build it
  packaging/moat-db-label/pyproject.toml
  packaging/moat-ems-victron/pyproject.toml
  packaging/moat-lib-gpio/pyproject.toml
  packaging/moat-lib-rpc/pyproject.toml
  packaging/moat-link-gate/pyproject.toml
  packaging/moat-link-notify/pyproject.toml
  packaging/moat-link-server/pyproject.toml
  packaging/moat-link/pyproject.toml
  packaging/moat-micro/pyproject.toml
  packaging/moat-src/pyproject.toml
  packaging/moat-util/pyproject.toml
  packaging/moat/debian/changelog
  versions.yaml
Due: check-yaml

Build version 26.0.12
  packaging/moat-kv-akumuli/debian/changelog
  packaging/moat-kv-gpio/debian/changelog
  packaging/moat-kv-ha/debian/changelog
  packaging/moat-kv-knx/debian/changelog
  packaging/moat-kv-ow/debian/changelog
  packaging/moat-kv-wago/debian/changelog
  packaging/moat-kv/debian/changelog
  packaging/moat-lib-broadcast/debian/changelog
  packaging/moat-lib-codec/debian/changelog
  packaging/moat-lib-config/debian/changelog
  packaging/moat-lib-gpio/debian/changelog
  packaging/moat-lib-micro/debian/changelog
  packaging/moat-lib-mqtt/debian/changelog
  packaging/moat-lib-pid/debian/changelog
  packaging/moat-lib-priomap/debian/changelog
  packaging/moat-lib-proxy/debian/changelog
  packaging/moat-lib-repl/debian/changelog
  packaging/moat-lib-rpc/debian/changelog
  packaging/moat-lib-run/debian/changelog
  packaging/moat-lib-run/pyproject.toml
  packaging/moat-lib-stream/debian/changelog
  packaging/moat-link-gate/debian/changelog
  packaging/moat-link-metrics-backend-akumuli/debian/changelog
  packaging/moat-link-metrics-backend-victoria/debian/changelog
  packaging/moat-link-metrics/debian/changelog
  packaging/moat-link-notify/debian/changelog
  packaging/moat-link-schema/debian/changelog
  packaging/moat-link-server/debian/changelog
  packaging/moat-link/debian/changelog
  packaging/moat-micro/debian/changelog
  packaging/moat-modbus/debian/changelog
  packaging/moat-mqtt/debian/changelog
  packaging/moat-src/debian/changelog
  packaging/moat-util/debian/changelog
  versions.yaml
Due: check-yaml

Always set root when announcing
  moat/link/announce.py
Due: pytest-modified

Build version 26.0.13
  packaging/moat-link/debian/changelog
  packaging/moat-link/pyproject.toml
  versions.yaml
Due: check-yaml

Also set root in "moat link" main handler.
  moat/link/_main.py
Due: pytest-modified

Build version 26.0.14
  packaging/moat-lib-run/debian/changelog
  packaging/moat-link/debian/changelog
  packaging/moat-link/pyproject.toml
  versions.yaml
Due: check-yaml

Fix link startup auth fallback race
  tests/moat_link_server/test_basic.py
Due: pytest-modified

Fix RPC auth startup race in link hello
  moat/link/hello.py
  tests/moat_link_server/test_basic.py
Due: pytest-modified

Build version 26.0.15
  packaging/moat-lib-run/debian/changelog
  packaging/moat-link/debian/changelog
  packaging/moat-link/pyproject.toml
  versions.yaml
Due: check-yaml

Respect link server selector in data command
  moat/link/cmd/data.py
  tests/moat_link/test_cmd_data.py
Due: pytest-modified

Gate post-auth commands until RPC accept
  moat/link/client.py
  moat/link/hello.py
  moat/link/server/_server.py
  tests/moat_link_server/test_basic.py
Due: pytest-modified

Build version 26.0.16
  packaging/moat-lib-run/debian/changelog
  packaging/moat-link-server/debian/changelog
  packaging/moat-link-server/pyproject.toml
  packaging/moat-link/debian/changelog
  packaging/moat-link/pyproject.toml
  versions.yaml
Due: check-yaml

Harden RPC auth subcommands against setup race
  moat/lib/rpc/auth/anon.py
  moat/lib/rpc/auth/test.py
  moat/lib/rpc/auth/token.py
  tests/moat_link_server/test_basic.py
Due: pytest-modified

Deduplicate auth seen-event handling
  moat/lib/rpc/auth/_base.py
  moat/lib/rpc/auth/anon.py
  moat/lib/rpc/auth/test.py
  moat/lib/rpc/auth/token.py
Due: pytest-modified
