Repository M-o-a-T/moat: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, pytest-modified

check-yaml:
  name: check yaml
  description: checks yaml files (understands MoaT tags)
  entry: pre_commit_hooks/check-yaml
  language: python
  args:
  - --allow-multiple-documents

pytest-modified:
  name: pytest on modified modules
  description: runs pytest on test directories for modified moat modules
  entry: pre_commit_hooks/pytest
  language: python
  pass_filenames: true
  require_serial: true

Add the ability to send an alert when an app dies
  moat/micro/app/sub.py
Due: pytest-modified

Make more tests fatal
  pyproject.toml
Due: none

ty-ified moat.lib.pid
  moat/lib/pid/_impl.py
  pyproject.toml
Due: pytest-modified

Typing updates
  moat/lib/micro/__init__.py
  moat/lib/pid/_impl.py
  moat/lib/repl/_test.py
  moat/lib/repl/commands.py
  moat/lib/repl/console.py
  moat/lib/repl/reader.py
  moat/lib/repl/readline.py
  moat/lib/repl/simple_interact.py
  moat/lib/repl/unix_console.py
  moat/lib/repl/utils.py
  moat/lib/repl/windows_console.py
  moat/micro/_embed/boards/esp32/config.cfg
  moat/micro/_embed/lib/moat/lib/path.py
Due: pytest-modified

Go back to 3.11 syntax so µPy, pypy et al. have a chance of working
  moat/lib/micro/__init__.py
  moat/lib/path/_impl.py
  moat/lib/priomap/_impl.py
  moat/lib/repl/_test.py
  moat/lib/repl/commands.py
  moat/lib/repl/console.py
  moat/lib/repl/readline.py
  moat/lib/repl/rpc.py
  moat/lib/repl/simple_interact.py
  moat/lib/repl/types.py
  moat/lib/repl/unix_console.py
  moat/lib/repl/utils.py
  moat/lib/repl/windows_console.py
  pyproject.toml
Due: pytest-modified

AGENTS.md update
  AGENTS.md
Due: none

bd sync: 2026-01-14 16:19:49
  .beads/issues.jsonl
Due: none

Fix Sphinx duplicate object error for RootCmd
  docs/moat-lib-rpc/api.rst
  moat/lib/rpc/cmd/_base.py
Due: pytest-modified

Merging .beads was a mistake
  .gitignore
Due: none

Less commit text please
  AGENTS.md
Due: none

Add a logging command
  moat/lib/rpc/__init__.py
  moat/lib/rpc/cmd/log.py
  moat/lib/rpc/stream.py
  moat/micro/app/log.py
Due: pytest-modified

Test app: support crashing
  moat/micro/app/_test_.py
Due: pytest-modified

Test app: support call-out
  moat/micro/app/_test_.py
Due: pytest-modified

ignore some more
  docs/conf.py
Due: pytest-modified

Add real_root fallback
  moat/lib/rpc/cmd/_base.py
Due: pytest-modified

Change APP to a static global
  moat/lib/rpc/__init__.py
  moat/lib/rpc/cmd/_base.py
  moat/lib/rpc/cmd/array.py
  moat/lib/rpc/cmd/tree/_dir.py
  moat/lib/rpc/cmd/tree/layer.py
  tests/moat_micro/test_err.py
Due: pytest-modified

doc update
  moat/lib/rpc/base.py
Due: pytest-modified

redundant code removed
  moat/lib/rpc/base.py
  tests/moat_micro/test_log.py
Due: pytest-modified

Build the Err app once
  moat/micro/app/sub.py
Due: pytest-modified

Test fixes
  moat/micro/_embed/lib/moat/lib/rpc/__init__.py
  moat/micro/app/sub.py
  tests/moat_micro/test_err.py
Due: pytest-modified

Teach our config about signalling updates
  docs/moat-lib-config/index.md
  moat/lib/config/__init__.py
  moat/lib/config/_impl.py
  tests/moat_lib_config/test1_cfg.yaml
  tests/moat_lib_config/test_cfg.py
  tests/moat_lib_config/test_cfg.yaml
  tests/moat_util/test_dict.py
Due: check-yaml, pytest-modified

Remove "drop_dict"
  moat/kv/server.py
  moat/util/dict.py
Due: pytest-modified

dict 2
  moat/micro/_embed/lib/moat/util/__init__.py
  moat/util/dict.py
  tests/conftest.py
Due: pytest-modified

Rename watchdog command to wdt.Cmd
  moat/micro/_embed/boards/esp32/config.cfg
  moat/micro/_embed/boards/esp32/s3/config.cfg
  moat/micro/app/wdt.py
  packaging/moat-ems-battery/configs/fallback_net.cfg
  packaging/moat-ems-battery/configs/fallback_pipe.cfg
  packaging/moat-ems-battery/configs/fallback_serial.cfg
  packaging/moat-micro/configs/fallback_serial.cfg
Due: pytest-modified

Drop redundant default option
  packaging/moat-kv/scripts/rotate
  packaging/moat-kv/scripts/run
  packaging/moat-kv/scripts/run-all
  packaging/moat-kv/scripts/run-any
  packaging/moat-kv/scripts/run-single
  packaging/moat-link-server/scripts/run
Due: none

lib-config doc update
  packaging/moat-lib-config/README.md
Due: none

drop 2
  packaging/moat-link-server/scripts/rotate
  packaging/moat-mqtt/systemd/moat-mqtt.service
Due: none

Default config is *.yaml, not *.cfg; files now use the "real" root.
  packaging/moat-kv-akumuli/moat-kv-akumuli@.service
  packaging/moat-kv-gpio/moat-kv-gpio.service
  packaging/moat-kv-knx/systemd/moat-kv-knx@.service
  packaging/moat-kv-ow/moat-kv-ow@.service
  packaging/moat-kv-ow/systemd/moat-kv-ow@.service
  packaging/moat-kv-wago/moat-kv-wago@.service
  packaging/moat-kv-wago/systemd/moat-kv-wago@.service
  packaging/moat-kv/systemd/moat-kv-recover.service
  packaging/moat-kv/systemd/moat-kv-rotate.service
  packaging/moat-kv/systemd/moat-kv-run-all.service
  packaging/moat-kv/systemd/moat-kv-run-all@.service
  packaging/moat-kv/systemd/moat-kv-run-any.service
  packaging/moat-kv/systemd/moat-kv-run-any@.service
  packaging/moat-kv/systemd/moat-kv-run-single.service
  packaging/moat-kv/systemd/moat-kv-run-single@.service
  packaging/moat-kv/systemd/moat-kv.service
  packaging/moat-link-notify/systemd/moat-link-notify.service
  packaging/moat-link-server/systemd/moat-link-gate@.service
  packaging/moat-link-server/systemd/moat-link-server.service
  packaging/moat-link/systemd/moat-link-host.service
  packaging/moat-modbus/systemd/moat-modbus-poll@.service
  packaging/moat-mqtt/systemd/moat-mqtt.service
  packaging/moat/debian/rules
  packaging/moat/moat.yaml
Due: check-yaml

Full paths in indirect lookups
  examples/moat-micro/esp-baguette.cfg
  moat/micro/_embed/boards/esp32/config.cfg
Due: none

FIX ObjSequence
  moat/lib/micro/__init__.py
  moat/micro/_embed/lib/moat/lib/micro/__init__.py
Due: pytest-modified

Wait for serial port to appear
  moat/micro/part/serial.py
Due: pytest-modified

missing `await`
  moat/micro/setup.py
Due: pytest-modified

don't add defalt config in $base
  docs/moat-micro/config-esp32.yml
Due: check-yaml

micro tutorial update, incomplete
  docs/moat-micro/tutorial.md
Due: none

Report host/port to connect to when erroring
  moat/lib/stream/tcp.py
Due: pytest-modified

attrdict/config: call updated_ hooks
  moat/lib/rpc/cmd/_base.py
  moat/lib/rpc/cmd/tree/_dir.py
  moat/lib/run/__init__.py
  moat/micro/app/cfg.py
  moat/util/_merge.py
Due: pytest-modified

Append underscore to `set_env` and `with_config`
  docs/moat-lib-config/index.md
  moat/kv/mock/mqtt.py
  moat/lib/config/_impl.py
  moat/src/test.py
  tests/conftest.py
Due: pytest-modified

Appept string keys in `set_env_`
  moat/lib/config/_impl.py
Due: pytest-modified

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  pytest-modified: any of: \.py$
