Repository M-o-a-T/moat: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, pytest-modified

check-yaml:
  name: check yaml
  description: checks yaml files (understands MoaT tags)
  entry: pre_commit_hooks/check-yaml
  language: python
  args:
  - --allow-multiple-documents

pytest-modified:
  name: pytest on modified modules
  description: runs pytest on test directories for modified moat modules
  entry: pre_commit_hooks/pytest
  language: python
  pass_filenames: true
  require_serial: true

stupid typos
  moat/src/build.py
Due: pytest-modified

Clean up all debian/rules files
  packaging/moat-kv-akumuli/debian/rules
  packaging/moat-kv-gpio/debian/rules
  packaging/moat-kv-ha/debian/rules
  packaging/moat-kv-knx/debian/rules
  packaging/moat-kv-ow/debian/rules
  packaging/moat-kv-wago/debian/rules
  packaging/moat-kv/debian/rules
  packaging/moat-lib-broadcast/debian/rules
  packaging/moat-lib-codec/debian/rules
  packaging/moat-lib-config/debian/rules
  packaging/moat-lib-diffiehellman/debian/rules
  packaging/moat-lib-gpio/debian/rules
  packaging/moat-lib-micro/debian/rules
  packaging/moat-lib-mqtt/debian/rules
  packaging/moat-lib-pid/debian/rules
  packaging/moat-lib-priomap/debian/rules
  packaging/moat-lib-proxy/debian/rules
  packaging/moat-lib-repl/debian/rules
  packaging/moat-lib-ring/debian/rules
  packaging/moat-lib-rpc/debian/rules
  packaging/moat-lib-run/debian/rules
  packaging/moat-lib-stream/debian/rules
  packaging/moat-link-server/debian/rules
  packaging/moat-link/debian/rules
  packaging/moat-micro/debian/rules
  packaging/moat-modbus-dev-_data/debian/rules
  packaging/moat-modbus/debian/rules
  packaging/moat-mqtt/debian/rules
  packaging/moat-nodered/debian/rules
  packaging/moat-src/debian/rules
  packaging/moat-util/debian/rules
Due: none

Add a bunch of overrides
  packaging/moat-kv-akumuli/debian/py3dist-overrides
  packaging/moat-kv-gpio/debian/py3dist-overrides
  packaging/moat-kv-ha/debian/py3dist-overrides
  packaging/moat-kv-knx/debian/py3dist-overrides
  packaging/moat-kv-ow/debian/py3dist-overrides
  packaging/moat-kv-wago/debian/py3dist-overrides
  packaging/moat-kv/debian/py3dist-overrides
  packaging/moat-lib-codec/debian/py3dist-overrides
  packaging/moat-lib-pid/debian/py3dist-overrides
  packaging/moat-link-server/debian/py3dist-overrides
  packaging/moat-link/debian/py3dist-overrides
  packaging/moat-modbus/debian/py3dist-overrides
  packaging/moat/debian/py3dist-overrides
Due: none

Removed some unnecessary(?) deps
  packaging/moat-kv/pyproject.toml
  packaging/moat-micro/pyproject.toml
Due: none

More overrides
  packaging/moat-lib-gpio/debian/py3dist-overrides
  packaging/moat-lib-ring/debian/py3dist-overrides
  packaging/moat-mqtt/debian/py3dist-overrides
  packaging/moat-src/debian/py3dist-overrides
  packaging/moat-util/debian/py3dist-overrides
Due: none

Don't run tests when debuild-ing.
  moat/src/build.py
Due: pytest-modified

Minor template updates
  moat/src/_templates/packaging/debian/changelog
  moat/src/_templates/packaging/debian/control
  moat/src/_templates/packaging/debian/rules
Due: none

wrong mode
  packaging/moat-lib-proxy/debian/rules
Due: none

Wrong import location
  moat/lib/stream/base.py
Due: pytest-modified

Small doc update
  moat/lib/rpc/base.py
  moat/lib/stream/base.py
Due: pytest-modified

skip_empty no longer exists
  moat/modbus/dev/_data/heating/KWB/code/alarms.py
Due: pytest-modified

skip_empty 2
  moat/kv/inv/model.py
  moat/kv/obj/__init__.py
Due: pytest-modified

Use pkgrev for packaging changes
  moat/src/_repo.py
Due: pytest-modified

Missing changelogs
  packaging/moat-lib-broadcast/debian/changelog
  packaging/moat-lib-rpc/debian/changelog
  packaging/moat-lib-run/debian/changelog
Due: none

Versioning and tagging fixup
  moat/src/_repo.py
  moat/src/build.py
Due: pytest-modified

More last-tag fixups
  moat/src/build.py
  moat/util/exec.py
Due: pytest-modified

Build version 25.7.1
  versions.yaml
Due: check-yaml

Drop pkg revision when real rev changes
  moat/src/build.py
Due: pytest-modified

Build version 25.7.2
  packaging/moat-lib-broadcast/debian/changelog
  packaging/moat-lib-broadcast/pyproject.toml
  packaging/moat-lib-rpc/debian/changelog
  packaging/moat-lib-rpc/pyproject.toml
  packaging/moat-lib-run/debian/changelog
  packaging/moat-lib-run/pyproject.toml
  packaging/moat-src/debian/changelog
  packaging/moat-src/pyproject.toml
  packaging/moat-util/debian/changelog
  packaging/moat-util/pyproject.toml
  versions.yaml
Due: check-yaml

Add overrides
  packaging/moat-lib-broadcast/debian/py3dist-overrides
  packaging/moat-lib-rpc/debian/py3dist-overrides
  packaging/moat-lib-run/debian/py3dist-overrides
Due: none

Build version 25.7.3
  packaging/moat-lib-broadcast/debian/changelog
  packaging/moat-lib-rpc/debian/changelog
  packaging/moat-lib-run/debian/changelog
  packaging/moat-src/debian/changelog
  packaging/moat-util/debian/changelog
  versions.yaml
Due: check-yaml

Package naming and dependency fixups
  packaging/moat-lib-broadcast/debian/control
  packaging/moat-lib-config/debian/control
  packaging/moat-lib-micro/debian/control
  packaging/moat-lib-proxy/debian/control
  packaging/moat-lib-run/debian/control
  packaging/moat/debian/py3dist-overrides
Due: none

Build version 25.7.4
  packaging/moat-lib-broadcast/debian/changelog
  packaging/moat-lib-config/debian/changelog
  packaging/moat-lib-micro/debian/changelog
  packaging/moat-lib-proxy/debian/changelog
  packaging/moat-lib-run/debian/changelog
  packaging/moat/debian/changelog
  versions.yaml
Due: check-yaml

Build version 25.7.5
  packaging/moat/debian/changelog
  packaging/moat/pyproject.toml
  versions.yaml
Due: check-yaml

Trimmed
  packaging/moat/pyproject.toml
Due: none

Build version 25.7.6
  packaging/moat/debian/changelog
  versions.yaml
Due: check-yaml

Use 0xFA as the default frame character.
  docs/moat-micro/config.md
  moat/micro/_embed/boards/esp32/c6_gaggenau/config.cfg
  moat/micro/_embed/boards/esp32/s3/config.cfg
  packaging/moat-micro/deploy/esp.cfg
  packaging/moat-micro/deploy/rp2.cfg
  tests/moat_micro/test_average.py
  tests/moat_micro/test_cfg.py
Due: pytest-modified

Minor MPy update
  .beads/issues.jsonl
Due: none

Beads setup
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/interactions.jsonl
  .beads/metadata.json
Due: check-yaml

Beads setup
  .gitattributes
  AGENTS.md
Due: none

spurious
  packaging/moat-ems-inv/configs/gitconfig
Due: none

Fix .gitmodules stupidity
  .gitmodules
Due: none

minor edit
  AGENTS.md
Due: none

set sync-branch
  .beads/config.yaml
Due: check-yaml

Add claude stuff
  .claude/settings.json
Due: none

Task update
  .beads/issues.jsonl
Due: none

Task update
  OFF/TODO.md
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  pytest-modified: any of: \.py$
