Repository M-o-a-T/moat: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, pytest-modified

check-yaml:
  name: check yaml
  description: checks yaml files (understands MoaT tags)
  entry: pre_commit_hooks/check-yaml
  language: python
  args:
  - --allow-multiple-documents

pytest-modified:
  name: pytest on modified modules
  description: runs pytest on test directories for modified moat modules
  entry: pre_commit_hooks/pytest
  language: python
  pass_filenames: true
  require_serial: true

Build version 25.8.0
  packaging/moat-kv-akumuli/debian/changelog
  packaging/moat-kv-gpio/debian/changelog
  packaging/moat-kv-ha/debian/changelog
  packaging/moat-kv-knx/debian/changelog
  packaging/moat-kv-ow/debian/changelog
  packaging/moat-kv-wago/debian/changelog
  packaging/moat-kv/debian/changelog
  packaging/moat-lib-broadcast/debian/changelog
  packaging/moat-lib-codec/debian/changelog
  packaging/moat-lib-config/debian/changelog
  packaging/moat-lib-gpio/debian/changelog
  packaging/moat-lib-micro/debian/changelog
  packaging/moat-lib-pid/debian/changelog
  packaging/moat-lib-priomap/debian/changelog
  packaging/moat-lib-proxy/debian/changelog
  packaging/moat-lib-repl/debian/changelog
  packaging/moat-lib-ring/debian/changelog
  packaging/moat-lib-rpc/debian/changelog
  packaging/moat-lib-run/debian/changelog
  packaging/moat-lib-stream/debian/changelog
  packaging/moat-link-gate/debian/changelog
  packaging/moat-link-notify/debian/changelog
  packaging/moat-link-server/debian/changelog
  packaging/moat-link/debian/changelog
  packaging/moat-micro/debian/changelog
  packaging/moat-modbus/debian/changelog
  packaging/moat-mqtt/debian/changelog
  packaging/moat-src/debian/changelog
  packaging/moat-util/debian/changelog
  packaging/moat/debian/changelog
  versions.yaml
Due: check-yaml

bd sync: 2026-01-05 16:55:41
  .beads/issues.jsonl
Due: none

Wrong path
  docs/moat-lib-mqtt/index.rst
Due: none

Add initial sketch for pydantic support to moat.lib.config
  moat/lib/config/base.py
  packaging/moat-lib-config/pyproject.toml
  pyproject.toml
  tests/moat_lib_config/test_base.py
Due: pytest-modified

bd sync: 2026-01-06 13:20:23
  .beads/issues.jsonl
Due: none

literalinclude plus language, not include plus lang
  packaging/moat-lib-rpc/README.md
Due: none

Fix moat-056: "Unknown target name" doc error
  moat/lib/run/__init__.py
Due: pytest-modified

Documentation uses sphinx-tabs. Closes: moat-mpc
  pyproject.toml
Due: none

Fix moat-xmx: Move messages.md from moat-micro to moat-lib-rpc
  docs/moat-lib-rpc/index.md
  docs/moat-lib-rpc/messages.md
  docs/moat-micro/index.md
Due: none

Convert moat-kv/code.md from HTML to Myst/Markdown syntax
  docs/moat-kv/code.md
Due: none

Fix moat-2qp: Escape inline emphasis markers in moat.lib.micro docstrings
  moat/lib/micro/__init__.py
Due: pytest-modified

Added missing start/end tags
  packaging/moat-ems-inv/README.md
  packaging/moat-ems-sched/README.md
  packaging/moat-ems/README.md
  packaging/moat-kv-akumuli/README.md
  packaging/moat-kv-cal/README.md
  packaging/moat-kv-gpio/README.md
  packaging/moat-kv-ha/README.md
  packaging/moat-kv-inv/README.md
  packaging/moat-kv-knx/README.md
  packaging/moat-kv-ow/README.md
  packaging/moat-kv-wago/README.md
  packaging/moat-kv/README.md
  packaging/moat-lib-broadcast/README.md
  packaging/moat-lib-codec/README.md
  packaging/moat-lib-diffiehellman/README.md
  packaging/moat-lib-gpio/README.md
  packaging/moat-link-gate/README.md
  packaging/moat-link-notify/README.md
  packaging/moat-mqtt/README.md
  packaging/moat-util/README.md
  packaging/moat/README.md
Due: none

Workflow update
  AGENTS.md
Due: none

Fix empty crossref, moat-ww6
  docs/moat-lib-rpc/messages.md
  docs/moat-micro/hacking.md
Due: none

Fix moat-ch9 (almost): Add empty `__all__` exports
  moat/db/label/__init__.py
  moat/dev/sew/__init__.py
  moat/ems/battery/__init__.py
  moat/ems/sched/__init__.py
  moat/kv/akumuli/__init__.py
  moat/kv/cal/__init__.py
  moat/kv/gpio/__init__.py
  moat/kv/ha/__init__.py
  moat/kv/inv/__init__.py
  moat/kv/knx/__init__.py
  moat/kv/ow/__init__.py
  moat/kv/wago/__init__.py
Due: pytest-modified

Fix moat-ch9: Add empty __all__ to moat.link.server
  moat/link/server/__init__.py
Due: pytest-modified

Use NoneType from types
  moat/lib/run/__init__.py
Due: pytest-modified

Stale imports
  moat/db/_cfg.yaml
Due: check-yaml

Fix moat-iar: Change default_role from 'python' to 'py'
  docs/conf.py
Due: pytest-modified

Fix moat-ww6: Fix missing cross-reference targets
  docs/index.md
  docs/moat-link/index.md
  docs/moat-micro/hacking.md
  packaging/moat-link/README.md
Due: none

Add documentation structure for moat-link-gate and moat-link-notify
  docs/moat-link-gate/api.rst
  docs/moat-link-gate/index.md
  docs/moat-link-notify/api.rst
  docs/moat-link-notify/index.md
  docs/moat-link/index.md
Due: none

Formatted docs/conf.py
  docs/conf.py
Due: pytest-modified

bd sync: 2026-01-07 14:31:00
  .beads/issues.jsonl
Due: none

bd sync: 2026-01-07 14:31:01
  .beads/issues.jsonl
Due: none

Not interesting
  docs/moat-link-gate/index.md
Due: none

Need to include sphinx-tabs
  docs/conf.py
Due: pytest-modified

Fix moat-32t: various docstring errors
  moat/lib/micro/__init__.py
  moat/lib/proxy/_proxy.py
  moat/lib/run/__init__.py
  moat/util/_merge.py
  moat/util/ctx.py
  moat/util/path.py
Due: pytest-modified

fix default role nonsense
  docs/conf.py
Due: pytest-modified

Docstring for `breakpoint` was not sphinx compatible
  moat/lib/micro/__init__.py
Due: pytest-modified

revert a37e0290a5c
  moat/lib/micro/__init__.py
Due: pytest-modified

config: Split module registration from processing
  moat/__init__.py
  moat/cad/__init__.py
  moat/db/__init__.py
  moat/dev/sew/__init__.py
  moat/ems/battery/__init__.py
  moat/ems/sched/__init__.py
  moat/kv/__init__.py
  moat/kv/akumuli/__init__.py
  moat/kv/cal/__init__.py
  moat/kv/gpio/__init__.py
  moat/kv/ha/__init__.py
  moat/kv/inv/__init__.py
  moat/kv/knx/__init__.py
  moat/kv/ow/__init__.py
  moat/kv/wago/__init__.py
  moat/lib/config/__init__.py
  moat/lib/config/_impl.py
  moat/lib/config/_reg.py
  moat/link/__init__.py
  moat/link/server/__init__.py
  moat/micro/__init__.py
  moat/mqtt/__init__.py
  moat/src/__init__.py
Due: pytest-modified

Move Path stuff to moat.lib.path
  docs/moat-lib-path/api.rst
  docs/moat-lib-path/index.md
  docs/moat-lib.md
  moat/lib/path/__init__.py
  moat/lib/path/_impl.py
  moat/util/__init__.py
  moat/util/_cbor.py
  moat/util/_main.py
  moat/util/_msgpack.py
  moat/util/dict.py
  moat/util/misc.py
  moat/util/yaml.py
  packaging/moat-lib-path/Makefile
  packaging/moat-lib-path/README.md
  packaging/moat-lib-path/debian/changelog
  packaging/moat-lib-path/debian/control
  packaging/moat-lib-path/debian/rules
  packaging/moat-lib-path/pyproject.toml
  packaging/moat-lib-path/src/moat
  tests/moat_lib_path/test_path.py
  tests/moat_util/test_dict.py
Due: pytest-modified

Moved moat-specific sub-codecs under moat.lib.codec
  moat/bus/server/_main.py
  moat/ems/sched/mode/file.py
  moat/kv/command/dump/__init__.py
  moat/lib/codec/__init__.py
  moat/lib/codec/_moat_cbor.py
  moat/lib/codec/_moat_msgpack.py
  moat/lib/codec/moat_cbor.py
  moat/lib/codec/moat_kv.py
  moat/lib/codec/moat_msgpack.py
  moat/lib/rpc/anyio.py
  moat/link/backend/__init__.py
  moat/link/backend/mqtt.py
  moat/link/cmd/raw.py
  moat/link/meta.py
  moat/link/server/_server.py
  moat/micro/_embed/lib/moat/lib/codec/moat_cbor.py
  moat/micro/_embed/lib/moat/lib/codec/moat_msgpack.py
  moat/micro/_embed/lib/moat/lib/path.py
  moat/micro/_embed/lib/moat/micro/main.py
  moat/micro/_embed/lib/moat/util/__init__.py
  moat/micro/_embed/lib/moat/util/cbor.py
  moat/micro/_embed/lib/moat/util/msgpack.py
  moat/util/_main.py
  moat/util/misc.py
  moat/util/msg.py
  packaging/moat-kv/debian/control
  packaging/moat-kv/pyproject.toml
  packaging/moat-link-server/debian/control
  packaging/moat-link-server/pyproject.toml
  packaging/moat-micro/debian/control
  pyproject.toml
  tests/moat_lib_path/test_path.py
  tests/moat_link_server/test_sync.py
  tests/moat_util/test_codec_cbor.py
Due: pytest-modified

Minor cleanup
  moat/lib/codec/errors.py
  moat/util/impl.py
Due: pytest-modified

Some more doc fixups
  moat/ems/inv/__init__.py
  moat/lib/victron/dbus/monitor.py
  moat/lib/victron/dbus/utils.py
  packaging/moat-kv-ha/README.md
  pyproject.toml
Due: pytest-modified

Some docstring fixes
  docs/conf.py
  docs/moat-micro/hacking.md
  moat/lib/codec/_base.py
  moat/lib/config/_impl.py
  moat/lib/micro/__init__.py
  moat/lib/mqtt/async_client.py
  moat/lib/pid/_impl.py
Due: pytest-modified

Fix Sphinx (for the most part).
  _typeshed/__init__.py
  docs/conf.py
  moat/ems/battery/_base.py
  moat/lib/codec/_base.py
  moat/lib/priomap/_impl.py
  moat/lib/repl/_test.py
  moat/lib/rpc/base.py
  moat/lib/stream/anyio.py
  moat/lib/stream/base.py
  moat/link/__init__.py
  moat/link/gate/__init__.py
  moat/micro/app/remote.py
  moat/micro/fuse.py
  moat/util/impl.py
  packaging/moat-ems/README.md
  packaging/moat-kv-gpio/README.md
  pyproject.toml
Due: pytest-modified

Inexact comparison: use the tolerances of both numbers
  moat/util/dict.py
  moat/util/inexact.py
Due: pytest-modified

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  pytest-modified: any of: \.py$
