Repository M-o-a-T/moat: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, pytest-modified

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      # id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.3
    hooks:
      - id: ruff
        args: [--fix, --show-fixes]
      - id: ruff-format
        exclude: "docs/.*"

  - repo: local
    hooks:
    - id: check-yaml
      name: check yaml
      description: checks yaml files (understands MoaT tags)
      entry: pre_commit_hooks/check-yaml
      language: python
      types: [yaml]
      args: [--allow-multiple-documents]

    - id: pytest-modified
      name: pytest on modified modules
      description: runs pytest on test directories for modified moat modules
      entry: pre_commit_hooks/pytest
      language: python
      types: [python]
      pass_filenames: true
      require_serial: true

  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.406
    hooks:
    - id: pyright
      files: "moat/lib/pid|moat/util/path.py|tests/moat_lib_pid|tests/moat_util/test_path.py"
      additional_dependencies:
        - simpleeval
        - pytest
        - anyio
        - numpy

Teach RTC better arg handling
  moat/micro/app/rtc.py
Due: pytest-modified

Less debug
  docs/moat-micro/tutorial.md
  moat/lib/rpc/cmd/tree/layer.py
Due: pytest-modified

Use a single `!` for local commands
  moat/lib/rpc/stream/base.py
Due: pytest-modified

Missing update
  moat/lib/pid/_impl.py
Due: pytest-modified

Add built-in path prefixes
  moat/lib/rpc/stream/cmdmsg.py
Due: pytest-modified

Repeater: error handling was terminally broken
  moat/micro/_util.py
Due: pytest-modified

Fix import
  moat/micro/app/net/tcp/link.py
Due: pytest-modified

Wrong result format
  moat/micro/part/pid.py
Due: pytest-modified

State message handler needs setup
  moat/micro/part/pid.py
Due: pytest-modified

TODO
  moat/micro/part/pwm.py
Due: pytest-modified

Cleanup and Fixup and whatnot
  moat/lib/rpc/cmd/tree/dir.py
  moat/link/client.py
  moat/micro/app/cfg.py
  moat/micro/app/rtc.py
  moat/micro/part/fake.py
  moat/micro/part/pin.py
  tests/moat_micro/test_array.py
  tests/moat_micro/test_cfg.py
  tests/moat_micro/test_connect.py
  tests/moat_micro/test_connect_remote.py
  tests/moat_micro/test_pid.py
  tests/moat_micro/test_relay.py
  tests/moat_micro/test_rtc.py
Due: pytest-modified

More fixups
  moat/lib/rpc/cmd/tree/dir.py
  moat/lib/rpc/stream/cmdmsg.py
Due: pytest-modified

Clean up link.Cmd
  moat/micro/app/link.py
  tests/moat_micro/test_link.py
  tests/moat_micro/test_pid.py
Due: pytest-modified

Needs PYTHONPATH
  packaging/moat-modbus-dev-_data/build.sh
Due: none

estore the changelog, not whatever
  moat/src/build.py
Due: pytest-modified

more build
  packaging/moat-api-bosch/debian/changelog
  packaging/moat-api-bosch/pyproject.toml
  packaging/moat-lib-path/debian/.gitignore
  packaging/moat-lib-path/debian/changelog
  packaging/moat-lib-path/debian/rules
  packaging/moat-lib-path/pyproject.toml
  versions.yaml
Due: check-yaml

Report stdout/stderr on failure
  moat/src/build.py
Due: pytest-modified

actually install, but no testing
  packaging/moat/debian/moat.install
  packaging/moat/debian/rules
Due: none

build 3
  packaging/moat-micro/pyproject.toml
  packaging/moat-src/pyproject.toml
  packaging/moat/debian/changelog
Due: none

Fix changelog update
  moat/src/build.py
Due: pytest-modified

pkg 4
  packaging/moat-kv-akumuli/debian/changelog
  packaging/moat-kv-gpio/debian/changelog
  packaging/moat-kv-ha/debian/changelog
  packaging/moat-kv-knx/debian/changelog
  packaging/moat-kv-ow/debian/changelog
  packaging/moat-kv-wago/debian/changelog
  packaging/moat-kv/debian/changelog
  packaging/moat-lib-broadcast/debian/changelog
  packaging/moat-lib-codec/debian/changelog
  packaging/moat-lib-config/debian/changelog
  packaging/moat-lib-gpio/debian/changelog
  packaging/moat-lib-micro/debian/changelog
  packaging/moat-lib-pid/debian/changelog
  packaging/moat-lib-priomap/debian/changelog
  packaging/moat-lib-proxy/debian/changelog
  packaging/moat-lib-repl/debian/changelog
  packaging/moat-lib-ring/debian/changelog
  packaging/moat-lib-rpc/debian/changelog
  packaging/moat-lib-stream/debian/changelog
  packaging/moat-link-gate/debian/changelog
  packaging/moat-link-notify/debian/changelog
  packaging/moat-link-server/debian/changelog
  packaging/moat-link/debian/changelog
  packaging/moat-micro/debian/changelog
  packaging/moat-modbus-dev-_data/debian/changelog
  packaging/moat-modbus/debian/changelog
  packaging/moat-mqtt/debian/changelog
  packaging/moat-src/debian/changelog
  packaging/moat-util/debian/changelog
  packaging/moat/debian/changelog
  versions.yaml
Due: check-yaml

Pling 5
  packaging/moat-micro/pyproject.toml
  packaging/moat-src/pyproject.toml
  versions.yaml
Due: check-yaml

Fix src fix the right way
  moat/src/build.py
Due: pytest-modified

fixit
  packaging/moat-modbus-dev-_data/build.sh
Due: none

Build version 26.0.0
  packaging/moat-api-bosch/debian/changelog
  packaging/moat-kv-akumuli/debian/changelog
  packaging/moat-kv-gpio/debian/changelog
  packaging/moat-kv-ha/debian/changelog
  packaging/moat-kv-knx/debian/changelog
  packaging/moat-kv-ow/debian/changelog
  packaging/moat-kv-wago/debian/changelog
  packaging/moat-kv/debian/changelog
  packaging/moat-lib-broadcast/debian/changelog
  packaging/moat-lib-codec/debian/changelog
  packaging/moat-lib-config/debian/changelog
  packaging/moat-lib-gpio/debian/changelog
  packaging/moat-lib-micro/debian/changelog
  packaging/moat-lib-path/debian/changelog
  packaging/moat-lib-pid/debian/changelog
  packaging/moat-lib-priomap/debian/changelog
  packaging/moat-lib-proxy/debian/changelog
  packaging/moat-lib-repl/debian/changelog
  packaging/moat-lib-ring/debian/changelog
  packaging/moat-lib-rpc/debian/changelog
  packaging/moat-lib-run/debian/changelog
  packaging/moat-lib-stream/debian/changelog
  packaging/moat-link-gate/debian/changelog
  packaging/moat-link-notify/debian/changelog
  packaging/moat-link-server/debian/changelog
  packaging/moat-link/debian/changelog
  packaging/moat-micro/debian/changelog
  packaging/moat-modbus-dev-_data/debian/changelog
  packaging/moat-modbus/debian/changelog
  packaging/moat-mqtt/debian/changelog
  packaging/moat-src/debian/changelog
  packaging/moat-util/debian/changelog
  packaging/moat/debian/changelog
  versions.yaml
Due: check-yaml

Typo
  moat/lib/run/__init__.py
Due: pytest-modified

Missing dependency
  packaging/moat-util/pyproject.toml
Due: none

Docstring fixes
  moat/modbus/client.py
  moat/modbus/dev/device.py
  moat/modbus/server.py
Due: pytest-modified

moat-d2d: Add comprehensive documentation for moat modbus dev poll
  docs/moat-modbus/dev-poll.md
  docs/moat-modbus/index.md
Due: none

bd sync: 2026-02-09 16:54:07
  .beads/issues.jsonl
Due: none

moat-d2d.6: Add test infrastructure for dev poll server features
  tests/moat_modbus/test_dev_server.py
Due: pytest-modified

moat-d2d.1: Apply transformations when serving registers
  moat/modbus/dev/device.py
  moat/modbus/dev/poll.py
  tests/moat_modbus/test_dev_server.py
Due: pytest-modified

moat-d2d.2: Implement register remapping via 'server' parameter
  moat/modbus/dev/poll.py
  tests/moat_modbus/test_dev_server.py
Due: pytest-modified

moat-d2d.3: Recognize 'forward' parameter (partial implementation)
  docs/moat-modbus/dev-poll.md
  moat/modbus/dev/poll.py
  tests/moat_modbus/test_dev_server.py
Due: pytest-modified

moat-d2d.4: Support 'const' parameter for fixed and MQTT values
  moat/modbus/dev/device.py
  moat/modbus/dev/link.py
  tests/moat_modbus/test_dev_server.py
Due: pytest-modified

moat-d2d.5: Document age-based re-reading (deferred)
  docs/moat-modbus/dev-poll.md
  tests/moat_modbus/test_dev_server.py
Due: pytest-modified

bd sync: 2026-02-09 17:57:38
  .beads/issues.jsonl
Due: none

Fix moat-d2d.4: const: !P must update read value, not write value
  moat/modbus/dev/link.py
  tests/moat_modbus/test_dev_server.py
Due: pytest-modified

Fix moat-d2d.5: age-based slot re-reading with MQTT notification separation
  moat/modbus/client.py
  moat/modbus/dev/device.py
  moat/modbus/dev/link.py
  moat/modbus/types.py
  tests/moat_modbus/test_dev_server.py
  tests/moat_modbus/test_link.py
Due: pytest-modified
