Repository M-o-a-T/moat: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, pytest-modified

check-yaml:
  name: check yaml
  description: checks yaml files (understands MoaT tags)
  entry: pre_commit_hooks/check-yaml
  language: python
  args:
  - --allow-multiple-documents

pytest-modified:
  name: pytest on modified modules
  description: runs pytest on test directories for modified moat modules
  entry: pre_commit_hooks/pytest
  language: python
  pass_filenames: true
  require_serial: true

Add ts/msg plan: TypeScript port of moat.lib.rpc
  ts/msg/PLAN.md
Due: none

Fix moat-lib-rpc: correct the message-header ID encoding docs
  packaging/moat-lib-rpc/README.md
Due: none

Revise moat-lib-rpc plan: scope/phasing/MIT; clarify test-output rule in AGENTS.md
  AGENTS.md
  ts/moat-lib-rpc/PLAN.md
  ts/msg/PLAN.md
Due: none

more
  AGENTS.md
Due: none

moat-ad2: revise TS port plan after review against the code
  ts/moat-lib-rpc/PLAN.md
Due: none

add option for manual link trimming
  docs/conf.py
Due: pytest-modified

Pass arguments to as_service through to announcing
  moat/link/announce.py
Due: pytest-modified

add typing
  moat/link/announce.py
Due: pytest-modified

Wago and KNX gates need to be singular
  moat/link/knx/_main.py
  moat/link/wago/_main.py
Due: pytest-modified

"make setup" in workdirs
  AGENTS.md
  Makefile
Due: none

submodules: recurse
  moat/src/submodule.py
Due: pytest-modified

src submodule get: prefer SSH, fall back to HTTPS
  moat/src/submodule.py
  tests/moat_src/test_basic.py
Due: pytest-modified

convert submodules' https URLs to ssh if warranted
  moat/src/submodule.py
  pyproject.toml
  tests/moat_src/test_basic.py
Due: pytest-modified

Improve moat.link typing
  moat/link/announce.py
  packaging/moat-link/pyproject.toml
Due: pytest-modified

moat.link.ow, preliminary
  docs/moat-link-ow/api.rst
  docs/moat-link-ow/index.md
  docs/moat-link/index.md
  moat/link/ow/__init__.py
  moat/link/ow/_cfg.yaml
  moat/link/ow/_main.py
  moat/link/ow/model.py
  moat/link/ow/task.py
  moat/link/ow/worker.py
  packaging/moat-link-ow/Makefile
  packaging/moat-link-ow/README.md
  packaging/moat-link-ow/debian/.gitignore
  packaging/moat-link-ow/debian/changelog
  packaging/moat-link-ow/debian/control
  packaging/moat-link-ow/debian/py3dist-overrides
  packaging/moat-link-ow/debian/rules
  packaging/moat-link-ow/pyproject.toml
  packaging/moat-link-ow/systemd/moat-link-ow@.service
  tests/moat_link_ow/__init__.py
  tests/moat_link_ow/test_cli.py
  tests/moat_link_ow/test_integration.py
  tests/moat_link_ow/test_model.py
  tests/moat_link_ow/test_worker.py
Due: check-yaml, pytest-modified

Default prefix: 1wire, not ow
  moat/link/ow/_cfg.yaml
Due: check-yaml

Don't die on key error here
  moat/link/wago/model.py
Due: pytest-modified

Fix moat-qte: unblock the pre-commit ty gate
  moat/link/wago/model.py
  moat/src/_main.py
  moat/src/_toml.py
  moat/src/build.py
  moat/src/dep-update.py
  tests/moat_src/conftest.py
Due: pytest-modified

ty is installed now
  .pre-commit-config.yaml
Due: check-yaml

exception cleanup: do raise the original
  moat/src/test.py
Due: pytest-modified

Notes for refactoring moat.dev.heat
  moat/dev/heat/HEAT.md
Due: none

more AGENTS wordage
  AGENTS.md
Due: none

Fix moat-link-wago: clear one-shot/pulse state on re-trigger
  moat/link/wago/worker.py
  tests/moat_link_wago/test_worker.py
Due: pytest-modified

Drop debug logging from moat-link-wago one-shot worker
  moat/link/wago/worker.py
Due: pytest-modified

One-shot mode: clear
  moat/link/wago/worker.py
Due: pytest-modified

mode fix
  packaging/moat-link-ow/debian/rules
Due: none

Add explicit deps
  packaging/moat-link-metrics-backend-akumuli/pyproject.toml
  packaging/moat-link-metrics-backend-victoria/pyproject.toml
  versions.yaml
Due: check-yaml

Build version 26.2.9
  packaging/moat-db-label/debian/changelog
  packaging/moat-db-rain/debian/changelog
  packaging/moat-db-thing/debian/changelog
  packaging/moat-db/debian/changelog
  packaging/moat-kv-akumuli/debian/changelog
  packaging/moat-kv/debian/changelog
  packaging/moat-lib-config/debian/changelog
  packaging/moat-lib-micro/debian/changelog
  packaging/moat-lib-repl/debian/changelog
  packaging/moat-lib-rpc/debian/changelog
  packaging/moat-lib-run/debian/changelog
  packaging/moat-lib-stream/debian/changelog
  packaging/moat-link-gate/debian/changelog
  packaging/moat-link-job/debian/changelog
  packaging/moat-link-knx/debian/changelog
  packaging/moat-link-metrics-backend-akumuli/debian/changelog
  packaging/moat-link-metrics-backend-victoria/debian/changelog
  packaging/moat-link-metrics/debian/changelog
  packaging/moat-link-ow/debian/changelog
  packaging/moat-link-server/debian/changelog
  packaging/moat-link-wago/debian/changelog
  packaging/moat-link-wago/pyproject.toml
  packaging/moat-link/debian/changelog
  packaging/moat-link/pyproject.toml
  packaging/moat-micro/debian/changelog
  packaging/moat-modbus/debian/changelog
  packaging/moat-src/debian/changelog
  packaging/moat-util/debian/changelog
  versions.yaml
Due: check-yaml

Typo
  examples/moat-ems-sched/test.py
Due: pytest-modified

use current enumtools
  pyproject.toml
Due: none

fix sphinx warnings
  docs/conf.py
  docs/moat-util/api.rst
Due: pytest-modified

Fix link-job packaging
  packaging/moat-link-job/debian/rules
Due: none

Build version 26.2.10
  packaging/moat-link-job/debian/changelog
  packaging/moat-link-wago/debian/changelog
  packaging/moat-link/debian/changelog
  versions.yaml
Due: check-yaml

Report unchanged externals only when verbose
  moat/src/build.py
  moat/src/submodule.py
Due: pytest-modified

Fix moat.link: "mt link job run" crashed
  moat/link/client.py
Due: pytest-modified

Skip setup on subsequent global link setups
  moat/link/client.py
Due: pytest-modified

Build version 26.2.11
  packaging/moat-db-rain/pyproject.toml
  packaging/moat-kv/pyproject.toml
  packaging/moat-link-gate/pyproject.toml
  packaging/moat-link-job/pyproject.toml
  packaging/moat-link-knx/pyproject.toml
  packaging/moat-link-metrics-backend-akumuli/pyproject.toml
  packaging/moat-link-metrics-backend-victoria/pyproject.toml
  packaging/moat-link-metrics/pyproject.toml
  packaging/moat-link-notify/pyproject.toml
  packaging/moat-link-ow/pyproject.toml
  packaging/moat-link-schema/pyproject.toml
  packaging/moat-link-server/pyproject.toml
  packaging/moat-link-wago/pyproject.toml
  packaging/moat-src/debian/changelog
  packaging/moat-src/pyproject.toml
  packaging/moat/pyproject.toml
  versions.yaml
Due: check-yaml

Build version 26.2.12
  packaging/moat-db-rain/debian/changelog
  packaging/moat-kv/debian/changelog
  packaging/moat-link-gate/debian/changelog
  packaging/moat-link-job/debian/changelog
  packaging/moat-link-knx/debian/changelog
  packaging/moat-link-metrics-backend-akumuli/debian/changelog
  packaging/moat-link-metrics-backend-victoria/debian/changelog
  packaging/moat-link-metrics/debian/changelog
  packaging/moat-link-notify/debian/changelog
  packaging/moat-link-ow/debian/changelog
  packaging/moat-link-schema/debian/changelog
  packaging/moat-link-server/debian/changelog
  packaging/moat-link-wago/debian/changelog
  packaging/moat-link/debian/changelog
  packaging/moat-link/pyproject.toml
  packaging/moat-src/debian/changelog
  packaging/moat/debian/changelog
  versions.yaml
Due: check-yaml

Restart running jobs when their code changes
  moat/link/job/runner.py
  tests/moat_link_job/test_runner.py
Due: pytest-modified

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  pytest-modified: any of: \.py$
