Repository M-o-a-T/moat: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, pytest-modified

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      # id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.3
    hooks:
      - id: ruff
        args: [--fix, --show-fixes]
      - id: ruff-format
        exclude: "docs/.*"

  - repo: local
    hooks:
    - id: check-yaml
      name: check yaml
      description: checks yaml files (understands MoaT tags)
      entry: pre_commit_hooks/check-yaml
      language: python
      types: [yaml]
      args: [--allow-multiple-documents]

    - id: pytest-modified
      name: pytest on modified modules
      description: runs pytest on test directories for modified moat modules
      entry: pre_commit_hooks/pytest
      language: python
      types: [python]
      pass_filenames: true
      require_serial: true

  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.406
    hooks:
    - id: pyright
      files: "moat/lib/pid|moat/util/path.py|tests/moat_lib_pid|tests/moat_util/test_path.py"
      additional_dependencies:
        - simpleeval
        - pytest
        - anyio
        - numpy

link: resolvable ServerLinkLost references in client docstrings
  moat/link/client.py
Due: pytest-modified

db: merge the Alembic heads of moat.db.inv and moat.db.src
  moat/db/alembic/versions/0d6c873819c9.py
  tests/moat_db_src/test_alembic_heads.py
Due: pytest-modified

moat-c0r.1: mt db inv migrate-from-kv imports the MoaT-KV inventory
  docs/moat-db-inv/MIGRATION.md
  moat/db/inv/_main.py
  moat/db/inv/migrate.py
  tests/moat_db_inv/data/kv_inv.yaml
  tests/moat_db_inv/test_migrate.py
Due: check-yaml, pytest-modified

db inv: hide migrate-from-kv
  moat/db/inv/_main.py
Due: pytest-modified

db inv: select hosts and wires by short name (-n NAME)
  moat/db/inv/_main.py
  tests/moat_db_inv/test_migrate.py
Due: pytest-modified

db inv: output via obj.stdout; select nets by address, VLANs by name; iface - lists
  moat/db/inv/_main.py
  tests/moat_db_inv/test_migrate.py
Due: pytest-modified

moat-link: d.search returns its data like d.get
  moat/link/server/_server.py
  tests/moat_link/test_search.py
Due: pytest-modified

db inv: groups run show when no subcommand is given
  moat/db/inv/_main.py
  tests/moat_db_inv/test_migrate.py
Due: pytest-modified

Fix moat-pu9: db test fixtures import all models before create_all
  moat/db/util.py
  tests/moat_db_rain/conftest.py
  tests/moat_db_src/conftest.py
Due: pytest-modified

Add :T root (for tests)
  moat/lib/path/_impl.py
Due: pytest-modified

Fix moat-cur: srepr shows enum members by value
  moat/util/misc.py
  tests/moat_util/test_misc.py
Due: pytest-modified

Fix moat-n84.32: a Link client survives cancellation until its context is left
  moat/link/_cfg.yaml
  moat/link/client.py
  tests/moat_link/test_cancel_cleanup.py
Due: check-yaml, pytest-modified

moat-n84.32: ignore connection errors while a Link client closes
  moat/link/client.py
Due: pytest-modified

moat.link test_mon: drop the STALE early return
  tests/moat_link/test_host.py
Due: pytest-modified

Fix moat-pxqy: `moat link gate X delete` deletes gate.X
  moat/link/gate/_main.py
  tests/moat_link/test_gate_cli.py
Due: pytest-modified

Report user properties when logging MQTT
  moat/lib/mqtt/_types.py
Due: pytest-modified

Add requirements for code testing
  TODO/codetest.md
Due: none

TODO/codetest.md: flesh out the code-snippet test plan
  TODO/codetest.md
Due: none

TODO/codetest.md: reference epic moat-zshv
  TODO/codetest.md
Due: none

TODO/codetest.md: record the snippet decisions
  TODO/codetest.md
Due: none

moat.lib.config: don't let a store's args modify the shared static config
  moat/lib/config/_impl.py
  tests/moat_lib_config/test_redo.py
Due: pytest-modified

moat.opi8: key all-runner state by hostname
  docs/moat-link-job/index.md
  moat/link/job/runner.py
  packaging/moat-link-job/README.md
  tests/moat_link_job/test_runner.py
Due: pytest-modified

Fix moat-vam4: reverse IP→interface/host resolver for moat.db.inv
  moat/db/inv/resolve.py
  tests/moat_db_inv/test_resolve.py
Due: pytest-modified

Fix moat-5m1s: a second subscription to the same MQTT pattern got no messages
  moat/lib/mqtt/async_client.py
  tests/moat_lib_mqtt/test_async_client.py
  tests/moat_link/test_client.py
Due: pytest-modified

don't push to intern by default
  AGENTS.md
Due: none

Add moat-7yb5: connected_vlans per-interface VLAN exposure collector
  docs/moat-db-inv/MIGRATION.md
  moat/db/inv/vlans.py
  tests/moat_db_inv/test_vlans.py
Due: pytest-modified
